force-app/main/default/flows/Convert_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_lead_by_apex</name>
        <label>Convert lead by apex</label>
        <locationX>666</locationX>
        <locationY>2882</locationY>
        <actionName>CTRLeadConvert</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_is_convert</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRLeadConvert</nameSegment>
        <outputParameters>
            <assignToReference>ConvertedAccountId</assignToReference>
            <name>convertedAccountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isExsitingAccount</assignToReference>
            <name>existingAccount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isNewReqHeader</assignToReference>
            <name>isNewReqHeader</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newRequestHeaderId</assignToReference>
            <name>newRequestHeaderId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RedirectToAccount</name>
        <label>Redirect to Account</label>
        <locationX>666</locationX>
        <locationY>3290</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ConvertedAccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:CTRNavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>InputSeller1</name>
        <label>InputSeller</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>InputSeller</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChooseSeller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputBuyer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChooseBuyer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputTypeOfBusinessBranch</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Type_of_Business_Branch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputAccountGroup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountGroup_ScreenComponent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputIsTOPG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsTOPG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InputSeller_0</name>
        <label>InputSeller</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>InputSeller</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_ChooseSeller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputBuyer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_ChooseBuyer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputTypeOfBusinessBranch</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Type_Of_Business_Branch2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputAccountGroup</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountGroup_ScreenComponent2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputIsTOPG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsTOPG2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRec_IsTOPGNotNull</name>
        <label>Update Rec</label>
        <locationX>798</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputSeller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Buyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputBuyer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.TypeOfBusinessBranch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputTypeOfBusinessBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.AccountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputAccountGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.isTOPG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputIsTOPG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecOrg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRec_IsTOPGNull</name>
        <label>Update Rec</label>
        <locationX>534</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputSeller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Buyer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputBuyer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.TypeOfBusinessBranch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputTypeOfBusinessBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.AccountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputAccountGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.isTOPG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecOrg</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>TOPG_Inter</name>
        <choiceText>TOPG : TOP Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TOPG</stringValue>
        </value>
    </choices>
    <choices>
        <name>TOPG_TH</name>
        <choiceText>TOPG : TOP Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TOPG</stringValue>
        </value>
    </choices>
    <choices>
        <name>TRDF_Inter</name>
        <choiceText>TRDF : Trade Receivable/Payable - Foreign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRDF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TRDF_TH</name>
        <choiceText>TRDF : Trade Receivable/Payable - Foreign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRDF</stringValue>
        </value>
    </choices>
    <choices>
        <name>TRDL_Inter</name>
        <choiceText>TRDL : Trade Receivable/Payable - Local</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRDL</stringValue>
        </value>
    </choices>
    <choices>
        <name>TRDL_TH</name>
        <choiceText>TRDL : Trade Receivable/Payable - Local</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRDL</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AccountFound</name>
        <label>Account Found?</label>
        <locationX>831</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>CheckIsTOPGNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckLeadType</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_is_convert</name>
        <label>Check is convert</label>
        <locationX>666</locationX>
        <locationY>2990</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Account_New_Header</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExsitingAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewReqHeader</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted_With_New_Header</targetReference>
            </connector>
            <label>Existing Account &amp; New Header</label>
        </rules>
        <rules>
            <name>Existing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExsitingAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewReqHeader</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted_No_New_Header</targetReference>
            </connector>
            <label>Existing Account</label>
        </rules>
        <rules>
            <name>New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isExsitingAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted_success</targetReference>
            </connector>
            <label>New Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCountry</name>
        <label>Check Country</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Converted_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TH_VN_IDN_SGP_IND_HKG_ARE_KOR_MYS_CHN_JPN</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IDN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SGP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HKG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KOR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MYS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CHN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Country__r.Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JPN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConvertedLead3</targetReference>
            </connector>
            <label>TH VN IDN SGP IND HKG ARE KOR MYS CHN JPN</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCurrentUser</name>
        <label>checkCurrentUser</label>
        <locationX>1458</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerIdEqualsToCurrentUserId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId15Digits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCountry</targetReference>
            </connector>
            <label>OwnerId = CurrentUserId</label>
        </rules>
        <rules>
            <name>OwnerIdNotEqualToCurrentUserId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerId15Digits</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDoNotAllowToConvert_NotOwner</targetReference>
            </connector>
            <label>OwnerId != CurrentUserId</label>
        </rules>
        <rules>
            <name>UnqualifiedLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDoNotAllowToConvert_Unqualified</targetReference>
            </connector>
            <label>UnqualifiedLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIsTOPGNull</name>
        <label>CheckIsTOPGNull</label>
        <locationX>666</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>UpdateRec_IsTOPGNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>IsTOPGIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputIsTOPG</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRec_IsTOPGNull</targetReference>
            </connector>
            <label>IsTOPG = Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLeadType</name>
        <label>CheckLeadType</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlLeadTypeConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRequestForm_Customer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmlLeadTypeConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRequestForm_Supplier</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>Check Record Type</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckIsTOPGNull</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tx</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequestFormFound</name>
        <label>Request Form Found?</label>
        <locationX>380</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>GetSalesArea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_RequestForm</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestForm_Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestForm_Supplier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exception_FoundRequestFormScreen</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesPurchasingViewFound</name>
        <label>Sales/Purchasing View Found?</label>
        <locationX>710</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>CheckIsTOPGNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_OnlySalesArea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSalesArea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPurchasingView</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExceptionFoundOnlySalesAreaScreen</targetReference>
            </connector>
            <label>Found Only Sales Area</label>
        </rules>
        <rules>
            <name>FoundOnlyPurchasingView</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPurchasingView</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSalesArea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExceptionFoundOnlyPurchasingViewScreen</targetReference>
            </connector>
            <label>Found Only Purchasing View</label>
        </rules>
        <rules>
            <name>FoundBothSalesAreaandPurchasingView</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSalesArea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPurchasingView</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExceptionFoundBothSalesandPurchasingViewScreen</targetReference>
            </connector>
            <label>Found Both Sales Area and Purchasing View</label>
        </rules>
    </decisions>
    <description>[01-Jul-2024] Change label for account group picklist in screen (Add-on TOPG).</description>
    <dynamicChoiceSets>
        <name>AccountGroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountGroup__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BuyerPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Buyer__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SellerPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Seller__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfBusinessBranchChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeOfBusinessBranch__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmlBuyer</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Lead.Buyer__c}, &quot;A000&quot;, &quot;A000 TX:Purchasing Organization&quot;, &quot;H100&quot;, &quot;H100 TSV:Purchasing Organization&quot;, &quot;I100&quot;, &quot;I100 TSR:Purchasing Organization&quot;, &quot;S100&quot;, &quot;S100 JSKem:Purchasing Organization&quot;, &quot;N100&quot;, &quot;N100 TX INDIA:Purchasing Organization&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlLeadType</name>
        <dataType>String</dataType>
        <expression>if({!recordId.RecordType.Name} = &quot;TxCustomer&quot;, &quot;customer&quot;, if({!recordId.RecordType.Name} = &quot;TxSupplier&quot;,&quot;supplier&quot;, &quot;customer/supplier&quot;))</expression>
    </formulas>
    <formulas>
        <name>fmlLeadTypeConverted</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Lead.RecordType.DeveloperName} = &quot;TxCustomer&quot;, &quot;Customer&quot;, IF({!Get_Lead.RecordType.DeveloperName} = &quot;TxSupplier&quot;, &quot;Supplier&quot;, &quot;Customer/Supplier&quot;))</expression>
    </formulas>
    <formulas>
        <name>fmlSeller</name>
        <dataType>String</dataType>
        <expression>CASE({!Get_Lead.Seller__c}, &quot;2000&quot;, &quot;2000-TOP NEXT International Company Limited&quot;, &quot;9100&quot;, &quot;9100-TOP SOLVENT VIETNAM&quot;, &quot;9200&quot;, &quot;9200-PT.TIRTA SURYA RAYA&quot;, &quot;9300&quot;, &quot;9300-JSKem Pte Ltd&quot;, &quot;9400&quot;, &quot;9400-TSChem&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>OwnerId15Digits</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId.Owner:User.Id},15)</expression>
    </formulas>
    <formulas>
        <name>recNewAccountLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!ConvertedAccountId}</expression>
    </formulas>
    <formulas>
        <name>recNewReqLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!newRequestHeaderId}</expression>
    </formulas>
    <interviewLabel>Convert Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Acc</name>
        <label>Get Acc</label>
        <locationX>666</locationX>
        <locationY>2774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_lead_by_apex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaxCode1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.TAXNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FormerNameofCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.FormerNameofCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedById</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>1458</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkCurrentUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check existing account in system.</description>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>831</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaxCode1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.TAXNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TaxCode1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAccountGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountGroup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPurchasingView</name>
        <label>Get Purchasing View</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SalesPurchasingViewFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>PurchasingOrg__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PurchasingOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputBuyer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRPurchasingView__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequestForm_Customer</name>
        <label>Get Request Form</label>
        <locationX>116</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestFormFound</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputSeller</elementReference>
            </value>
        </filters>
        <filters>
            <field>fmlAccountTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlLeadTypeConverted</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequestForm_Supplier</name>
        <label>Get Request Form</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RequestFormFound</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PurchasingOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputBuyer</elementReference>
            </value>
        </filters>
        <filters>
            <field>fmlAccountTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fmlLeadTypeConverted</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSalesArea</name>
        <label>Get Sales Area</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPurchasingView</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputSeller</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>C360_SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecOrg</name>
        <label>Update Rec</label>
        <locationX>666</locationX>
        <locationY>2666</locationY>
        <connector>
            <targetReference>Get_Acc</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Converted_Lead</name>
        <label>Converted Lead</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>InputSeller_0</targetReference>
        </connector>
        <fields>
            <name>ConfirmConvert</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you want to convert this lead ?&lt;/p&gt;&lt;p&gt;Company Name: {!Get_Lead.Company}&lt;/p&gt;&lt;p&gt;TAX Number: {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p&gt;Country: {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_ChooseSeller</name>
            <choiceReferences>SellerPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Seller__c</elementReference>
            </defaultValue>
            <fieldText>Seller</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxCustomer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_ChooseBuyer</name>
            <choiceReferences>BuyerPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Buyer__c</elementReference>
            </defaultValue>
            <fieldText>Buyer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxSupplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_Of_Business_Branch2</name>
            <choiceReferences>TypeOfBusinessBranchChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.TypeOfBusinessBranch__c</elementReference>
            </defaultValue>
            <fieldText>Type Of Business (Branch)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxCustomer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxSupplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountGroup_ScreenComponent2</name>
            <choiceReferences>TOPG_Inter</choiceReferences>
            <choiceReferences>TRDL_Inter</choiceReferences>
            <choiceReferences>TRDF_Inter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxCustomer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxSupplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IsTOPG2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>IsTOPG</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>TOP</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Convert</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConvertedLead3</name>
        <label>Converted Lead</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>InputSeller1</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_ConfirmConvert</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you want to convert this lead ?&lt;/p&gt;&lt;p&gt;Company Name: {!Get_Lead.Company}&lt;/p&gt;&lt;p&gt;TAX Number: {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p&gt;Country: {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChooseSeller</name>
            <choiceReferences>SellerPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Seller__c</elementReference>
            </defaultValue>
            <fieldText>Seller</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxCustomer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChooseBuyer</name>
            <choiceReferences>BuyerPicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Buyer__c</elementReference>
            </defaultValue>
            <fieldText>Buyer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxSupplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_of_Business_Branch</name>
            <choiceReferences>TypeOfBusinessBranchChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.TypeOfBusinessBranch__c</elementReference>
            </defaultValue>
            <fieldText>Type of Business (Branch)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxCustomer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxSupplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountGroup_ScreenComponent</name>
            <choiceReferences>TOPG_TH</choiceReferences>
            <choiceReferences>TRDL_TH</choiceReferences>
            <choiceReferences>TRDF_TH</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.AccountGroup__c</elementReference>
            </defaultValue>
            <fieldText>Account Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxCustomer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxSupplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IsTOPG</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>IsTOPG</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.RecordType.DeveloperName</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>TOP</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Convert</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exception_FoundRequestFormScreen</name>
        <label>Exception Found Request Form Screen</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exception_FoundRequestFormTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There has account and request form in the system, cannot convert the lead.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please see the details as below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Exception_FoundRequestFormScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Exception_FoundRequestFormScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exception_FoundRequestFormAccountInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt; {!GetAccount.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tax Number:&lt;/strong&gt; {!GetAccount.TaxCode1__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Group: &lt;/strong&gt;{!GetAccount.AccountGroup__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Exception_FoundRequestFormScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exception_FoundRequestFormInfoCustomer</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Request Form Number:&lt;/strong&gt; {!GetRequestForm_Customer.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization:&lt;/strong&gt; {!GetRequestForm_Customer.SalesOrganization__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestForm_Customer.fmlAccountTypeName__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Customer</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Exception_FoundRequestFormInfoSupplier</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Request Form Number:&lt;/strong&gt; {!GetRequestForm_Supplier.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Purchasing Organization:&lt;/strong&gt; {!GetRequestForm_Supplier.PurchasingOrganization__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestForm_Supplier.fmlAccountTypeName__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Supplier</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Acknowledge</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExceptionFoundBothSalesandPurchasingViewScreen</name>
        <label>Exception Found Both Sales and Purchasing View Screen</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exception_FoundBothSalesPurchasingViewTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There has account, sales area and purchasing view in the system, cannot convert the lead.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please see the details as below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExceptionFoundBothSalesandPurchasingViewScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ExceptionFoundBothSalesandPurchasingViewScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exception_FoundBothSalesPurchasingViewAccountInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt; {!GetAccount.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tax Number:&lt;/strong&gt; {!GetAccount.TaxCode1__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Group: &lt;/strong&gt;{!GetAccount.AccountGroup__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ExceptionFoundBothSalesandPurchasingViewScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exception_FoundBothSalesPurchasingViewInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Sales Area Number:&lt;/strong&gt; {!GetSalesArea.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization:&lt;/strong&gt; {!GetSalesArea.SalesOrganization__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Purchasing View Number:&lt;/strong&gt; {!GetPurchasingView.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Purchasing Organization:&lt;/strong&gt; {!GetPurchasingView.PurchasingOrg__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Acknowledge</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExceptionFoundOnlyPurchasingViewScreen</name>
        <label>Exception Found Only Purchasing View Screen</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exception_FoundOnlyPurchasingViewTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There has account and purchasing view in the system, cannot convert the lead.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please see the details as below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExceptionFoundOnlyPurchasingViewScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ExceptionFoundOnlyPurchasingViewScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exception_FoundOnlyPurchasingViewAccountInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt; {!GetAccount.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tax Number:&lt;/strong&gt; {!GetAccount.TaxCode1__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Group: &lt;/strong&gt;{!GetAccount.AccountGroup__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ExceptionFoundOnlyPurchasingViewScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exception_FoundOnlyPurchasingViewInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Purchasing View Number:&lt;/strong&gt; {!GetPurchasingView.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Purchasing Organization:&lt;/strong&gt; {!GetPurchasingView.PurchasingOrg__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Acknowledge</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExceptionFoundOnlySalesAreaScreen</name>
        <label>Exception Found Only Sales Area Screen</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Exception_FoundOnlySalesAreaTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There has account and sales area in the system, cannot convert the lead.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please see the details as below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExceptionFoundOnlySalesAreaScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ExceptionFoundOnlySalesAreaScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exception_FoundOnlySalesAreaAccountInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt; {!GetAccount.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tax Number:&lt;/strong&gt; {!GetAccount.TaxCode1__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Group: &lt;/strong&gt;{!GetAccount.AccountGroup__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ExceptionFoundOnlySalesAreaScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Exception_FoundOnlySalesAreaInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Sales Area Number:&lt;/strong&gt; {!GetSalesArea.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sales Organization:&lt;/strong&gt; {!GetSalesArea.SalesOrganization__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Acknowledge</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Converted_No_New_Header</name>
        <label>Lead Converted No New Header</label>
        <locationX>534</locationX>
        <locationY>3098</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToAccount</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Display_Text_Converted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This company information is already in use with the existing {!fmlLeadType}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayExistingSeller</name>
            <fieldText>&lt;p class=&quot;ql-indent-8&quot;&gt;Company Name : {!Get_Lead.Company}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;TAX Number : {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Country : {!Get_Lead.Country__r.Description__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Seller: {!fmlSeller}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxCustomer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayExistingBuyer</name>
            <fieldText>&lt;p class=&quot;ql-indent-8&quot;&gt;Company Name : {!Get_Lead.Company}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;TAX Number : {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Country : {!Get_Lead.Country__r.Description__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Buyer: {!fmlBuyer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxSupplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayTOP_1</name>
            <fieldText>&lt;p class=&quot;ql-indent-8&quot;&gt;Company Name : {!Get_Lead.Company}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;TAX Number : {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Country : {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TOP</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_DisplayExistingTxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;This company have no new product extension. Request Form are not created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Converted_success</name>
        <label>Lead Converted successfully</label>
        <locationX>798</locationX>
        <locationY>3098</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToAccount</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Converted_Successfully</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your lead has been converted successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplaySeller</name>
            <fieldText>&lt;p class=&quot;ql-indent-8&quot;&gt;Company Name: {!Get_Lead.Company}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;TAX Number: {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Country: {!Get_Lead.Country__r.Description__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Seller: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!fmlSeller}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxCustomer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayBuyer</name>
            <fieldText>&lt;p class=&quot;ql-indent-8&quot;&gt;Company Name: {!Get_Lead.Company}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;TAX Number: {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Country: {!Get_Lead.Country__r.Description__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Buyer: {!fmlBuyer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxSupplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayTOP</name>
            <fieldText>&lt;p class=&quot;ql-indent-8&quot;&gt;Company Name: {!Get_Lead.Company}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;TAX Number: {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Country: {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TOP</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayLink</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You  can process the counterparty registration by clicking &apos;OK&apos; to navigate to customer record.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The system has already sent an email to the customer to complete the registration form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Converted_With_New_Header</name>
        <label>Lead Converted With New Header</label>
        <locationX>270</locationX>
        <locationY>3098</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectToAccount</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Converted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This company information is already in use with the existing {!fmlLeadType}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayExistingSeller</name>
            <fieldText>&lt;p class=&quot;ql-indent-8&quot;&gt;Company Name : {!Get_Lead.Company}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;TAX Number : {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Country : {!Get_Lead.Country__r.Description__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Seller: {!fmlSeller}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxCustomer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayExistingBuyer</name>
            <fieldText>&lt;p class=&quot;ql-indent-8&quot;&gt;Company Name : {!Get_Lead.Company}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;TAX Number : {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Country : {!Get_Lead.Country__r.Description__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Buyer: {!fmlBuyer}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TxSupplier</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayTOP_0</name>
            <fieldText>&lt;p class=&quot;ql-indent-8&quot;&gt;Company Name : {!Get_Lead.Company}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;TAX Number : {!Get_Lead.TAXNumber__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-8&quot;&gt;Country : {!Get_Lead.Country__r.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>TOP</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayExistingTxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You can process the customer product extension by clicking &apos;OK&apos; to navigate to extension request process&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDoNotAllowToConvert_NotOwner</name>
        <label>ScreenDoNotAllowToConvert</label>
        <locationX>1722</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DoNotConvertLeadText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;You don&apos;t have authorization to convert this lead. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;This lead belongs to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Lead.Owner:User.FirstName}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Lead.Owner:User.LastName}&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Please contact the administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Acknowledge</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenDoNotAllowToConvert_Unqualified</name>
        <label>ScreenDoNotAllowToConvert</label>
        <locationX>1986</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DoNotConvertLeadText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;You don&apos;t have authorization to convert this lead. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;This lead&apos;s status is unqualified&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Please contact the administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Acknowledge</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1332</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddSeller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputAccountGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputBuyer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputIsTOPG</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InputSeller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputTypeOfBusinessBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isExsitingAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isNewReqHeader</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadCustomerProductListVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newRequestHeaderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>RequestFormItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
    <variables>
        <name>TaxVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
