force-app/main/default/flows/CTR_Heroku_Initial_Reset_Password.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_user</name>
        <label>Send email to user</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>RollbackFieldSubmittedTraderEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>GetOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[FYA] Initial: Reset Password for The Counterparties Registration Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ResetPasswordTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Email_to_String_Collection</name>
        <label>Assign Email to String Collection</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__r.CTRUser__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_to_user</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>270</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>RollbackFieldSubmittedTraderEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOPORLABIX</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrgWide</targetReference>
            </connector>
            <label>TOP/LABIX</label>
        </rules>
        <rules>
            <name>TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RollbackFieldSubmittedTraderEmail</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <description>[24-Jun-2024] Change Org Wide Email Address and &quot;Customer&quot; in body and set to not sent email when business unit is TX.</description>
    <environments>Default</environments>
    <interviewLabel>CTR - Heroku Initial Reset Password {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTR - Heroku Initial Reset Password</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetOrgWide</name>
        <label>GetOrgWide</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_to_String_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
        <queriedFields>SFDomain__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>RollbackFieldSubmittedTraderEmail</name>
        <label>Rollback Field Submitted Trader Email</label>
        <locationX>270</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>SubmittedTraderSendEmail__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckBusinessUnit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubmittedTraderSendEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SubmittedTraderSendEmail__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ResetPasswordTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Dear Khun &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.CTRUser__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Thank you for your Interested in registration to be {!$Record.fmlAccountTypeName__c} Petroleum Products and Lube Base Products.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Your Counterparties Registration Automate System recently reset the password for the username &quot;&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.CTRUser__r.Username__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(34, 34, 34); background-color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif; font-size: small;&quot;&gt;&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Please use this &lt;/span&gt;&lt;a href=&quot;{!$Record.CTRRequestFormHeader__r.Customer__r.CTRUser__r.InitialResetPasswordURL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 97, 253); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;link&lt;/a&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;to reset the password for the Counterparties Registration account.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);&quot;&gt;This is an automatic generated email, please do not reply to this address.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
