force-app/main/default/flows/CTRButtonInputCustomerSupplierCodeOtherSystem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>checkCustomerCode</name>
        <label>checkCustomerCode</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Customer Code != Changed</defaultConnectorLabel>
        <rules>
            <name>changedCustomerCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerCodeOtherSystem</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetRequestFormItem.CustomerCodeOtherSystem_Flow__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestFormItem_Customer</targetReference>
            </connector>
            <label>Customer Code = Changed</label>
        </rules>
        <rules>
            <name>CustomerCodeEqualsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerCodeOtherSystem</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Customer Code = Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>Check Record Type</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InitialExtendCustomer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestFormItem.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestFormItem.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInputCustomerCode</targetReference>
            </connector>
            <label>Initial/Extend Customer</label>
        </rules>
        <rules>
            <name>InitialExtendSupplier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestFormItem.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestFormItem.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenInputSupplierCode</targetReference>
            </connector>
            <label>Initial/Extend Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSupplierCode</name>
        <label>checkSupplierCode</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Supplier Code != Changed</defaultConnectorLabel>
        <rules>
            <name>changedSupplierCode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SupplierCodeOtherSystem</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetRequestFormItem.SupplierCodeOtherSystem_Flow__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestFormItem_Supplier</targetReference>
            </connector>
            <label>Supplier Code = Changed</label>
        </rules>
        <rules>
            <name>SupplierCodeEqualsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SupplierCodeOtherSystem</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Supplier Code = Null</label>
        </rules>
    </decisions>
    <description>[21 May 2024] 
- Add customer/supplier code null decision.
- Add decision in code not change.</description>
    <environments>Default</environments>
    <interviewLabel>CTRButtonInputCustomerSupplierCodeOtherSystem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRButtonInputCustomerSupplierCodeOtherSystem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRequestFormItem</name>
        <label>Get Request Form Item</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestFormItem_Customer</name>
        <label>Update Request Form Item</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestFormItem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CustomerCodeOtherSystem_Flow__c</field>
            <value>
                <elementReference>CustomerCodeOtherSystem</elementReference>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestFormItem_Supplier</name>
        <label>Update Request Form Item</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestFormItem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SupplierCodeOtherSystem_Flow__c</field>
            <value>
                <elementReference>SupplierCodeOtherSystem</elementReference>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <screens>
        <name>ScreenInputCustomerCode</name>
        <label>Screen Input Customer Code</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkCustomerCode</targetReference>
        </connector>
        <fields>
            <name>CustomerCodeOtherSystem</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetRequestFormItem.CustomerCodeOtherSystem_Flow__c</elementReference>
            </defaultValue>
            <fieldText>Customer Code (Other System)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RejectedSen</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RejectedNon</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtCustomerCode</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Customer Code (Other System)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestFormItem.CustomerCodeOtherSystem_Flow__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Waiting for Approval</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenInputSupplierCode</name>
        <label>Screen Input Supplier Code</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>checkSupplierCode</targetReference>
        </connector>
        <fields>
            <name>SupplierCodeOtherSystem</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetRequestFormItem.SupplierCodeOtherSystem_Flow__c</elementReference>
            </defaultValue>
            <fieldText>Supplier Code (Other System)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RejectedSen</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>RejectedNon</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>txtSupplierCode</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Supplier Code (Other System)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetRequestFormItem.SupplierCodeOtherSystem_Flow__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Waiting for Approval</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetRequestFormItem.MDCMApprovalStatus__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRequestFormItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
