force-app/main/default/flows/CTRButtonTXEditCounterpartyInformRejection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BellNotificationtoCreditOwner</name>
        <label>Bell Notification to Credit Owner</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>EmailAlerttoCreditOwner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>EditCounterpartyNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EditCounterpartyNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetRequestItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BellNotificationtoTrader</name>
        <label>Bell Notification to Trader</label>
        <locationX>886</locationX>
        <locationY>1598</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>EmailAlerttoTrader</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>EditCounterpartyNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>EditCounterpartyNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetRequestItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailAlerttoCreditOwner</name>
        <label>Email Alert to Credit Owner</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>CCRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>TORecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>GetRequestItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>GetEmailFATemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailAlerttoTrader</name>
        <label>Email Alert to Trader</label>
        <locationX>886</locationX>
        <locationY>1706</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NavigatetoRequestItem</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>CCRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>TORecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>GetRequestItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>GetEmailTraderTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>In order to update the approval step component in lightning record page.</description>
        <name>NavigatetoRequestItem</name>
        <label>Navigate to Request Item</label>
        <locationX>886</locationX>
        <locationY>1814</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetRequestItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:CTRNavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignCreditOwner_InformtoFA</name>
        <label>Assign Credit Owner</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TORecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTrader_InformtoFA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCreditOwner_InformtoRequestFormOwner</name>
        <label>Assign Credit Owner</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CCRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTraderSH_InformtoRequestFormOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTrader_InformtoFA</name>
        <label>Assign Trader</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CCRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTraderSH_InformtoFA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTrader_InformtoRequestFormOwner</name>
        <label>Assign Trader</label>
        <locationX>886</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TORecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCreditOwner_InformtoRequestFormOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTraderSH_InformtoFA</name>
        <label>Assign Trader S/H</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CCRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Request_Form_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTraderSH_InformtoRequestFormOwner</name>
        <label>Assign Trader S/H</label>
        <locationX>754</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>CCRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRequestForm</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>InformtoFA_Choice</name>
        <choiceText>Inform to FA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inform to FA</stringValue>
        </value>
    </choices>
    <choices>
        <name>InformtoRequestFormOwner_Choice</name>
        <choiceText>Inform to request form owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inform to request form owner</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckCreditOwner_InformtoFA</name>
        <label>Check Credit Owner</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreditOwnerNotNull_InformtoFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.CreditOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.CreditOwner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCreditOwner_InformtoFA</targetReference>
            </connector>
            <label>Credit Owner != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCreditOwner_InformtoRequestFormOwner</name>
        <label>Check Credit Owner</label>
        <locationX>886</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>CheckTraderSH_InformtoRequestFormOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit Owner = Null</defaultConnectorLabel>
        <rules>
            <name>CreditOwnerNotNull_InformtoRequestFormOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.CreditOwner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCreditOwner_InformtoRequestFormOwner</targetReference>
            </connector>
            <label>Credit Owner != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTrader_InformtoFA</name>
        <label>Check Trader</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>CheckTraderSH_InformtoFA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Trader = Null</defaultConnectorLabel>
        <rules>
            <name>TraderNotNull_InformtoFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTrader_InformtoFA</targetReference>
            </connector>
            <label>Trader != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTrader_InformtoRequestFormOwner</name>
        <label>Check Trader</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TraderNotNull_InformtoRequestFormOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTrader_InformtoRequestFormOwner</targetReference>
            </connector>
            <label>Trader != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTraderSH_InformtoFA</name>
        <label>Check Trader S/H</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Update_Request_Form_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Trader S/H = Null</defaultConnectorLabel>
        <rules>
            <name>TraderSHNotNull_InformtoFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.OwnersSectionHead__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTraderSH_InformtoFA</targetReference>
            </connector>
            <label>Trader S/H != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTraderSH_InformtoRequestFormOwner</name>
        <label>Check Trader S/H</label>
        <locationX>886</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>UpdateRequestForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Trader S/H = Null</defaultConnectorLabel>
        <rules>
            <name>TraderSHNotNull_InformRequestFormOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.OwnersSectionHead__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTraderSH_InformtoRequestFormOwner</targetReference>
            </connector>
            <label>Trader S/H != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>InformRejectiontoWhom</name>
        <label>Inform Rejection to Whom ?</label>
        <locationX>897</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InformtoFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InformRejectionChoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inform to FA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCreditOwner_InformtoFA</targetReference>
            </connector>
            <label>Inform to FA</label>
        </rules>
        <rules>
            <name>InformtoRequestFormOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InformRejectionChoices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inform to request form owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckTrader_InformtoRequestFormOwner</targetReference>
            </connector>
            <label>Inform to Request Form Owner</label>
        </rules>
    </decisions>
    <description>9-May-2024 Clone V7 for deploying.</description>
    <environments>Default</environments>
    <formulas>
        <name>EditCounterpartyNotifyBody</name>
        <dataType>String</dataType>
        <expression>{!GetRequestItemRecord.Customer__r.Name} &amp; &quot; Edit Counterparty Information has been rejected by &quot; &amp; {!GetRequestItemRecord.fmlPositionNameOfFinancial__c} &amp; &quot; Section Head. Please revise and proceed next step.&quot;</expression>
    </formulas>
    <formulas>
        <name>EditCounterpartyNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!GetRequestItemRecord.Customer__r.Name} &amp; &quot; Edit Counterparty Information is Rejected.&quot;</expression>
    </formulas>
    <interviewLabel>CTRButtonTXEditCounterpartyInformRejection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRButtonTXEditCounterpartyInformRejection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCustomNotificationType</name>
        <label>Get Custom Notification Type</label>
        <locationX>897</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InformRejectionScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmailFATemplate</name>
        <label>Get Email FA Template</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BellNotificationtoCreditOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInformTXFACaseReject</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmailTraderTemplate</name>
        <label>Get Email Trader Template</label>
        <locationX>886</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BellNotificationtoTrader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRTXInformTraderCaseReject</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequestItemRecord</name>
        <label>Get Request Item Record</label>
        <locationX>897</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomNotificationType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request_Form_0</name>
        <label>Update Request Form</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>GetEmailFATemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ApprovedChangeCounterparty__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestForm</name>
        <label>Update Request Form</label>
        <locationX>886</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>GetEmailTraderTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovedChangeCounterparty__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>InformRejectionScreen</name>
        <label>InformRejectionScreen</label>
        <locationX>897</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InformRejectiontoWhom</targetReference>
        </connector>
        <fields>
            <name>InformRejectionTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Do you want to inform the FA to edit the information or inform the request owner to reject the request form?&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InformRejectionChoices</name>
            <choiceReferences>InformtoFA_Choice</choiceReferences>
            <choiceReferences>InformtoRequestFormOwner_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Inform to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>771</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRequestItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CCRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TORecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
