force-app/main/default/flows/CTRButtonCustomerCheckShipTo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToItemRecord</name>
        <label>NavigateToItemRecord</label>
        <locationX>424</locationX>
        <locationY>4178</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>CTRRequestFormItem__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varRequestItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:CTRNavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignChoosenCountryLabel</name>
        <label>AssignChoosenCountryLabel</label>
        <locationX>424</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>varChooseCountryLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopFilterChoosenValue.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCountry</name>
        <label>AssignCountry</label>
        <locationX>490</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>varChooseCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Shipping_to_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChooseLocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Location_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRecordTypeShipToHeader</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignItemData</name>
        <label>AssignItemData</label>
        <locationX>336</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>varRequestItemRecord.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeShipToItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemRecord.CTRRequestFormHeader__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHeaderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRequestItemRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHeaderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createItemRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewShipTo</name>
        <label>AssignNewShipTo</label>
        <locationX>336</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>varShipToAccountRecord.ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChooseCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShipToAccountRecord.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShipToAccountRecord.LocationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varChooseLocationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShipToAccountRecord.CTRRequestFormItem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRequestItemRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateShipToAccountRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPicklistLabel</name>
        <label>AssignPicklistLabel</label>
        <locationX>864</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>LoopShipCountryToAssignPicklistLabel.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPicklistInfoToAssignLabel.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignTempShipCountry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignResetValidate</name>
        <label>AssignResetValidate</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>varCheckDupShipToCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChooseCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existed_New_Shipping_to_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChooseLocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existed_Location_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopShipToCountry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignShipToHeader</name>
        <label>AssignShipToHeader</label>
        <locationX>336</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>varHeaderRecord.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.CompanyNameLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordTypeShipToHeader.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.StreetLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.StreetLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.CityStateLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.CityStateLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.PostalCodeLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.PostalCodeLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MailingHousenoLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MailingHousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MailingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MailingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MailingDistrict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MailingDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MailingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MailingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MailingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MailingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.LubeBaseProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.LubeBaseProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.LABIXProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.LABIXProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.CompanyPurchasingVolumnperGrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.CompanyPurchasingVolumnperGrade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.ReasonOfTheDefault__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.ReasonOfTheDefault__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.PaymentOverTheAmountOfUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.PaymentOverTheAmountOfUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.StartTradingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.StartTradingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.YearsofExperience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.YearsofExperience__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.EnvironmentPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.EnvironmentPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.OccupationalHealthAndSafetyPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.OccupationalHealthAndSafetyPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.CorporateGovernancePolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.CorporateGovernancePolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.CEOFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.CEOFirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.ImmidiateParentCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.ImmidiateParentCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.UltimateParentCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.UltimateParentCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.TypeOfBusinessOthers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.TypeOfBusinessOthers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MainService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MainService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MainProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MainProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.OtherMainService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.OtherMainService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.OtherMainProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.OtherMainProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.CompanyLatestCreditRating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.CompanyLatestCreditRating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.CompanyWebsite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.CustomerSearchTermLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.CustomerSearchTermLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.SupplierSearchTermLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.SupplierSearchTermLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.CustomerType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.CustomerType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.FormerNameofCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.FormerNameofCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.TaxCode1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.TaxCode1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.LocationInGoogleMapsLinks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.LocationInGoogleMapsLinks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.LocationInGoogleMapsGeolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.Location__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.LocationInGoogleMapsGeolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.Location__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MailingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MailingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MailingDistrict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MailingDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MailingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MailingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.MailingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.MailingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.DistrictLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.DistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.InterestedProductTypeCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.InterestedProductTypeCustomer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.InterestedProductTypeSupplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.InterestedProductTypeSupplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.SocialResponsibilityPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.SocialResponsibilityPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.HumanRightsPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.HumanRightsPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.HasIssuesDuringThePast5Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.HasIssuesDuringThePast5Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.SpecifyIssuesDuringThePast5Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.SpecifyIssuesDuringThePast5Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.SocialResponsibilityPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.SocialResponsibilityPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.HasFailedSupplyInLast3Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.HasFailedSupplyInLast3Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.SpecifyFailedSupplyInLast3Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.SpecifyFailedSupplyInLast3Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.HasSanctionedTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.HasSanctionedTarget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.SpecifySanctionedTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.SpecifySanctionedTarget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHeaderRecord.ReferalBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountRecord.ReferalBy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateHeaderRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTempShipCountry</name>
        <label>AssignTempShipCountry</label>
        <locationX>864</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varShipCountryCollectionWithPicklistLabel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopShipCountryToAssignPicklistLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPicklistInfoToAssignLabel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValidate</name>
        <label>AssignValidate</label>
        <locationX>270</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>varCheckDupShipToCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopShipToCountry</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filterChoosenValue</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filterChoosenValue</label>
        <locationX>336</locationX>
        <locationY>3746</locationY>
        <assignNextValueToReference>currentItem_filterChoosenValue</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getPicklistInfo</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filterChoosenValue.Value</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>varChooseCountry</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>LoopFilterChoosenValue</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>checkDuplicateShipToCountry</name>
        <label>checkDuplicateShipToCountry</label>
        <locationX>182</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>getRecordTypeShipToHeader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicated_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCheckDupShipToCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidateDupScreen</targetReference>
            </connector>
            <label>Duplicated country</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMatchCountry</name>
        <label>CheckMatchCountry</label>
        <locationX>402</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>LoopShipToCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopShipToCountry.ShippingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existed_New_Shipping_to_Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopShipToCountry.LocationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varChooseLocationType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValidate</targetReference>
            </connector>
            <label>match country</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSelectedPicklist</name>
        <label>CheckSelectedPicklist</label>
        <locationX>996</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>LoopPicklistInfoToAssignLabel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_selected_picklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopShipCountryToAssignPicklistLabel.ShippingCountry__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopPicklistInfoToAssignLabel.Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPicklistLabel</targetReference>
            </connector>
            <label>found selected picklist</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_found_shipping_country</name>
        <label>is found shipping country</label>
        <locationX>336</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>DisplayCountryNone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_shipping_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShipCountryCollectionWithPicklistLabel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayCountry</targetReference>
            </connector>
            <label>found shipping country</label>
        </rules>
    </decisions>
    <description>[10 May 2024] Remove ViolatingAntiMoneyLaunderingLaws__c</description>
    <dynamicChoiceSets>
        <name>ChoiceShippingCountryPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShippingCountry__c</picklistField>
        <picklistObject>CTRShippingCountry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceShippingLocationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LocationType__c</picklistField>
        <picklistObject>CTRShippingCountry__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CTRScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRButtonCustomerCheckShipTo</label>
    <loops>
        <name>LoopFilterChoosenValue</name>
        <label>LoopFilterChoosenValue</label>
        <locationX>336</locationX>
        <locationY>3854</locationY>
        <collectionReference>filterChoosenValue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignChoosenCountryLabel</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopPicklistInfoToAssignLabel</name>
        <label>LoopPicklistInfoToAssignLabel</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <collectionReference>getPicklistInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckSelectedPicklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopShipCountryToAssignPicklistLabel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopShipCountryToAssignPicklistLabel</name>
        <label>LoopShipCountryToAssignPicklistLabel</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <collectionReference>getShipToCountry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopPicklistInfoToAssignLabel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_found_shipping_country</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopShipToCountry</name>
        <label>LoopShipToCountry</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <collectionReference>getShipToCountry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckMatchCountry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkDuplicateShipToCountry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateHeaderRecord</name>
        <label>CreateHeaderRecord</label>
        <locationX>336</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>getRecordTypeShipToItem</targetReference>
        </connector>
        <inputReference>varHeaderRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createItemRecord</name>
        <label>createItemRecord</label>
        <locationX>336</locationX>
        <locationY>3314</locationY>
        <connector>
            <targetReference>getNewItemRecird</targetReference>
        </connector>
        <inputReference>varRequestItemRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateShipToAccountRecord</name>
        <label>CreateShipToAccountRecord</label>
        <locationX>336</locationX>
        <locationY>3638</locationY>
        <connector>
            <targetReference>filterChoosenValue</targetReference>
        </connector>
        <inputReference>varShipToAccountRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>getAccountRecord</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getShipToCountry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEntityDefinition</name>
        <label>getEntityDefinition</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFieldDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRShippingCountry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFieldDefinition</name>
        <label>getFieldDefinition</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPicklistInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ShippingCountry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEntityDefinition.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNewItemRecird</name>
        <label>getNewItemRecird</label>
        <locationX>336</locationX>
        <locationY>3422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNewShipTo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRequestItemRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPicklistInfo</name>
        <label>getPicklistInfo</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopShipCountryToAssignPicklistLabel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFieldDefinition.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeShipToHeader</name>
        <label>getRecordTypeShipToHeader</label>
        <locationX>336</locationX>
        <locationY>2774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignShipToHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ShipToChckCountry</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRRequestFormHeader__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeShipToItem</name>
        <label>getRecordTypeShipToItem</label>
        <locationX>336</locationX>
        <locationY>3098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignItemData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ShipToCheckCountry</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRRequestFormItem__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getShipToCountry</name>
        <label>getShipToCountry</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEntityDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRShippingCountry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DisplayCountry</name>
        <label>DisplayCountry</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignResetValidate</targetReference>
        </connector>
        <fields>
            <name>ExistingShippingCountry</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CTRShippingCountry__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>varShipCountryCollectionWithPicklistLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6bbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Existing Shiping Country&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Shipping Country Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LocationType__c&quot;,&quot;guid&quot;:&quot;column-1828&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Location Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayCountry_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplayCountry_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existed_New_Shipping_to_Country</name>
                    <choiceReferences>ChoiceShippingCountryPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>New Shipping to Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DisplayCountry_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existed_Location_Type</name>
                    <choiceReferences>ChoiceShippingLocationType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayCountryNone</name>
        <label>DisplayCountryNone</label>
        <locationX>490</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignCountry</targetReference>
        </connector>
        <fields>
            <name>DisplayCountryNone_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DisplayCountryNone_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Shipping_to_Country</name>
                    <choiceReferences>ChoiceShippingCountryPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Shipping to Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DisplayCountryNone_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Location_Type</name>
                    <choiceReferences>ChoiceShippingLocationType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Location Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>424</locationX>
        <locationY>4070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigateToItemRecord</targetReference>
        </connector>
        <fields>
            <name>ValidateDupMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&quot;{!varChooseCountryLabel}&quot;&lt;/strong&gt; is not existed in the country ship-to lists for this customer.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The request for checking new ship-to has been created.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Request Number: &lt;strong&gt;{!getNewItemRecird.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;The system will navigate you to the request form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ValidateDupScreen</name>
        <label>ValidateDupScreen</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidateDupMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&quot;{!Existed_New_Shipping_to_Country}&quot;&lt;/strong&gt; is already in the country ship-to list for this customer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filterChoosenValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterSelectedPicklist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCheckDupShipToCountry</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varChooseCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChooseCountryLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChooseLocationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHeaderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormHeader__c</objectType>
    </variables>
    <variables>
        <name>varRequestItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRRequestFormItem__c</objectType>
    </variables>
    <variables>
        <name>varShipCountryCollectionWithPicklistLabel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CTRShippingCountry__c</objectType>
    </variables>
    <variables>
        <name>varShippingCountryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRShippingCountry__c</objectType>
    </variables>
    <variables>
        <name>varShipToAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRShippingCountry__c</objectType>
    </variables>
    <variables>
        <name>varShipToItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRShippingCountry__c</objectType>
    </variables>
    <variables>
        <name>varTempPicklistInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
</Flow>
