force-app/main/default/flows/CTRChangeCreditConditionAfterFASectionHeadSubmittedSummaryReport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <actionName>CTRFlowBUProfileCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mSalesOrg</name>
            <value>
                <elementReference>fmlOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowBUProfileCtrl</nameSegment>
        <outputParameters>
            <assignToReference>varBusinessUnit</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailAction</name>
        <label>Send Email Action</label>
        <locationX>182</locationX>
        <locationY>2495</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignRecipientEmails</name>
        <label>assignRecipientEmails</label>
        <locationX>182</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEmailTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmails_0</name>
        <label>assignRecipientEmails</label>
        <locationX>270</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopTXFA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTXFA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmails_0_0</name>
        <label>assignRecipientEmails</label>
        <locationX>270</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopMS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmails_0_0_0</name>
        <label>assignRecipientEmails</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSectionHead.ReportToUser__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckBusinessUnit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmailsCMVP</name>
        <label>assignRecipientEmailsCMVP</label>
        <locationX>270</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCMVP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCMVP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Section_head</name>
        <label>Check Section head</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckBusinessUnit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSectionHead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipientEmails_0_0_0</targetReference>
            </connector>
            <label>has section head</label>
        </rules>
    </decisions>
    <description>Flow: Send email/alert after FA section head submitted summary report</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!$Record.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!$Record.SalesOrganization__c}), IF(contains({!$Record.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!$Record.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <interviewLabel>CTRTriggerRequestItemShiptoEmailtoRelevantUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTR Change Credit Condition after FA section head submitted summary report</label>
    <loops>
        <name>loopCMVP</name>
        <label>loopCMVP</label>
        <locationX>182</locationX>
        <locationY>1979</locationY>
        <collectionReference>getTXFA.varUserEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignRecipientEmailsCMVP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignRecipientEmails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopMS</name>
        <label>loopMS</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <collectionReference>getMSDataControl.varUserEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignRecipientEmails_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopCMVP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopTXFA</name>
        <label>loopTXFA</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <collectionReference>getTXFA.varUserEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignRecipientEmails_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopMS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTXFA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>getEmailTemplate</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendEmailAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRShiptoInformRelevantUser</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSectionHead</name>
        <label>getSectionHead</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Section_head</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTrader.ReportToUser__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PISUsers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTrader</name>
        <label>getTrader</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSectionHead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReportToUser__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PISUsers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTrader</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerChangeCrCond</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Change Customer Credit Condition</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Summary Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>getCMVP</name>
        <label>getCMVP</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>loopTXFA</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>CMVP</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>getMSDataControl</name>
        <label>getMSDataControl</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>getCMVP</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>Master Data</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>getTXFA</name>
        <label>getTXFA</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>getMSDataControl</targetReference>
        </connector>
        <flowName>Subflow_Get_Related_User_From_Profile</flowName>
        <inputAssignments>
            <name>varProfileName</name>
            <value>
                <stringValue>TXFA</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
