force-app/main/default/flows/CTRDueDiligenceResult.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>[25 Apr 2024] Add indent</description>
    <environments>Default</environments>
    <formulas>
        <name>fml_Org</name>
        <dataType>String</dataType>
        <expression>IF(contains({!GetRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!GetRequestItemRecord.SalesOrganization__c}), IF(contains({!GetRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;),TEXT({!GetRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <interviewLabel>Due Diligence Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTR Due Diligence Result</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRequestItemRecord</name>
        <label>Get Request Item Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DueDiligenceResultScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DueDiligenceResultScreen</name>
        <label>Due Diligence Result</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DueDiligenceResult</name>
            <fieldText>Due Diligence Result</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DueDiligenceResult_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DueDiligenceResultScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DueDiligenceResultScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinalRiskLevelUI</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Final Risk Level    &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DueDiligenceResultScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>imgFinalNotAvailable</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskNotAvailable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.FinalRiskLevel__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgFinalLow</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskLow</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.FinalRiskLevel__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Low Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgFinalMedium</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskMedium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.FinalRiskLevel__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Medium Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgFinalHigh</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskHigh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.FinalRiskLevel__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>High Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgFinalHighHigh</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskHighHigh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.FinalRiskLevel__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Very High Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DueDiligenceResultScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DueDiligenceResultScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DueDiligenceResultScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RiskLevelBySystemUI</name>
                    <fieldText>&lt;p&gt;Risk Level By System&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DueDiligenceResultScreen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>imgSysNotAvailable</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskNotAvailable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbySystem__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgSysLow</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskLow</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbySystem__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Low Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgSysMedium</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskMedium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbySystem__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Medium Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgSysHigh</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskHigh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbySystem__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>High Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgSysHighHigh</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskHighHigh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbySystem__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Very High Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DueDiligenceResultScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DueDiligenceResultScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DueDiligenceResultScreen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RiskLevelByTRCRUI</name>
                    <fieldText>&lt;p&gt;Risk Level By {!GetRequestItemRecord.fmlPositionNameOfFinancial__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DueDiligenceResultScreen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>imgFANotAvailable</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskNotAvailable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyTRCR__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgFALow</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskLow</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyTRCR__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Low Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgFAMedium</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskMedium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyTRCR__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Medium Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgFAHigh</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskHigh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyTRCR__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>High Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgFAHighHigh</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskHighHigh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyTRCR__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Very High Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DueDiligenceResultScreen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DueDiligenceResultScreen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DueDiligenceResultScreen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RiskLevelByCPXXUI</name>
                    <fieldText>&lt;p&gt;Risk Level By CPCE&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DueDiligenceResultScreen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>imgCPCENotAvailable</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskNotAvailable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyCPXX__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgCPCELow</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskLow</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyCPXX__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Low Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgCPCEMedium</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskMedium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyCPXX__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Medium Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgCPCEHigh</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskHigh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyCPXX__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>High Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>imgCPCEHighHigh</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CTRRiskHighHigh</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.RiskLevelbyCPXX__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Very High Risk</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRequestItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetRequestItemRecord.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
