force-app/main/default/flows/CTRLeadNamedProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Product_Name</name>
        <label>Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Crude_TOPCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Petroleum_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Name_0</name>
        <label>Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>2555</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Crude_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_B100_Ethanol_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Name_1</name>
        <label>Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PetrochemicalProducts_TOPFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lube_Base_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Name_2</name>
        <label>Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LubeBaseProducts_TOPFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_LABIX_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Name_3</name>
        <label>Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LABIXProducts_TOPFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Other_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Name_4</name>
        <label>Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherProducts_TOPFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_TOP_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_AromaticTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Aromatic_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLAB_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_AromaticTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Aromatic_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLAB_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_B100EthanolTOPSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>B100Ethanol_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPetroleumAndComponents_TOPSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_CrudeTOPCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Crude_TOPCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPetroleumProduct_TOPCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_CrudeTOPSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Crude_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckB100Ethanol_TOPSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_FuelTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fuel_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLube_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_FuelTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fuel_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLube_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LABIXProductTOPCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LABIXProducts_TOPFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOtherProduct_TOPCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LABTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAB_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSolventsChemical_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LABTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LAB_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSolventsAndChemical_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LubeBaseProductTOPCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LubeBaseProducts_TOPFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLABIXProduct_TOPCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LubeTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lube_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAromatic_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_LubeTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lube_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAromatic_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_NormalParaffinTOPSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NormalParaffin_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOtherProducts_TOPSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OlefinsTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Olefins_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOthers_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OlefinsTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Olefins_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOthers_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OtherProductsTOPSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherProducts_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead_SupplierTOP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OtherProductTOPCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherProducts_TOPFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead_CustomerTOP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OthersTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Others_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead_SupplierTX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_OtherTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Others_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLead_CustomerTX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_PetrochemicalProductTOPCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PetrochemicalProducts_TOPFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckLubeBaseProduct_TOPCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_PetroleumAndComponentsTOPSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1194</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PetroleumAndComponents_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckNormalParaffin_TOPSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_PetroleumProductTOPCustomer</name>
        <label>Assign Product Name</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PetroleumProducts_TOPCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPetrochemicalProduct_TOPCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_SolventAndChemicalTXCustomer</name>
        <label>Assign Product Name</label>
        <locationX>490</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SolventsAndChemical_TXCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOlefins_TXCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductName_SolventAndChemicalTXSupplier</name>
        <label>Assign Product Name</label>
        <locationX>1634</locationX>
        <locationY>1847</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SolventAndChemical_TXSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckOlefins_TXSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProductNamePetroleumProductTOPCustomer</name>
        <label>AssignProductName PetroleumProductTOPCustomer</label>
        <locationX>2338</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PetroleumProducts_TOPCustomerFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Petrochemical_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Product_Name_0</name>
        <label>Copy 1 of Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>B100Ethanol_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Petroleum_and_Components_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Product_Name_0</name>
        <label>Copy 3 of Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NormalParaffin_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Other_Products_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Product_Name_0</name>
        <label>Copy 5 of Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>3755</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OtherProducts_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_TOP_Supplier_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Product_Name_0</name>
        <label>Copy 7 of Assign Product Name</label>
        <locationX>2338</locationX>
        <locationY>3155</locationY>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PetroleumAndComponents_TOPSupplierFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempProductName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_Normal_Paraffin_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Crude</name>
        <label>Check Crude</label>
        <locationX>2470</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_B100_Ethanol_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crude_Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crude_TOPSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Name_0</targetReference>
            </connector>
            <label>Crude != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Crude_Product_TOP_Customer</name>
        <label>Check Crude Product TOP Customer</label>
        <locationX>2470</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_Petroleum_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crude_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crude_TOPCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Name</targetReference>
            </connector>
            <label>Crude =! Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LABIX_Product</name>
        <label>Check LABIX Product</label>
        <locationX>2470</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Check_Other_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LABIX_Product_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LABIXProducts_TOPFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Name_3</targetReference>
            </connector>
            <label>LABIX Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lube_Base_Product</name>
        <label>Check Lube Base Product</label>
        <locationX>2470</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Check_LABIX_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lube_Base_Product_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LubeBaseProducts_TOPFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Name_2</targetReference>
            </connector>
            <label>Lube Base Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Other_Product</name>
        <label>Check Other Product</label>
        <locationX>2470</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_TOP_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Product_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherProducts_TOPFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Name_4</targetReference>
            </connector>
            <label>Other Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Petrochemical_Product</name>
        <label>Check Petrochemical Product</label>
        <locationX>2470</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Check_Lube_Base_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Petrochemical_Product_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PetrochemicalProducts_TOPFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Name_1</targetReference>
            </connector>
            <label>Petrochemical Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Petroleum_Product</name>
        <label>Check Petroleum Product</label>
        <locationX>2470</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Check_Petrochemical_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Petroleum_Product_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PetroleumProducts_TOPCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductNamePetroleumProductTOPCustomer</targetReference>
            </connector>
            <label>Petroleum Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAromatic_TXCustomer</name>
        <label>Check Aromatic</label>
        <locationX>622</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>CheckLAB_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aromatic_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aromatic_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_AromaticTXCustomer</targetReference>
            </connector>
            <label>Aromatic != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAromatic_TXSupplier</name>
        <label>Check Aromatic</label>
        <locationX>1766</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>CheckLAB_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aromatic_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aromatic_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_AromaticTXSupplier</targetReference>
            </connector>
            <label>Aromatic != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckB100Ethanol_TOPSupplier</name>
        <label>Check B100/Ethanol</label>
        <locationX>1326</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CheckPetroleumAndComponents_TOPSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>B100Ethanol_TOPSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B100Ethanol_TOPSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_B100EthanolTOPSupplier</targetReference>
            </connector>
            <label>B100/Ethanol != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBusinessUnit_Customer</name>
        <label>Check Business Unit</label>
        <locationX>556</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsCustomerTOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCrudeProduct_TOPCustomer</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>TX_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsCustomerTX__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckFuel_TXCustomer</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBusinessUnit_CustomerSupplier</name>
        <label>Check Business Unit Customer&amp;Supplier</label>
        <locationX>2624</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP_Custome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsCustomerTOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Crude_Product_TOP_Customer</targetReference>
            </connector>
            <label>TOP Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBusinessUnit_Supplier</name>
        <label>Check Business Unit</label>
        <locationX>1700</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP_Supplier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsSupplierTOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCrude_TOPSupplier</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>TX_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsSupplierTX__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckFuel_TXSupplier</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCrude_TOPSupplier</name>
        <label>Check Crude</label>
        <locationX>1326</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckB100Ethanol_TOPSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crude_TOPSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crude_TOPSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_CrudeTOPSupplier</targetReference>
            </connector>
            <label>Crude != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCrudeProduct_TOPCustomer</name>
        <label>Check Crude Product</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckPetroleumProduct_TOPCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Crude_TOPCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Crude_TOPCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_CrudeTOPCustomer</targetReference>
            </connector>
            <label>Crude =! Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCustomerType</name>
        <label>Check Customer Type</label>
        <locationX>1799</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RegisteredAs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBusinessUnit_Customer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RegisteredAs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBusinessUnit_Supplier</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
        <rules>
            <name>CustomerAndSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RegisteredAs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer &amp; Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBusinessUnit_CustomerSupplier</targetReference>
            </connector>
            <label>Customer and Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFuel_TXCustomer</name>
        <label>Check Fuel</label>
        <locationX>622</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckLube_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fuel_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fuel_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_FuelTXCustomer</targetReference>
            </connector>
            <label>Fuel != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFuel_TXSupplier</name>
        <label>Check Fuel</label>
        <locationX>1766</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckLube_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fuel_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fuel_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_FuelTXSupplier</targetReference>
            </connector>
            <label>Fuel != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLAB_TXCustomer</name>
        <label>Check LAB</label>
        <locationX>622</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>CheckSolventsChemical_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LAB_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LAB_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LABTXCustomer</targetReference>
            </connector>
            <label>LAB != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLAB_TXSupplier</name>
        <label>Check LAB</label>
        <locationX>1766</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>CheckSolventsAndChemical_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LAB_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LAB_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LABTXSupplier</targetReference>
            </connector>
            <label>LAB != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLABIXProduct_TOPCustomer</name>
        <label>Check LABIX Product</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>CheckOtherProduct_TOPCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LABIXProduct_TOPCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LABIXProducts_TOPFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LABIXProductTOPCustomer</targetReference>
            </connector>
            <label>LABIX Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLube_TXCustomer</name>
        <label>Check Lube</label>
        <locationX>622</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CheckAromatic_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lube_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lube_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LubeTXCustomer</targetReference>
            </connector>
            <label>Lube != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLube_TXSupplier</name>
        <label>Check Lube</label>
        <locationX>1766</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CheckAromatic_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lube_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lube_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LubeTXSupplier</targetReference>
            </connector>
            <label>Lube != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLubeBaseProduct_TOPCustomer</name>
        <label>Check Lube Base Product</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>CheckLABIXProduct_TOPCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LubeBaseProduct_TOPCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LubeBaseProducts_TOPFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_LubeBaseProductTOPCustomer</targetReference>
            </connector>
            <label>Lube Base Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNormalParaffin_TOPSupplier</name>
        <label>Check Normal Paraffin</label>
        <locationX>1326</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>CheckOtherProducts_TOPSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NormaParaffin_TOPSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NormalParaffin_TOPSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_NormalParaffinTOPSupplier</targetReference>
            </connector>
            <label>Normal Paraffin != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOlefins_TXCustomer</name>
        <label>Check Olefins</label>
        <locationX>622</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>CheckOthers_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Olefins_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Olefins_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OlefinsTXCustomer</targetReference>
            </connector>
            <label>Olefins != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOlefins_TXSupplier</name>
        <label>Check Olefins</label>
        <locationX>1766</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>CheckOthers_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Olefins_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Olefins_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OlefinsTXSupplier</targetReference>
            </connector>
            <label>Olefins != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOtherProduct_TOPCustomer</name>
        <label>Check Other Product</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>UpdateLead_CustomerTOP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OtherProduct_TOPNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherProducts_TOPFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OtherProductTOPCustomer</targetReference>
            </connector>
            <label>Other Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOtherProducts_TOPSupplier</name>
        <label>Check Other Products</label>
        <locationX>1326</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>UpdateLead_SupplierTOP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OtherProducts_TOPNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherProducts_TOPSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OtherProductsTOPSupplier</targetReference>
            </connector>
            <label>Other Products != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOthers_TXCustomer</name>
        <label>Check Others</label>
        <locationX>622</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>UpdateLead_CustomerTX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Others_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Others_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OtherTXCustomer</targetReference>
            </connector>
            <label>Others != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOthers_TXSupplier</name>
        <label>Check Others</label>
        <locationX>1766</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>UpdateLead_SupplierTX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Others_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Others_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_OthersTXSupplier</targetReference>
            </connector>
            <label>Others != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPetrochemicalProduct_TOPCustomer</name>
        <label>Check Petrochemical Product</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>CheckLubeBaseProduct_TOPCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PetrochemicalProduct_TOPCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PetrochemicalProducts_TOPFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_PetrochemicalProductTOPCustomer</targetReference>
            </connector>
            <label>Petrochemical Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPetroleumAndComponents_TOPSupplier</name>
        <label>Check Petroleum and Components</label>
        <locationX>1326</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>CheckNormalParaffin_TOPSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PetroleumAndComponents_TOPSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PetroleumAndComponents_TOPSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_PetroleumAndComponentsTOPSupplier</targetReference>
            </connector>
            <label>Petroleum and Components != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPetroleumProduct_TOPCustomer</name>
        <label>Check Petroleum Product</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>CheckPetrochemicalProduct_TOPCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PetroleumProduct_TOPCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PetroleumProducts_TOPCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_PetroleumProductTOPCustomer</targetReference>
            </connector>
            <label>Petroleum Product != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSolventsAndChemical_TXSupplier</name>
        <label>Check Solvents &amp; Chemical</label>
        <locationX>1766</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>CheckOlefins_TXSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SolventAndChemical_TXSupplierNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolventAndChemical_TXSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_SolventAndChemicalTXSupplier</targetReference>
            </connector>
            <label>Solvent &amp; Chemical != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSolventsChemical_TXCustomer</name>
        <label>Check Solvents &amp; Chemical</label>
        <locationX>622</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>CheckOlefins_TXCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SolventsChemical_TXCustomerNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolventsAndChemical_TXCustomerFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProductName_SolventAndChemicalTXCustomer</targetReference>
            </connector>
            <label>Solvents &amp; Chemical != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_B100_Ethanol_0</name>
        <label>Copy 1 of Check B100/Ethanol</label>
        <locationX>2470</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Petroleum_and_Components_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_B100_Ethanol_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>B100Ethanol_TOPSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Product_Name_0</targetReference>
            </connector>
            <label>Copy 1 of B100/Ethanol != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Normal_Paraffin_0</name>
        <label>Copy 1 of Check Normal Paraffin</label>
        <locationX>2470</locationX>
        <locationY>3347</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Other_Products_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Normal_Paraffin_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NormalParaffin_TOPSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Product_Name_0</targetReference>
            </connector>
            <label>Copy 1 of Normal Paraffin != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Other_Products_0</name>
        <label>Copy 1 of Check Other Products</label>
        <locationX>2470</locationX>
        <locationY>3647</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_TOP_Supplier_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Other_Products_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherProducts_TOPSupplierFormula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Product_Name_0</targetReference>
            </connector>
            <label>Copy 1 of Other Products != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Petroleum_and_Components_0</name>
        <label>Copy 1 of Check Petroleum and Components</label>
        <locationX>2470</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Normal_Paraffin_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Petroleum_and_Components_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PetroleumAndComponents_TOPSupplierNotNull</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_Product_Name_0</targetReference>
            </connector>
            <label>Copy 1 of Petroleum and Components != Null</label>
        </rules>
    </decisions>
    <description>14 Jun 24 Sharp: Update Customer and Supplier</description>
    <environments>Default</environments>
    <formulas>
        <name>Aromatic_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;Aromatic&apos; ), &apos;Aromatic&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Aromatic_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c} , &apos;Aromatic&apos; ), &apos;Aromatic&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>B100Ethanol_TOPSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsSupplierTOP__c} , &apos;B100/Ethanol&apos; ), &apos;B100/Ethanol&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Crude_TOPCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTOP__c}  , &apos;Crude&apos; ), &apos;Crude&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Crude_TOPSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsSupplierTOP__c} , &apos;Crude&apos; ), &apos;Crude&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Fuel_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;Fuel&apos; ), &apos;Fuel&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Fuel_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsSupplierTX__c} , &apos;Fuel&apos; ), &apos;Fuel&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>LAB_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;LAB&apos; ), &apos;LAB&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>LAB_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c}  , &apos;LAB&apos; ), &apos;LAB &apos;,null )</expression>
    </formulas>
    <formulas>
        <name>LABIXProducts_TOPFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTOP__c}  , &apos;LABIX Products&apos; ), &apos;LABIX Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Lube_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;Lube&apos; ), &apos;Lube&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Lube_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsSupplierTX__c}  , &apos;Lube&apos; ), &apos;Lube&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>LubeBaseProducts_TOPFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTOP__c} , &apos;Lube Base Products&apos; ), &apos;Lube Base Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>NormalParaffin_TOPSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTOP__c}  , &apos;Normal Paraffin&apos; ), &apos;Normal Paraffin&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Olefins_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c}  , &apos;Olefins&apos; ), &apos;Olefins&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Olefins_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c}  , &apos;Olefins&apos; ), &apos;Olefins&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>OtherProducts_TOPFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTOP__c} , &apos;Other Products&apos; ), &apos;Other Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>OtherProducts_TOPSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTOP__c} , &apos;Other Products&apos; ), &apos;Other Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Others_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c}  , &apos;Others&apos; ), &apos;Others&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>Others_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c}  , &apos;Others&apos; ), &apos;Others&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>PetrochemicalProducts_TOPFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsCustomerTOP__c} , &apos;Petrochemical Products&apos; ), &apos;Petrochemical Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>PetroleumAndComponents_TOPSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTOP__c} , &apos;Petroleum and Components&apos; ), &apos;Petroleum and Components&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>PetroleumProducts_TOPCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES( {!$Record.InterestedProductTypeAsCustomerTOP__c} , &apos;Petroleum Products&apos; ), &apos;Petroleum Products&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>ProductName</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!TempProductName},LEN({!TempProductName})-1))</expression>
    </formulas>
    <formulas>
        <name>SolventAndChemical_TXSupplierFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsSupplierTX__c} , &apos;Solvents &amp; Chemical&apos; ), &apos;Solvents &amp; Chemical&apos;,null )</expression>
    </formulas>
    <formulas>
        <name>SolventsAndChemical_TXCustomerFormula</name>
        <dataType>String</dataType>
        <expression>IF ( INCLUDES ( {!$Record.InterestedProductTypeAsCustomerTX__c} , &apos;Solvents &amp; Chemical&apos; ), &apos;Solvents &amp; Chemical&apos;,null )</expression>
    </formulas>
    <interviewLabel>CTRLeadNamedProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRLeadNamedProduct</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_TOP_Customer</name>
        <label>Update Lead TOP Customer</label>
        <locationX>2470</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Check_Crude</targetReference>
        </connector>
        <inputAssignments>
            <field>InterestedProductTypeasCustomer__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_TOP_Supplier_0</name>
        <label>Update Lead TOP Supplier</label>
        <locationX>2470</locationX>
        <locationY>3947</locationY>
        <inputAssignments>
            <field>InterestedProductTypeasSupplier__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLead_CustomerTOP</name>
        <label>Update Lead</label>
        <locationX>182</locationX>
        <locationY>2339</locationY>
        <inputAssignments>
            <field>InterestedProductTypeasCustomer__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLead_CustomerTX</name>
        <label>Update Lead</label>
        <locationX>622</locationX>
        <locationY>2639</locationY>
        <inputAssignments>
            <field>InterestedProductTypeasCustomer__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLead_SupplierTOP</name>
        <label>Update Lead</label>
        <locationX>1326</locationX>
        <locationY>2039</locationY>
        <inputAssignments>
            <field>InterestedProductTypeasSupplier__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLead_SupplierTX</name>
        <label>Update Lead</label>
        <locationX>1766</locationX>
        <locationY>2639</locationY>
        <inputAssignments>
            <field>InterestedProductTypeasSupplier__c</field>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckCustomerType</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>InterestedProductTypeAsCustomerTOP__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterestedProductTypeAsCustomerTX__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterestedProductTypeAsSupplierTOP__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterestedProductTypeAsSupplierTX__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterestedProductTypeAsCustomerTOP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterestedProductTypeAsCustomerTX__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterestedProductTypeAsSupplierTOP__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InterestedProductTypeAsSupplierTX__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>TempProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
