force-app/main/default/flows/CTRPrescreenResult.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>21/03/2024 Update VP position name</description>
    <environments>Default</environments>
    <formulas>
        <name>fml_Org</name>
        <dataType>String</dataType>
        <expression>IF(contains({!GetRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!GetRequestItemRecord.SalesOrganization__c}), IF(contains({!GetRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!GetRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fml_PreScreenby</name>
        <dataType>String</dataType>
        <expression>{!GetTraderName.Name}</expression>
    </formulas>
    <formulas>
        <name>fml_PreScreenCmtbyCMVP</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!GetRequestItemRecord.CMVPPreScreenComment__c})), {!GetRequestItemRecord.CMVPPreScreenComment__c}, {!VarNotYetPreScreenText})</expression>
    </formulas>
    <formulas>
        <name>fml_PreScreenCmtBySH</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!GetRequestItemRecord.SHPreScreenComment__c})), {!GetRequestItemRecord.SHPreScreenComment__c}, {!VarNotYetPreScreenText})</expression>
    </formulas>
    <formulas>
        <name>fml_PreScreenCmtByTrader</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!GetRequestItemRecord.RisksOrObservations__c})), {!GetRequestItemRecord.RisksOrObservations__c}, {!VarNotYetPreScreenText})</expression>
    </formulas>
    <formulas>
        <name>fml_PreScreenStatus</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!GetRequestItemRecord.CMVPPreScreenDecision__c}))), TEXT({!GetRequestItemRecord.CMVPPreScreenDecision__c}), 
{!VarNotYetPreScreenText})</expression>
    </formulas>
    <interviewLabel>CTR Prescreen Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTR Prescreen ResultV02</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRequestItemRecord</name>
        <label>Get Request Item Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTraderName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTraderName</name>
        <label>GetTraderName</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PreScreenResult</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.TraderPreScreenBy__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PreScreenResult</name>
        <label>Pre-Screen Result</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PreScreenResultSect</name>
            <fieldText>Pre-Screen Result</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PreScreenResultSect_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PreScreenStatusUI</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Pre-Screen Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_PreScreenStatus}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PreScreenCommentByTraderUI</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Pre-Screen Comment By Trader&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_PreScreenCmtByTrader}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PreScreenCommentBySHUI</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Pre-Screen Comment By Section Head&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_PreScreenCmtBySH}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PreScreenCommentByCMVPUI</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Pre-Screen Comment By {!GetRequestItemRecord.fmlPositionNameOfVP__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!fml_PreScreenCmtbyCMVP}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PreScreenByUI</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Pre-Screen By&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_PreScreenby}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRequestItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNotYetPreScreenText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>-</stringValue>
        </value>
    </variables>
</Flow>
