force-app/main/default/flows/CTRRequestItem_Committee_Reminder_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApexReminder</name>
        <label>ApexReminder</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <actionName>CTRFlowEmailReminder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateCTRCommitteeApproval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newCommApprs</name>
            <value>
                <elementReference>ListCTRCommitteeApproval</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>profile</name>
            <value>
                <elementReference>GetItem.BusinessUnit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetItem.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reqFormObj</name>
            <value>
                <elementReference>GetItem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateType</name>
            <value>
                <elementReference>EmailTemplateTypeFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailReminder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddCommittee</name>
        <label>AddCommittee</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>ListCTRCommitteeApproval</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApexReminder</targetReference>
        </connector>
    </assignments>
    <description>[26-Jun-2024] Add update latest reminder datetime.</description>
    <environments>Default</environments>
    <formulas>
        <name>EmailTemplateTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!GetBuProfile.BusinessUnit__c}) = &apos;TOP&apos;, &apos;Committee TOP&apos;, IF(TEXT({!GetBuProfile.BusinessUnit__c})  = &apos;TX&apos;, &apos;Committee TX&apos;, &apos;Committee LABIX&apos;))</expression>
    </formulas>
    <interviewLabel>CTRRequestItem - Committee Reminder Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRRequestItem - Committee Reminder Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBuProfile</name>
        <label>GetBuProfile</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddCommittee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetItem.BusinessUnit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRBuProfile__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetItem</name>
        <label>GetItem</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBuProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormItem__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCTRCommitteeApproval</name>
        <label>UpdateCTRCommitteeApproval</label>
        <locationX>308</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>LatestReminderDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApprovalResult__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submit to Committee</stringValue>
            </value>
        </filters>
        <object>CTRCommitteeApproval__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>set_schedule</name>
            <connector>
                <targetReference>GetItem</targetReference>
            </connector>
            <label>set schedule</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LatestReminderDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListCTRCommitteeApproval</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRCommitteeApproval__c</objectType>
    </variables>
</Flow>
