force-app/main/default/flows/CTRRequestFormItem_Screen_Require_Document_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>fml_HasAuditFinance</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!GetRequestItemRecord.hasAuditedFinalcial__c}))), TEXT({!GetRequestItemRecord.hasAuditedFinalcial__c}), {!VarNotReviewDocText})</expression>
    </formulas>
    <formulas>
        <name>fml_HasCertofVATRegistration</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!GetRequestItemRecord.HasCertofVATRegistration__c}))), TEXT({!GetRequestItemRecord.HasCertofVATRegistration__c}), {!VarNotReviewDocText})</expression>
    </formulas>
    <formulas>
        <name>fml_hasCOI</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!GetRequestItemRecord.HasCOI__c}))), TEXT({!GetRequestItemRecord.HasCOI__c}), {!VarNotReviewDocText})</expression>
    </formulas>
    <formulas>
        <name>fml_HasMDA</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!GetRequestItemRecord.HasMOA__c}))), TEXT({!GetRequestItemRecord.HasMOA__c}), {!VarNotReviewDocText})</expression>
    </formulas>
    <formulas>
        <name>fml_HasOtherDoc</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!GetRequestItemRecord.HasOtherDocument__c}))), TEXT({!GetRequestItemRecord.HasOtherDocument__c}),{!VarNotReviewDocText} )</expression>
    </formulas>
    <formulas>
        <name>fml_HasPowerofAttorney</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!GetRequestItemRecord.HasPowerofAttorney__c}))), TEXT({!GetRequestItemRecord.HasPowerofAttorney__c}), {!VarNotReviewDocText})</expression>
    </formulas>
    <formulas>
        <name>fml_HasRegistrationMinistryEnergy</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!GetRequestItemRecord.HasRegistrationIssue__c}))), TEXT({!GetRequestItemRecord.HasRegistrationIssue__c}), {!VarNotReviewDocText})</expression>
    </formulas>
    <formulas>
        <name>fml_HasShareHolders</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK(TEXT({!GetRequestItemRecord.HasShareHolders__c}))), TEXT({!GetRequestItemRecord.HasShareHolders__c}), {!VarNotReviewDocText})</expression>
    </formulas>
    <formulas>
        <name>fml_ListOtherDocument</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!GetRequestItemRecord.ListOtherDocument__c})), {!GetRequestItemRecord.ListOtherDocument__c}, {!VarNotReviewDocText})</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!GetRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!GetRequestItemRecord.SalesOrganization__c}), IF(contains({!GetRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;),TEXT({!GetRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <interviewLabel>CTRRequestFormItem - Screen Require Document Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRRequestFormItem - Screen Require Document Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRequestItemRecord</name>
        <label>GetRequestItemRecord</label>
        <locationX>840</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Required_Document_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Required_Document_Checklist</name>
        <label>Required Document Checklist</label>
        <locationX>840</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header_Required_Document_Checklist</name>
            <fieldText>Required Document Checklist</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Header_Required_Document_Checklist_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Has_COI</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Has Certificate of Incorporation (COI)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_hasCOI}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Has_MDA</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Has Memorandum of Association (MDA)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_HasMDA}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Has_AuditedFinalcial</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Has Audited Financial Statement for the last 3 years&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_HasAuditFinance}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Has_ListShareholders</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Has List of the Shareholders (บอจ.5)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_HasShareHolders}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_Has_VatReg</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Has Certification of VAT Registration (ภพ.20 or ภพ.01 or ภพ.09)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_HasCertofVATRegistration}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayText_Has_RegIssue</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Has Registration Issue by Ministry of Energy (นพ.104, นพ.105, นพ.106)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_HasRegistrationMinistryEnergy}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.BusinessUnit__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>LABIX</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>GetRequestItemRecord.BusinessUnit__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TOP</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DisplayText_Has_PowerAttorney</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Has Power of Attorney (หนังสือมอบอำนาจ)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_HasPowerofAttorney}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DisplayText_Has_OtherDoc</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Has Other Document&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_HasOtherDoc}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ListOtherDocument</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;List Other Document&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!fml_ListOtherDocument}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRequestItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNotReviewDocText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>-</stringValue>
        </value>
    </variables>
</Flow>
