force-app/main/default/flows/CTRScreenTradingPurchasingInfo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>[13 May 2024] Show label as a value instead API</description>
    <environments>Default</environments>
    <formulas>
        <name>fxAccountGroup</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.AccountGroup__c})), &quot;-&quot;, {!getAccountGroupValue.Label})</expression>
    </formulas>
    <formulas>
        <name>fxGroupKey</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!getAccountRec.GroupKeyAccountKeyOfBank__c}), &quot;-&quot;, {!getAccountRec.GroupKeyAccountKeyOfBank__c})</expression>
    </formulas>
    <formulas>
        <name>fxRegion</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.RegionSAP__c})), &quot;-&quot;, {!getRegionValue.Label})</expression>
    </formulas>
    <formulas>
        <name>fxTradingPartner</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!getAccountRec.TradingPartner__c}), &quot;-&quot;, {!getAccountRec.TradingPartner__r.Description__c})</expression>
    </formulas>
    <formulas>
        <name>fxTransportationZone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!getAccountRec.TransportationZone__c}), &quot;-&quot;, {!getAccountRec.TransportationZone__r.Description__c})</expression>
    </formulas>
    <interviewLabel>CTRScreenTrading {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRScreenTradingPurchasingInfo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountGroupField</name>
        <label>getAccountGroupField</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRegionValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getObjectDef.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccountGroup__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DurableId</queriedFields>
        <queriedFields>QualifiedApiName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountGroupValue</name>
        <label>getAccountGroupValue</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenCustomerTradingInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountGroupField.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRec.AccountGroup__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DurableId</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Value</queriedFields>
        <queriedFields>EntityParticleId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountRec</name>
        <label>getAccountRec</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getObjectDef</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getObjectDef</name>
        <label>getObjectDef</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRegionField</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QualifiedApiName</queriedFields>
        <queriedFields>DurableId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRegionField</name>
        <label>getRegionField</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountGroupField</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getObjectDef.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RegionSAP__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DurableId</queriedFields>
        <queriedFields>QualifiedApiName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRegionValue</name>
        <label>getRegionValue</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountGroupValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRegionField.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRec.RegionSAP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DurableId</queriedFields>
        <queriedFields>Label</queriedFields>
        <queriedFields>Value</queriedFields>
        <queriedFields>EntityParticleId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screenCustomerTradingInfo</name>
        <label>screenCustomerTradingInfo</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TradingInformation</name>
            <fieldText>Trading Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TradingInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>customerAccountGroup</name>
                    <fieldText>&lt;p&gt;Account Group&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxAccountGroup}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>customerTradingPartner</name>
                    <fieldText>&lt;p&gt;Trading Partner&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxTradingPartner}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>customerRegion</name>
                    <fieldText>&lt;p&gt;Region&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxRegion}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>customerTransportationZone</name>
                    <fieldText>&lt;p&gt;Transportation Zone&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxTransportationZone}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountRec.InterestedProductTypeAsCustomerTX__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAccountRec.NonSAPCustomerCode__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PurchasingInformation</name>
            <fieldText>Purchasing Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PurchasingInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>supplierAccountGroup</name>
                    <fieldText>&lt;p&gt;Account Group&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxAccountGroup}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>supplierTradingPartner</name>
                    <fieldText>&lt;p&gt;Trading Partner&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxTradingPartner}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>supplierGroupKey</name>
                    <fieldText>&lt;p&gt;Group Key (Account Key of Bank)&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxGroupKey}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountRec.InterestedProductTypeAsSupplierTX__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAccountRec.NonSAPSupplierCode__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountRec</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filterAccountGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>currentItem_filterRegion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApiName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
