force-app/main/default/flows/CTRSubmitForVerification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendEmail</name>
        <label>sendEmail</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sendNoti</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNoti</name>
        <label>sendNoti</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNoti.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotiSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotiBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignCPCE</name>
        <label>assignCPCE</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCPCE.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCPCE.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCredit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCredit</name>
        <label>assignCredit</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCredit.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCredit.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkRecipient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check</name>
        <label>checkCPCE</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>getCredit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveCPCE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findCPCE.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findCPCE.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCPCE</targetReference>
            </connector>
            <label>HaveCPCE</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCredit</name>
        <label>checkCredit</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>checkRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveCredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findCredit.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findCredit.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCredit</targetReference>
            </connector>
            <label>HaveCredit</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecipient</name>
        <label>checkRecipient</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <description>[26-Jun-2024] 
- Edit condition for getting CPCE from metadata (Element: getCPCE).
- Edit condition for getting Credit from metadata (Element: getCredit).</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlCountry</name>
        <dataType>String</dataType>
        <expression>IF({!GetRequestItemRecord.CTRRequestFormHeader__r.Customer__r.Country__r.Code__c}=&quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <formulas>
        <name>NotiBody</name>
        <dataType>String</dataType>
        <expression>{!GetRequestItemRecord.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; need your support in verifying compliance. Please see the details.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotiSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Request Number &quot; &amp; {!GetRequestItemRecord.Name} &amp; &quot; Check Ship-to Need Compliance Check&quot;</expression>
    </formulas>
    <interviewLabel>CTR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTR Submit For Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCPCE</name>
        <label>getCPCE</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findCPCE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPCE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.ServiceArea__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCredit</name>
        <label>getCredit</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findCredit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.ServiceArea__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomNoti</name>
        <label>getCustomNoti</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConfirmationforSubmitVerification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate</name>
        <label>getEmailTemplate</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRCheckShiptoSubmitCentralUnit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequestItemRecord</name>
        <label>Get Request Item Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNoti</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestStatus</name>
        <label>Update Request Status</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>getCPCE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <screens>
        <description>Confirmation to Submit</description>
        <name>ConfirmationforSubmitVerification</name>
        <label>Confirmation for Submit Verification</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>UpdateRequestStatus</targetReference>
        </connector>
        <fields>
            <name>ConfirmtoSubmitBodyText</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;Are you sure you want to submit this request for verification?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRequestItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>findCPCE</name>
        <label>findCPCE</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCPCE</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findCredit</name>
        <label>findCredit</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>checkCredit</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCredit</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
