force-app/main/default/flows/CTRScreenTXFAEditRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignRecordCustomer</name>
        <label>AssignRecordCustomer</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>getRequestItem.Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objective</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.InterestedProductTypeAsCustomerTX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interest_Product_Type_as_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.SalesOrganizationTX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seller</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.ReconAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recon_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.SortKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Key</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.CustomerProductIdentification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Other_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.CreditControlArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Control_Area</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incoterms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Incoterms2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incoterm_2_Port</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.AccountAssignmentGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Assignment_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.DistributionChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distribution_Channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Division</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.CashManagementGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cash_Management_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.SalesOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesOffice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.SalesGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.SalesDistrict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_District</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.OrderProbability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderProbability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.ExchangeRateType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exchange_Rate_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.CustPriceProc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cust_pric_proc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.CustStatGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cust_Stat_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.DeliveryPriority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.ShippingConditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Conditions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.DeliveryPlant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Plant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.MaxPartialDeliveries__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Max_Partial_Delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.PartialDeliveriesperitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partial_Deliveries_per_item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.UnderdeliveryTolerance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underdelivery_Tolerance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.OverdeliveryTolerance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overdelivery_Tolerance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.CustomerType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerType.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.CustomerGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerGroup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.SubIndustry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubIndustry.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.InterGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InterGroup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.PaymentGuaranteeProcedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentGuaranteeProcedure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordSupplier</name>
        <label>AssignRecordSupplier</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>getRequestItem.Objective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjectiveSup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.InterestedProductTypeAsSupplierTX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interested_Product_Type_as_Supplier_TX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.PurchasingOrganizationTX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Purchasing_Organization_TX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.ReconAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recon_AccountSup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.SortKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SortKeySup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.AccigClerk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accig_Clerk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.CashManagementGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cash_Management_GroupSup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.PaymentTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentTerm.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncotermsSup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Incoterms2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incoterms_2_PortSup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.ShippingConditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingConditionsSup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.SupplierProductIdentification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supplier_Other_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.WHTaxCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WH_Tax_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Wthttype1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wth_t_type_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Wthttype2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wth_t_type_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Recty1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rec_ty_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRequestItem.Recty2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rec_ty_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkRecordType</name>
        <label>checkRecordType</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditRequestDetailsCustomer</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItem.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditRequestDetailsSupplier</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <description>[03-Jul-2024] Remove disable function of liable1 and liable2 on supplier screen.
[04-Jul-2024] - Change Interested Product Type as Customer TX Mulitiple Option to &apos;Yes&apos;
                      - Remove required from Field: Objective
                      - Add Help text on Field : Incoterm 2</description>
    <dynamicChoiceSets>
        <name>AccAssignmentGrpPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountAssignmentGroup__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccClerk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccigClerk__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CashManagementGroupPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CashManagementGroup__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CreditControlAreaPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CreditControlArea__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencyPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CustpricprocPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CustPriceProc__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CustStatGroupPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CustStatGroup__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryPlantPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DeliveryPlant__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryPriorityPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DeliveryPriority__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DistributionChannelPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DistributionChannel__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DivisionPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Division__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExchangeRateTypePick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ExchangeRateType__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IncotermPicks</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incoterms__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InterestedProductTX</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InterestedProductTypeAsSupplierTX__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InterestProductTypeasCustomerTX</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InterestedProductTypeAsCustomerTX__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartalDelPeritemPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PartialDeliveriesperitem__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentGuaranteeProcPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentGuaranteeProcedure__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentmethodSup</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentMethod__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurchasingOrganizationTXPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PurchasingOrganizationTX__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReconPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReconAccount__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Recty1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recty1__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesDistrictPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SalesDistrict__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesGroupPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SalesGroup__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesOfficePick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SalesOffice__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SellerPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SalesOrganizationTX__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShippingConditionPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShippingConditions__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SortKeyPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SortKey__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TaxClassificationPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TAXClassification__c</picklistField>
        <picklistObject>CTRRequestFormHeader__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WHTaxCountry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WHTaxCountry__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WthttypePickSup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Wthttype1__c</picklistField>
        <picklistObject>CTRRequestFormItem__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CTRScreenTXFAEditRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRScreenTXFAEditRecord</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRequestItem</name>
        <label>getRequestItem</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecords</name>
        <label>UpdateRecords</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <inputReference>getRequestItem</inputReference>
    </recordUpdates>
    <screens>
        <name>EditRequestDetailsCustomer</name>
        <label>Edit Request Details: Customer</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>AssignRecordCustomer</targetReference>
        </connector>
        <fields>
            <name>RequestDetail</name>
            <fieldText>Request Detail</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestDetail_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequestNumber</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Request Number&lt;/p&gt;&lt;p&gt;{!getRequestItem.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CustomerName</name>
                    <fieldText>&lt;p&gt;Customer Name&lt;/p&gt;&lt;p&gt;{!getRequestItem.Customer__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Interest_Product_Type_as_Customer</name>
                    <choiceReferences>InterestProductTypeasCustomerTX</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.InterestedProductTypeAsCustomerTX__c</elementReference>
                    </defaultValue>
                    <fieldText>Interest Product Type as Customer</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Owner</name>
                    <fieldText>&lt;p&gt;Owner&lt;/p&gt;&lt;p&gt;{!getRequestItem.OwnerName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RequestDetail_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RecordType</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Record Type&lt;/p&gt;&lt;p&gt;{!getRequestItem.RecordType.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Objective</name>
                    <defaultValue>
                        <stringValue>{!getRequestItem.Objective__c}</stringValue>
                    </defaultValue>
                    <fieldText>Objective</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Customer_Other_Products</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.CustomerProductIdentification__c</elementReference>
                    </defaultValue>
                    <fieldText>Customer Other Products</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Billing_Document</name>
            <fieldText>Billing Document</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Billing_Document_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RebateScreenComponent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Rebate__c</elementReference>
                    </defaultValue>
                    <fieldText>Rebate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PriceDeterminScreenComponent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.IsPriceDetermin__c</elementReference>
                    </defaultValue>
                    <fieldText>Price determin.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>EditRequestDetailsCustomer_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EditRequestDetailsCustomer_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Credit_Control_Area</name>
                    <choiceReferences>CreditControlAreaPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.CreditControlArea__c</elementReference>
                    </defaultValue>
                    <fieldText>Credit Control Area</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PaymentGuaranteeProcedure</name>
                    <choiceReferences>PaymentGuaranteeProcPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.PaymentGuaranteeProcedure__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Guarantee Procedure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_Assignment_Group</name>
                    <choiceReferences>AccAssignmentGrpPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.AccountAssignmentGroup__c</elementReference>
                    </defaultValue>
                    <fieldText>Account Assignment Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EditRequestDetailsCustomer_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incoterms</name>
                    <choiceReferences>IncotermPicks</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Incoterms__c</elementReference>
                    </defaultValue>
                    <fieldText>Incoterms</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Incoterm_2_Port</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Incoterms2__c</elementReference>
                    </defaultValue>
                    <fieldText>Incoterm 2 (Port)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;If not specify Incoterm 2 as Port, please use country name instead&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Blank</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Blank0</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SalesArea</name>
            <fieldText>Sales Area</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SalesArea_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Seller</name>
                    <choiceReferences>SellerPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.SalesOrganizationTX__c</elementReference>
                    </defaultValue>
                    <fieldText>Seller</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Distribution_Channel</name>
                    <choiceReferences>DistributionChannelPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.DistributionChannel__c</elementReference>
                    </defaultValue>
                    <fieldText>Distribution Channel</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SalesArea_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Division</name>
                    <choiceReferences>DivisionPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Division__c</elementReference>
                    </defaultValue>
                    <fieldText>Division</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accounting_Information</name>
            <fieldText>Accounting Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accounting_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentHistoryRecordScreenComponent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.PaymentHistoryRecord__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment History Record</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>EditRequestDetailsCustomer_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EditRequestDetailsCustomer_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recon_Account</name>
                    <choiceReferences>ReconPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.ReconAccount__c</elementReference>
                    </defaultValue>
                    <fieldText>Recon. Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EditRequestDetailsCustomer_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sort_Key</name>
                    <choiceReferences>SortKeyPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.SortKey__c</elementReference>
                    </defaultValue>
                    <fieldText>Sort Key</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cash_Management_Group</name>
                    <choiceReferences>CashManagementGroupPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.CashManagementGroup__c</elementReference>
                    </defaultValue>
                    <fieldText>Cash Management Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sales</name>
            <fieldText>Sales</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sales_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesOffice</name>
                    <choiceReferences>SalesOfficePick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.SalesOffice__c</elementReference>
                    </defaultValue>
                    <fieldText>Sales Office</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Order_Currency</name>
                    <choiceReferences>CurrencyPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Currency__c</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please select only &quot;Baht (THB)&quot; for Thai Baht and &quot;US Dollar (USD)&quot; for US Dollar.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>OrderProbability</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.OrderProbability__c</elementReference>
                    </defaultValue>
                    <fieldText>Order Probability</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Cust_pric_proc</name>
                    <choiceReferences>CustpricprocPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.CustPriceProc__c</elementReference>
                    </defaultValue>
                    <fieldText>Cust.pric.proc</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sales_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Group</name>
                    <choiceReferences>SalesGroupPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.SalesGroup__c</elementReference>
                    </defaultValue>
                    <fieldText>Sales Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sales_District</name>
                    <choiceReferences>SalesDistrictPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.SalesDistrict__c</elementReference>
                    </defaultValue>
                    <fieldText>Sales District</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Exchange_Rate_Type</name>
                    <choiceReferences>ExchangeRateTypePick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.ExchangeRateType__c</elementReference>
                    </defaultValue>
                    <fieldText>Exchange Rate Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cust_Stat_Group</name>
                    <choiceReferences>CustStatGroupPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.CustStatGroup__c</elementReference>
                    </defaultValue>
                    <fieldText>Cust.Stat.Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Shippings</name>
            <fieldText>Shipping</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shippings_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Delivery_Plant</name>
                    <choiceReferences>DeliveryPlantPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.DeliveryPlant__c</elementReference>
                    </defaultValue>
                    <fieldText>Delivery Plant</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Delivery_Priority</name>
                    <choiceReferences>DeliveryPriorityPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.DeliveryPriority__c</elementReference>
                    </defaultValue>
                    <fieldText>Delivery Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Max_Partial_Delivery</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.MaxPartialDeliveries__c</elementReference>
                    </defaultValue>
                    <fieldText>Max Partial Delivery</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Underdelivery_Tolerance</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.UnderdeliveryTolerance__c</elementReference>
                    </defaultValue>
                    <fieldText>Underdelivery Tolerance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shippings_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipping_Conditions</name>
                    <choiceReferences>ShippingConditionPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.ShippingConditions__c</elementReference>
                    </defaultValue>
                    <fieldText>Shipping Conditions</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Blank3</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Partial_Deliveries_per_item</name>
                    <choiceReferences>PartalDelPeritemPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.PartialDeliveriesperitem__c</elementReference>
                    </defaultValue>
                    <fieldText>Partial Deliveries per item</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Overdelivery_Tolerance</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.OverdeliveryTolerance__c</elementReference>
                    </defaultValue>
                    <fieldText>Overdelivery Tolerance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <fieldText>Additional Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerType</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CustomerType__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequestItem.CustomerType__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CTRRequestFormItem__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Industry</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Industry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Industry</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CTRRequestFormItem__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequestItem.Industry__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Application</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Application__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Application</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CTRRequestFormItem__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequestItem.Application__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerGroup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CustomerGroup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Group</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CTRRequestFormItem__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequestItem.CustomerGroup__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SubIndustry</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SubIndustry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sub-Industry</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CTRRequestFormItem__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequestItem.SubIndustry__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>InterGroup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>InterGroup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Inter Group</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CTRRequestFormItem__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequestItem.InterGroup__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <pausedText>&lt;p&gt;Cancel CTRScreenTXFAEditRecord Screen&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EditRequestDetailsSupplier</name>
        <label>Edit Request Details: Supplier</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>AssignRecordSupplier</targetReference>
        </connector>
        <fields>
            <name>RequestDetail0</name>
            <fieldText>Request Detail</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RequestDetail0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_RequestNumber</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Request Number&lt;/p&gt;&lt;p&gt;{!getRequestItem.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Copy_1_of_CustomerName</name>
                    <fieldText>&lt;p&gt;Customer Name&lt;/p&gt;&lt;p&gt;{!getRequestItem.Customer__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Interested_Product_Type_as_Supplier_TX</name>
                    <choiceReferences>InterestedProductTX</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.InterestedProductTypeAsSupplierTX__c</elementReference>
                    </defaultValue>
                    <fieldText>Interested Product Type as Supplier TX</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Owner</name>
                    <fieldText>&lt;p&gt;Owner&lt;/p&gt;&lt;p&gt;{!getRequestItem.OwnerName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RequestDetail0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_RecordType</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Record Type&lt;/p&gt;&lt;p&gt;{!getRequestItem.RecordType.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ObjectiveSup</name>
                    <defaultValue>
                        <stringValue>{!getRequestItem.Objective__c}</stringValue>
                    </defaultValue>
                    <fieldText>Objective</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Supplier_Other_Products</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.SupplierProductIdentification__c</elementReference>
                    </defaultValue>
                    <fieldText>Supplier Other Products</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>PurchasingArea</name>
            <fieldText>Purchasing Area</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PurchasingArea_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purchasing_Organization_TX</name>
                    <choiceReferences>PurchasingOrganizationTXPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.PurchasingOrganizationTX__c</elementReference>
                    </defaultValue>
                    <fieldText>Buyer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PurchasingArea_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>AccountingInformation0</name>
            <fieldText>Accounting Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AccountingInformation0_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recon_AccountSup</name>
                    <choiceReferences>ReconPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.ReconAccount__c</elementReference>
                    </defaultValue>
                    <fieldText>Recon. Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Payment_Method</name>
                    <choiceReferences>PaymentmethodSup</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.PaymentMethod__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cash_Management_GroupSup</name>
                    <choiceReferences>CashManagementGroupPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.CashManagementGroup__c</elementReference>
                    </defaultValue>
                    <fieldText>Cash Management Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Wth_t_type_1</name>
                    <choiceReferences>WthttypePickSup</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Wthttype1__c</elementReference>
                    </defaultValue>
                    <fieldText>Wth.t.type 1</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Rec_ty_1</name>
                    <choiceReferences>Recty1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Recty1__c</elementReference>
                    </defaultValue>
                    <fieldText>Rec.ty 1</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Liable1ScreenComponent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Liable1__c</elementReference>
                    </defaultValue>
                    <fieldText>Liable 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ChkdoubleinvScreenComponent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Chkdoubleinv__c</elementReference>
                    </defaultValue>
                    <fieldText>Chk double inv.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AccountingInformation0_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SortKeySup</name>
                    <choiceReferences>SortKeyPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.SortKey__c</elementReference>
                    </defaultValue>
                    <fieldText>Sort Key</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Accig_Clerk</name>
                    <choiceReferences>AccClerk</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.AccigClerk__c</elementReference>
                    </defaultValue>
                    <fieldText>Acctg Clerk</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>WH_Tax_Country</name>
                    <choiceReferences>WHTaxCountry</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.WHTaxCountry__c</elementReference>
                    </defaultValue>
                    <fieldText>WH Tax Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Wth_t_type_2</name>
                    <choiceReferences>WthttypePickSup</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Wthttype2__c</elementReference>
                    </defaultValue>
                    <fieldText>Wth.t.type 2</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Rec_ty_2</name>
                    <choiceReferences>Recty1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Recty2__c</elementReference>
                    </defaultValue>
                    <fieldText>Rec.ty 2</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Liable2ScreenComponent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Liable2__c</elementReference>
                    </defaultValue>
                    <fieldText>Liable 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Conditions</name>
            <fieldText>Conditions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Conditions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentTerm</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PaymentTerm__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>PaymentTerm</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CTRRequestFormItem__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRequestItem.PaymentTerm__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>IncotermsSup</name>
                    <choiceReferences>IncotermPicks</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Incoterms__c</elementReference>
                    </defaultValue>
                    <fieldText>Incoterms</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Conditions_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank5</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Incoterms_2_PortSup</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.Incoterms2__c</elementReference>
                    </defaultValue>
                    <fieldText>Incoterms 2 (Port)</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;If not specify Incoterm 2 as Port, please use country name instead&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ControlData</name>
            <fieldText>Control Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ControlData_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingConditionsSup</name>
                    <choiceReferences>ShippingConditionPick</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.ShippingConditions__c</elementReference>
                    </defaultValue>
                    <fieldText>Shipping Conditions</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>GRBasedInvVerifScreenComponent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.GRBasedInvVerif__c</elementReference>
                    </defaultValue>
                    <fieldText>GR-Based Inv.Verif</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ControlData_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank6</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AutomaticPurchaseOrderScreenComponent</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>getRequestItem.AutomaticPurchaseOrder__c</elementReference>
                    </defaultValue>
                    <fieldText>Automatic Purchase Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Currency</name>
            <fieldText>Currency</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Currency_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OrderCurrency</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Order Currency&lt;/p&gt;&lt;p&gt;{!getRequestItem.Currency__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <pauseButtonLabel>Cancel</pauseButtonLabel>
        <pausedText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cancel CTRScreenTXFAEditRecord Screen&lt;/span&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequestItem</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
