force-app/main/default/flows/CTRSubmitShipToforApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CTRTXCreateShiptoSHApproval2</name>
        <label>CTRTXCreateShiptoSHApproval</label>
        <locationX>553</locationX>
        <locationY>731</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Assigntorecipient</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!GetRequestItemRecord.Name} is submitted to approval process.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CTRTXCreateShiptoSHApproval2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CTRTXEditShiptoSHApproval</name>
        <label>CTRTXEditShiptoSHApproval</label>
        <locationX>829</locationX>
        <locationY>734</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Assigntorecipient</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!GetRequestItemRecord.Name} is submitted to approval process.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CTRTXEditShiptoSHApproval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendNotificatitonSH</name>
        <label>SendNotificatitonSH</label>
        <locationX>668</locationX>
        <locationY>1118</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetRequestItemRecord_0.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fmlNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>fmlNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignTargetRec</name>
        <label>AssignTargetRec</label>
        <locationX>857</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationforSubmitforApproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigntorecipient</name>
        <label>Assigntorecipient</label>
        <locationX>676</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.OwnersSectionHead__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Is_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Is_Null</name>
        <label>Check Is Null</label>
        <locationX>666</locationX>
        <locationY>987</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.OwnersSectionHead__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotificatitonSH</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>684</locationX>
        <locationY>603</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateShipTo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToCreate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CTRTXCreateShiptoSHApproval2</targetReference>
            </connector>
            <label>Create Ship-To</label>
        </rules>
        <rules>
            <name>EditShipTo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToEdit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CTRTXEditShiptoSHApproval</targetReference>
            </connector>
            <label>Edit Ship-To</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Request Number: &quot;+{!GetRequestItemRecord.Name}+&quot;, Customer Name: &quot;+ {!GetRequestItemRecord.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>fmlNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!GetRequestItemRecord.Owner:User.FirstName}+&quot; &quot;+{!GetRequestItemRecord.Owner:User.LastName}+ &quot; is requesting approval for request form.&quot;</expression>
    </formulas>
    <interviewLabel>CTR Submit Ship To for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTR Submit Ship To for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRequestItemRecord</name>
        <label>Get Request Item Record</label>
        <locationX>688</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRequestItemRecord_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequestItemRecord_0</name>
        <label>Get Request Item Record</label>
        <locationX>863</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTargetRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestStatus</name>
        <label>Update Request Status</label>
        <locationX>692</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Waiting for Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Confirmation to Submit</description>
        <name>ConfirmationforSubmitforApproval</name>
        <label>Confirmation for Submit for Approval</label>
        <locationX>690</locationX>
        <locationY>323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>UpdateRequestStatus</targetReference>
        </connector>
        <fields>
            <name>ConfirmtoSubmitBodyText</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;Are you sure you want to submit this request for approval process?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRequestItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CTRTXCreateShiptoSHApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
