force-app/main/default/flows/CTRScreenESGandCompliance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Screen Flow to display ESG and Compliance Fields on Account</description>
    <environments>Default</environments>
    <formulas>
        <name>fxEnvironment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.EnvironmentPolicy__c})), &quot;-&quot;, TEXT({!getAccountRec.EnvironmentPolicy__c}))</expression>
    </formulas>
    <formulas>
        <name>fxFailedtoSupply</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.HasFailedSupplyInLast3Years__c})), &quot;-&quot;, TEXT({!getAccountRec.HasFailedSupplyInLast3Years__c}))</expression>
    </formulas>
    <formulas>
        <name>fxGovernance</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.CorporateGovernancePolicy__c})), &quot;-&quot;, TEXT({!getAccountRec.CorporateGovernancePolicy__c}))</expression>
    </formulas>
    <formulas>
        <name>fxHasIssues</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.HasIssuesDuringThePast5Years__c})), &quot;-&quot;, TEXT({!getAccountRec.HasIssuesDuringThePast5Years__c}))</expression>
    </formulas>
    <formulas>
        <name>fxHumanRights</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.HumanRightsPolicy__c})), &quot;-&quot;, TEXT({!getAccountRec.HumanRightsPolicy__c}))</expression>
    </formulas>
    <formulas>
        <name>fxPayment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.PaymentOverTheAmountOfUSD__c})), &quot;-&quot;, TEXT({!getAccountRec.PaymentOverTheAmountOfUSD__c}))</expression>
    </formulas>
    <formulas>
        <name>fxSafety</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.OccupationalHealthAndSafetyPolicy__c})), &quot;-&quot;, TEXT({!getAccountRec.OccupationalHealthAndSafetyPolicy__c}))</expression>
    </formulas>
    <formulas>
        <name>fxSanctionTarget</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.HasSanctionedTarget__c})), &quot;-&quot;, TEXT({!getAccountRec.HasSanctionedTarget__c}))</expression>
    </formulas>
    <formulas>
        <name>fxSocialResponsibility</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!getAccountRec.SocialResponsibilityPolicy__c})), &quot;-&quot;, TEXT({!getAccountRec.SocialResponsibilityPolicy__c}))</expression>
    </formulas>
    <interviewLabel>CTRScreenESGandCompliance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRScreenESGandCompliance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountRec</name>
        <label>getAccountRec</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenESGandCompliance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screenESGandCompliance</name>
        <label>screenESGandCompliance</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ESG_and_Compliance</name>
            <fieldText>ESG and Compliance</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ESG_and_Compliance_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>environmentPolicy</name>
                    <fieldText>&lt;p&gt;Environment: Does your company have Environment policy?&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxEnvironment}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>socialResposibilityPolicy</name>
                    <fieldText>&lt;p&gt;Social Responsibility: Does your company have Social Responsibility policy?&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxSocialResponsibility}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>corporateGovernancePolicy</name>
                    <fieldText>&lt;p&gt;Governance: Does your company have Corporate Governance policy?&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxGovernance}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>safetyPolicy</name>
                    <fieldText>&lt;p&gt;Occupational Health and Safety: Does your company have Occupational Health and Safety policy?&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxSafety}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>humanRightsPolicy</name>
                    <fieldText>&lt;p&gt;Human Rights: Does your company have Human Rights policy?&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxHumanRights}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>specifyIssuesDuringThePast5Years</name>
                    <fieldText>&lt;p&gt;Has your company or any of its affiliates, or any current director, officer, or key employee ever been charged with, or investigated for fraud, misrepresentation, corruption, bribery, money laundering, forced labour, environmental issues or other related activities during the past five years?&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxHasIssues}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PaymentOverTheAmountOfUSD</name>
                    <fieldText>&lt;p&gt;(For Customer) Has your company ever had any default payment over the amount of USD 50,000 in the last 3 years?&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxPayment}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HasFailedSupplyInLast3Years</name>
                    <fieldText>&lt;p&gt;(For Supplier)&amp;nbsp;Has your company ever failed to supply under any agreement in the last 3 years?&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxFailedtoSupply}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HasSanctionedTarget</name>
                    <fieldText>&lt;p&gt;Does your company have any offices, transactions, investments, activities or planned activities in sanctioned targets or any transactions, investments, activities or planned activities with (or in) any person or entity located in sanctioned targets or with (or in) any entity owned or controlled by any entity located in sanctioned targets*?&lt;/p&gt;&lt;p&gt;&lt;em&gt;*A sanctioned target means any party that is a target of U.S., EU, UK or UN sanctions or to your knowledge, any other sanctions authority relevant to your company such as SDN list&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!fxSanctionTarget}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(153, 153, 153);&quot;&gt;_______________________________________________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountRec</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
