force-app/main/default/flows/CTRScreenSubmitChangeCredit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NavigatetoCTRItem_Customer_TOPLABIX</name>
        <label>NavigatetoCTRItem</label>
        <locationX>886</locationX>
        <locationY>2270</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:CTRNavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NavigatetoCTRItem_Customer_TX</name>
        <label>NavigatetoCTRItem</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:CTRNavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NavigatetoCTRItem_Supplier_TOPLABIX</name>
        <label>NavigatetoCTRItem</label>
        <locationX>2118</locationX>
        <locationY>2270</locationY>
        <actionName>c:CTRNavigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:CTRNavigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_Customer_TOPLABIX</name>
        <label>SendEmail</label>
        <locationX>754</locationX>
        <locationY>1970</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConfirmationScreen_Customer_TOPLABIX</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>getRequestFormItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_Customer_TOPLABIX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_Customer_TX</name>
        <label>SendEmail</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConfirmationScreen_Customer_TX</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>getRequestFormItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_Customer_TX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_Supplier_TOPLABIX</name>
        <label>SendEmail</label>
        <locationX>1986</locationX>
        <locationY>1970</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConfirmationScreen_Supplier_TOPLABIX</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>getRequestFormItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_Supplier_TOPLABIX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendNotification_Customer_TOPLABIX</name>
        <label>SendNotification</label>
        <locationX>886</locationX>
        <locationY>1538</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>checkRecipientEmail_Customer_TOPLABIX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendNotification_Customer_TX</name>
        <label>SendNotification</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>checkRecipientEmail_Customer_TX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendNotification_Supplier_TOPLABIX</name>
        <label>SendNotification</label>
        <locationX>2118</locationX>
        <locationY>1538</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>checkRecipientEmail_Supplier_TOPLABIX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignRecipientEmail_Customer_TOPLABIX</name>
        <label>assignRecipientEmail</label>
        <locationX>754</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFAUser.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail_Customer_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmail_Customer_TX</name>
        <label>assignRecipientEmail</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFAUser.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail_Customer_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmail_Supplier_TOPLABIX</name>
        <label>assignRecipientEmail</label>
        <locationX>1986</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFAUser.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail_Supplier_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientEmails_Customer_TX</name>
        <label>assignRecipientEmails</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFAUser.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotification_Customer_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientID_Customer_TOPLABIX</name>
        <label>assignRecipientID</label>
        <locationX>886</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFAUser.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotification_Customer_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRecipientID_Supplier_TOPLABIX</name>
        <label>assignRecipientID</label>
        <locationX>2118</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFAUser.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendNotification_Supplier_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>1925</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRequestFormItemRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check</name>
        <label>checkRecordType</label>
        <locationX>1925</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>CustomerChangeCreditCondition</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerChangeCrCond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>whichBusinessUnit_Customer</targetReference>
            </connector>
            <label>Customer Change Credit Condition</label>
        </rules>
        <rules>
            <name>SupplierChangeCreditCondition</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierChangeCrCond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>whichBusinessUnit_Supplier</targetReference>
            </connector>
            <label>Supplier Change Credit Condition</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecipientEmail_Customer_TOPLABIX</name>
        <label>checkRecipientEmail</label>
        <locationX>886</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>ConfirmationScreen_Customer_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Recipient Email</defaultConnectorLabel>
        <rules>
            <name>FoundRecipientEmail_Customer_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecipient_Supplier_TOPLABIX.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_Customer_TOPLABIX</targetReference>
            </connector>
            <label>FoundRecipientEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecipientEmail_Customer_TX</name>
        <label>checkRecipientEmail</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>ConfirmationScreen_Customer_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Recipient Email</defaultConnectorLabel>
        <rules>
            <name>FoundRecipientEmail_Customer_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecipient_Customer_TX.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_Customer_TX</targetReference>
            </connector>
            <label>FoundRecipientEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecipientEmail_Supplier_TOPLABIX</name>
        <label>checkRecipientEmail</label>
        <locationX>2118</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>ConfirmationScreen_Supplier_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Recipient Email</defaultConnectorLabel>
        <rules>
            <name>FoundRecipientEmail_Supplier_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecipient_Supplier_TOPLABIX.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_Supplier_TOPLABIX</targetReference>
            </connector>
            <label>FoundRecipientEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecipientID_Customer_TOPLABIX</name>
        <label>checkRecipientID</label>
        <locationX>1040</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Missing Recipient ID</defaultConnectorLabel>
        <rules>
            <name>FoundRecipientID_Customer_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecipient_Customer_TOPLABIX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipientID_Customer_TOPLABIX</targetReference>
            </connector>
            <label>Found Recipient ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecipientID_Customer_TX</name>
        <label>checkRecipientID</label>
        <locationX>336</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Missing Recipient ID</defaultConnectorLabel>
        <rules>
            <name>FoundRecipientID_Customer_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecipient_Customer_TX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipientEmails_Customer_TX</targetReference>
            </connector>
            <label>Found Recipient ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecipientID_Supplier_TOPLABIX</name>
        <label>checkRecipientID</label>
        <locationX>2272</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Missing Recipient ID</defaultConnectorLabel>
        <rules>
            <name>FoundRecipientID_Supplier_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecipient_Supplier_TOPLABIX</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecipientID_Supplier_TOPLABIX</targetReference>
            </connector>
            <label>Found Recipient ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichBusinessUnit_Customer</name>
        <label>Which BU</label>
        <locationX>897</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>TX_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationforSubmit_Customer_TX</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOPLABIX_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationforSubmit_Customer_TOPLABIX</targetReference>
            </connector>
            <label>TOP/LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>whichBusinessUnit_Supplier</name>
        <label>Which BU</label>
        <locationX>2206</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>TX_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOPLABIX_Supplier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestFormItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationforSubmit_Supplier_TOPLABIX</targetReference>
            </connector>
            <label>TOP/LABIX</label>
        </rules>
    </decisions>
    <description>[26-Jun-2024] Edit condition for getting FA users from metadata (Element: getMetaUsersFATeam).</description>
    <environments>Default</environments>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI]: Completed Registration Submission&quot;</expression>
    </formulas>
    <formulas>
        <name>EmailSubject_TX</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] Initial: &apos; &amp; {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.Name} &amp; &apos; confirming your registration request&apos;</expression>
    </formulas>
    <formulas>
        <name>fmlAccountTypeActor</name>
        <dataType>String</dataType>
        <expression>CASE({!getRequestFormItemRecord.fmlAccountTypeName__c}, &quot;Customer&quot;, &quot;Trader&quot;, &quot;Supplier&quot;, &quot;Requester&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlType</name>
        <dataType>String</dataType>
        <expression>IF({!getRequestFormItemRecord.CTRRequestFormHeader__r.Country__r.Code__c} = &apos;TH&apos;, &apos;Domestic&apos;, &apos;International&apos;)</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please consider &quot; + {!getRequestFormItemRecord.fmlAccountTypeName__c} + &quot;&apos;s new credit scoring.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!getRequestFormItemRecord.Customer__r.Name} &amp; &quot; is request for change credit condition.&quot;</expression>
    </formulas>
    <interviewLabel>CTRScreenSubmitChangeCredit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRScreenSubmitChangeCredit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>1925</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMetaUsersFATeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_Customer_TOPLABIX</name>
        <label>getEmailTemplate</label>
        <locationX>754</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRecipientEmail_Customer_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRTOPLABIXCustomerChangeCreditConditionRequestTRCRForChangeCredit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_Customer_TX</name>
        <label>getEmailTemplate</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRecipientEmail_Customer_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRTXChangeCreditConditionRequestFAApproval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_Supplier_TOPLABIX</name>
        <label>getEmailTemplate</label>
        <locationX>1986</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRecipientEmail_Supplier_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRTOPLABIXSupplierChangeCreditConditionRequestTRCRForChangeCredit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMetaUsersFATeam</name>
        <label>getMetaUsersFATeam</label>
        <locationX>1925</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFAUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestFormItemRecord.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestFormItemRecord.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestFormItemRecord.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>1925</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecipient_Customer_TOPLABIX</name>
        <label>getRecipient</label>
        <locationX>1040</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecipientID_Customer_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findFAUser.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecipient_Customer_TX</name>
        <label>getRecipient</label>
        <locationX>336</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecipientID_Customer_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findFAUser.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecipient_Supplier_TOPLABIX</name>
        <label>getRecipient</label>
        <locationX>2272</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecipientID_Supplier_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findFAUser.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequestFormItemRecord</name>
        <label>getRequestFormItemRecord</label>
        <locationX>1925</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateStatus_Customer_TOPLABIX</name>
        <label>updateStatus</label>
        <locationX>1040</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>getRecipient_Customer_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Credit Rating</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateStatus_Customer_TX</name>
        <label>updateStatus</label>
        <locationX>336</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>getRecipient_Customer_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Credit Rating</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateStatus_Supplier_TOPLABIX</name>
        <label>updateStatus</label>
        <locationX>2272</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>getRecipient_Supplier_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Credit Rating</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConfirmationforSubmit_Customer_TOPLABIX</name>
        <label>Confirmation for Submit</label>
        <locationX>1040</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>updateStatus_Customer_TOPLABIX</targetReference>
        </connector>
        <fields>
            <name>ConfirmToSubmit_Customer_TOPLABIX</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Confirm To Submit&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmToSubmitBodyText_Customer_TOPLABIX</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Are you sure you want to submit this request for c&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;hange credit condition&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationforSubmit_Customer_TX</name>
        <label>Confirmation for Submit</label>
        <locationX>336</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>updateStatus_Customer_TX</targetReference>
        </connector>
        <fields>
            <name>ConfirmToSubmit_Customer_TX</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Confirm To Submit&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmToSubmitBodyText_Customer_TX</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Are you sure you want to submit this request for c&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;hange credit condition&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationforSubmit_Supplier_TOPLABIX</name>
        <label>Confirmation for Submit</label>
        <locationX>2272</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>updateStatus_Supplier_TOPLABIX</targetReference>
        </connector>
        <fields>
            <name>ConfirmToSubmit_Supplier_TOPLABIX</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Confirm To Submit&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmToSubmitBodyText_Supplier_TOPLABIX</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Are you sure you want to submit this request for c&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;hange credit condition&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen_Customer_TOPLABIX</name>
        <label>ConfirmationScreen</label>
        <locationX>886</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigatetoCTRItem_Customer_TOPLABIX</targetReference>
        </connector>
        <fields>
            <name>ConfirmationScreenDisplay_Customer_TOPLABIX</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;The request has been submitted to credit team&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen_Customer_TX</name>
        <label>ConfirmationScreen</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigatetoCTRItem_Customer_TX</targetReference>
        </connector>
        <fields>
            <name>ConfirmationScreenDisplay_Customer_TX</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;The request has been submitted to credit team&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen_Supplier_TOPLABIX</name>
        <label>ConfirmationScreen</label>
        <locationX>2118</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigatetoCTRItem_Supplier_TOPLABIX</targetReference>
        </connector>
        <fields>
            <name>ConfirmationScreenDisplay_Supplier_TOPLABIX</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;The request has been submitted to credit team&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1799</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequestFormItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>findFAUser</name>
        <label>findFAUser</label>
        <locationX>1925</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getMetaUsersFATeam</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!getRequestFormItemRecord.Owner:User.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!getRequestFormItemRecord.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;We have received your documents and they are currently reviewed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;        {!getRequestFormItemRecord.Customer__r.Name}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Interested to be: Customer:&amp;nbsp;&amp;nbsp;&amp;nbsp;{!getRequestFormItemRecord.InterestedRegistrationToCustomer__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Responsible Trader Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Request Number:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;        &amp;nbsp;{!getRequestFormItemRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody_TX</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.FirstName__c} {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.LastName__c},&lt;br&gt;&lt;br&gt;Thank you for your interest in becoming our customer . We have received your documents and they are currently under review. Please find below the details of your request:&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;{!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Interested to be: {!getRequestFormItemRecord.fmlAccountTypeName__c} for {!getRequestFormItemRecord.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Responsible {!fmlAccountTypeActor} Name: {!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Request Number: {!getRequestFormItemRecord.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;We will contact you as soon as possible with the outcome of the review. If you have any questions, please contact our Sales Representative at&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(2, 2, 2);&quot;&gt;{!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodySupplier</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.FirstName__c} {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.LastName__c}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!getRequestFormItemRecord.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;We have received your documents and they are currently reviewed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Company Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;        &amp;nbsp;{!getRequestFormItemRecord.Customer__r.Name}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Interested to be: Supplier:&amp;nbsp;&amp;nbsp;  &amp;nbsp;{!getRequestFormItemRecord.InterestedRegistrationTo&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Supplier&lt;/span&gt;__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Responsible Trader Name:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;{!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;Request Number:&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;       &amp;nbsp;&amp;nbsp;{!getRequestFormItemRecord.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email. Please do not reply to this address.&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyTOP</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.FirstName__c} {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.LastName__c},&lt;br&gt;&lt;br&gt;We already registered your company information and currently under review.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!getRequestFormItemRecord.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!getRequestFormItemRecord.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!getRequestFormItemRecord.Name}&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyTOPSupplier</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.FirstName__c} {!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.LastName__c},&lt;br&gt;&lt;br&gt;We already registered your company information and currently under review.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!getRequestFormItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!getRequestFormItemRecord.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!getRequestFormItemRecord.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!getRequestFormItemRecord.Owner:User.FirstName} {!getRequestFormItemRecord.Owner:User.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!getRequestFormItemRecord.Name}&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <variables>
        <name>EmailSubjects</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
