force-app/main/default/flows/CTRScheduleRequestFormItemSendAllDataToAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailtoCustomer</name>
        <label>Send Email to Customer</label>
        <locationX>50</locationX>
        <locationY>2196</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>RecipientCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>RecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>GetCustomerEmailTemplate_Customer.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoRelevant_Customer</name>
        <label>Send Email to Relevant</label>
        <locationX>50</locationX>
        <locationY>2088</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendEmailtoCustomer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>FindCCUsers_Customer.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>FindRelevantUsers_Customer.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>GetRelevantEmailTemplate_Customer.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoRelevant_Supplier</name>
        <label>Send Email to Relevant</label>
        <locationX>842</locationX>
        <locationY>2088</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendEmailtoSupplier</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>FindCCUsers_Supplier.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>FindRelevantUser_Supplier.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>GetRelevantEmailTemplate_Supplier.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoSupplier</name>
        <label>Send Email to Supplier</label>
        <locationX>842</locationX>
        <locationY>2196</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>RecipientCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>RecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>GetSupplierEmailTemplate_Supplier.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignCustomer</name>
        <label>Assign Customer</label>
        <locationX>380</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.StatusDeletionIndicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerCodeOtherSystem_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CustomerCodeOtherSystem_Flow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CreateDateinSAP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EffectiveDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.InterestedProductTypeAsCustomerTOP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.InterestedProductTypeAsCustomerTOP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.InterestedProductTypeAsCustomerTX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.InterestedProductTypeAsCustomerTX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.AccountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.AccountGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.BuildingCodeLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.BuildingCodeLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CEOFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CEOFirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CEOLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CEOLastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CityStateLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CityStateLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CompanyLatestCreditRating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyLatestCreditRating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CompanyNameENF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyNameENF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CompanyNameLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyNameLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CompanyPurchasingVolumnperGrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyPurchasingVolumnperGrade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.ContactSalutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.ContactSalutation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CorporateGovernancePolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CorporateGovernancePolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerNameEN1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerNameEN1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerNameEN2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerNameEN2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerNameLocal1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerNameLocal1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerNameLocal2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerNameLocal2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerPurchaseProductFrom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerPurchaseProductFrom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerSearchTermEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerSearchTermEN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerSearchTermLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerSearchTermLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomersFacilityTankAndStorage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomersFacilityTankAndStorage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomersFacilityTransportation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomersFacilityTransportation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.DistrictLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.DistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.EnvironmentPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.EnvironmentPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.EstimatedMonthlyPurchaseUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.EstimatedMonthlyPurchaseUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Fax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FaxCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FaxCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FaxExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FaxExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FloorLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FloorLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FormerNameofCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FormerNameofCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.GroupKeyAccountKeyOfBank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.GroupKeyAccountKeyofBank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HasFailedSupplyInLast3Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HasFailedSupplyInLast3Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HasIssuesDuringThePast5Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HasIssuesDuringThePast5Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HasSanctionedTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HasSanctionedTarget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HousenoLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HumanRightsPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HumanRightsPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.ImmidiateParentCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.ImmidiateParentCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.IncoperationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.IncoperationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.LegalEntityOthers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LegalEntityOthers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LocationInGoogleMapsGeolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LocationInGoogleMapsGeolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.LocationInGoogleMapsLinks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LocationInGoogleMapsLinks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingBuildingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingBuildingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingDistrict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingFloor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingFloor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingHousenoLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingHousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingRoom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingRoom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingSubDistrict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingSubDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MainProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MainProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MainService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MainService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MobileCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MobileCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Nickname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Nickname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.NoOfRegistrationMinistryEnergy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.NoOfRegistrationMinistryEnergy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.OccupationalHealthAndSafetyPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.OccupationalHealthAndSafetyPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.OtherMainProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.OtherMainProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.OtherMainService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.OtherMainService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.PaymentOverTheAmountOfUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.PaymentOverTheAmountOfUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.PhoneCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.PhoneCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.PhoneExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.PhoneExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.PostalCodeLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.PostalCodeLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.ReasonOfTheDefault__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.ReasonOfTheDefault__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.RegionSAP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.RegionSAP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.RoomLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.RoomLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SameRegisteredAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SameRegisteredAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SocialResponsibilityPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SocialResponsibilityPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SpecifyFailedSupplyInLast3Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SpecifyFailedSupplyInLast3Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SpecifyIssuesDuringThePast5Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SpecifyIssuesDuringThePast5Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SpecifyLanguagesOfCompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SpecifyLanguagesOfCompanyName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SpecifySanctionedTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SpecifySanctionedTarget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.StartTradingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.StartTradingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.StreetLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.StreetLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SubDistrictLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SubDistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TaxCode1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTaxCode1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TradingPartner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TradingPartner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TransportationZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TransportationZone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TypeOfBusinessBranch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TypeOfBusinessBranch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TypeOfBusinessCommercialEvaluation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TypeOfBusinessCommercialEvaluation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TypeOfBusinessOthers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TypeOfBusinessOthers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyWebsite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.YearsofExperience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.YearsofExperience__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street2Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street2Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street3Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street3Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street4Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street4Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street2EN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street2EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street3EN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street3EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street4EN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street4EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street5EN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street5EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street5Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street5Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TaxCode5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TaxCode1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignSalesArea</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmails_Customer</name>
        <label>Assign Emails</label>
        <locationX>50</locationX>
        <locationY>1980</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailtoRelevant_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmails_Supplier</name>
        <label>Assign Emails</label>
        <locationX>842</locationX>
        <locationY>1980</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailtoRelevant_Supplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPurchasingView</name>
        <label>Assign Purchasing View</label>
        <locationX>1172</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.PurchasingOrg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PurchasingOrganizationTX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.TermofPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TermOfPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KeyPurchasingViewFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.Incoterms2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incoterms2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.GRBasedInvVerif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.GRBasedInvVerif__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.AutomaticPurchaseOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AutomaticPurchaseOrder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.AcctgClerk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccigClerk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.Chkdoubleinv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Chkdoubleinv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.ShippingConditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingConditions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchasingViewRecord.BlockStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PurchasingBlockStatusFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSupplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSalesArea</name>
        <label>Assign Sales Area</label>
        <locationX>380</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.AccountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.SalesOrganization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SalesOrganizationTX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.DistributionChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DistributionChannel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.SalesDistrict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SalesDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.TermofPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TermOfPayment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.SalesGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SalesGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.SalesOffice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SalesOffice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.ShippingCondition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingConditions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.CustPriceProc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CustPriceProc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.PriceGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PriceGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.ExchangeRateType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ExchangeRateType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.PaymentGuaranteeProcedure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PaymentGuaranteeProcedure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.AccountAssignmentGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountAssignmentGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.Key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KeySalesAreaFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.Incoterms2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incoterms2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.Division__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.CustStatGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CustStatGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.DeliveryPlant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DeliveryPlant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.DeliveryPriority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DeliveryPriority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.MaxPartialDeliveries__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MaxPartialDeliveries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.OrderCombination__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderCombination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.OrderProbability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderProbability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.OverdeliveryTolerance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OverdeliveryTolerance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.PartialDeliveriesperitem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PartialDeliveriesperitem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.IsPriceDetermin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsPriceDetermin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.Rebate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Rebate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.UnderdeliveryTolerance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UnderdeliveryTolerance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesAreaRecord.CreditControlArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreditControlArea__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSupplier</name>
        <label>Assign Supplier</label>
        <locationX>1172</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.StatusDeletionIndicator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SupplierCodeOtherSystem_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SupplierCodeOtherSystem_Flow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CreateDateinSAP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EffectiveDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.InterestedProductTypeAsSupplierTOP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.InterestedProductTypeAsSupplierTOP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.InterestedProductTypeAsSupplierTX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.InterestedProductTypeAsSupplierTX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.AccountGroup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.AccountGroup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.BuildingCodeLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.BuildingCodeLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CEOFirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CEOFirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CEOLastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CEOLastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CityStateLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CityStateLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CompanyLatestCreditRating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyLatestCreditRating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CompanyNameENF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyNameENF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CompanyNameLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyNameLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CompanyPurchasingVolumnperGrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyPurchasingVolumnperGrade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.ContactSalutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.ContactSalutation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CorporateGovernancePolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CorporateGovernancePolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerNameEN1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerNameEN1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerNameEN2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerNameEN2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerNameLocal1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerNameLocal1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerNameLocal2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerNameLocal2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.CustomerPurchaseProductFrom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CustomerPurchaseProductFrom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SupplierSearchTermEN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SupplierSearchTermLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SupplierSearchTermLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SupplierSearchTermLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SuppliersFacilityTankAndStorage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SuppliersFacilityTankAndStorage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SuppliersFacilityTransportation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SuppliersFacilityTransportation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SupplierType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SupplierType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.DistrictLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.DistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.EnvironmentPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.EnvironmentPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.EstimatedMonthlyPurchaseUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.EstimatedMonthlyPurchaseUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Fax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FaxCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FaxCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FaxExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FaxExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FloorLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FloorLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.FormerNameofCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.FormerNameofCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.GroupKeyAccountKeyOfBank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.GroupKeyAccountKeyofBank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HasFailedSupplyInLast3Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HasFailedSupplyInLast3Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HasIssuesDuringThePast5Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HasIssuesDuringThePast5Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HasSanctionedTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HasSanctionedTarget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HousenoLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.HumanRightsPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.HumanRightsPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.ImmidiateParentCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.ImmidiateParentCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.IncoperationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.IncoperationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LegalEntity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.LegalEntityOthers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LegalEntityOthers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LocationInGoogleMapsGeolocation__Latitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LocationInGoogleMapsGeolocation__Longitude__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.LocationInGoogleMapsLinks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.LocationInGoogleMapsLinks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingBuildingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingBuildingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingDistrict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingFloor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingFloor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingHousenoLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingHousenoLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingRoom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingRoom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MailingSubDistrict__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MailingSubDistrict__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MainProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MainProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MainService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MainService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MobileCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MobileCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.MobilePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Nickname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Nickname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.NoOfRegistrationMinistryEnergy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.NoOfRegistrationMinistryEnergy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.OccupationalHealthAndSafetyPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.OccupationalHealthAndSafetyPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.OtherMainProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.OtherMainProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.OtherMainService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.OtherMainService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.PaymentOverTheAmountOfUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.PaymentOverTheAmountOfUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.PhoneCountryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.PhoneCountryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.PhoneExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.PhoneExtension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.PostalCodeLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.PostalCodeLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.ReasonOfTheDefault__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.ReasonOfTheDefault__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.RegionSAP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.RegionSAP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.RoomLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.RoomLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SameRegisteredAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SameRegisteredAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SocialResponsibilityPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SocialResponsibilityPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SpecifyFailedSupplyInLast3Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SpecifyFailedSupplyInLast3Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SpecifyIssuesDuringThePast5Years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SpecifyIssuesDuringThePast5Years__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SpecifyLanguagesOfCompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SpecifyLanguagesOfCompanyName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SpecifySanctionedTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SpecifySanctionedTarget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.StartTradingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.StartTradingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.StreetLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.StreetLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SubDistrictLocalText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SubDistrictLocalText__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TaxCode1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlTaxCode1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TradingPartner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TradingPartner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TransportationZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TransportationZone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TypeOfBusinessBranch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TypeOfBusinessBranch__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TypeOfBusinessCommercialEvaluation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TypeOfBusinessCommercialEvaluation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TypeOfBusinessOthers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TypeOfBusinessOthers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.CompanyWebsite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.YearsofExperience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.YearsofExperience__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street2Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street2Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street3Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street3Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street4Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street4Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street5Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street5Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street2EN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street2EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street3EN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street3EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street4EN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street4EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Street5EN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Street5EN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.SupplierSupplyProductTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.SupplierSupplyProductTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.TaxCode5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.TaxCode1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPurchasingView</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAccountType</name>
        <label>Check Account Type</label>
        <locationX>1007</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSalesArea</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPurchasingView</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCCUsers_Customer</name>
        <label>Check CC Users</label>
        <locationX>182</locationX>
        <locationY>1656</locationY>
        <defaultConnectorLabel>Not Found CC Users</defaultConnectorLabel>
        <rules>
            <name>FoundCCUsers_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindCCUsers_Customer.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindCCUsers_Customer.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelevantEmailTemplate_Customer</targetReference>
            </connector>
            <label>Found CC Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCCUsers_Supplier</name>
        <label>Check CC Users</label>
        <locationX>974</locationX>
        <locationY>1656</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundCCUsers_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindCCUsers_Supplier.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindCCUsers_Supplier.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelevantEmailTemplate_Supplier</targetReference>
            </connector>
            <label>Found CC Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEffectiveDate</name>
        <label>Check Effective Date</label>
        <locationX>1452</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EffectiveDateEqualsToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountRecordType</targetReference>
            </connector>
            <label>Effective Date = Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRelevantUsers_Customer</name>
        <label>Check Relevant Users</label>
        <locationX>380</locationX>
        <locationY>1332</locationY>
        <defaultConnectorLabel>Not Found Users</defaultConnectorLabel>
        <rules>
            <name>FoundUsers_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindRelevantUsers_Customer.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindRelevantUsers_Customer.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCCUsers_Customer</targetReference>
            </connector>
            <label>Found Users</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRelevantUsers_Supplier</name>
        <label>Check Relevant Users</label>
        <locationX>1172</locationX>
        <locationY>1332</locationY>
        <defaultConnectorLabel>Not Found Users</defaultConnectorLabel>
        <rules>
            <name>FoundUsers_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindRelevantUser_Supplier.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindRelevantUser_Supplier.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCCUsers_Supplier</targetReference>
            </connector>
            <label>Found Users</label>
        </rules>
    </decisions>
    <description>For schedule sending all data to account and sales view for customer or purchasing view for supplier.
[29-May-2024] Edit mapping fields followed by confirmation file.
[1-Jul-2024] Assign Tax code1 only 16 digits
[2-Jul-2024] Assign Customer Payment Guarantee Procedure on AssignSalesArea
[5-Jul-2024] Change condition for getting purchasing view (PurchasingOrg__c).</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlTaxCode1</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!$Record.CTRRequestFormHeader__r.TaxCode1__c}) &gt;= 16 , LEFT({!$Record.CTRRequestFormHeader__r.TaxCode1__c}, 16) , {!$Record.CTRRequestFormHeader__r.TaxCode1__c})</expression>
    </formulas>
    <formulas>
        <name>KeyPurchasingViewFormula</name>
        <dataType>String</dataType>
        <expression>{!AccountRecord.NonSAPSupplierCode__c}&amp;TEXT({!$Record.CompanyCodeTX__c})</expression>
    </formulas>
    <formulas>
        <name>KeySalesAreaFormula</name>
        <dataType>String</dataType>
        <expression>{!AccountRecord.NonSAPCustomerCode__c}&amp;TEXT({!$Record.SalesOrganizationTX__c})&amp;TEXT({!$Record.DistributionChannel__c})&amp;TEXT({!$Record.Division__c})</expression>
    </formulas>
    <formulas>
        <name>PurchasingBlockStatusFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.SelectedPurchasingOrg__c} = true, &quot;TRUE&quot;, &quot;FALSE&quot;)</expression>
    </formulas>
    <interviewLabel>CTRScheduleRequestFormItemSendAllDataToAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRScheduleRequestFormItemSendAllDataToAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountRecordType</name>
        <label>Get Account Record Type</label>
        <locationX>1007</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccountType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SoldTo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCCUsers_Customer</name>
        <label>Get CC Users</label>
        <locationX>182</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindCCUsers_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformRelatedCC</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCCUsers_Supplier</name>
        <label>Get CC Users</label>
        <locationX>974</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindCCUsers_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformRelatedCC</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomerEmailTemplate_Customer</name>
        <label>Get Customer Email Template</label>
        <locationX>50</locationX>
        <locationY>1872</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignEmails_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialCustomerGotNonSAPCodeToCustomer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPurchasingView</name>
        <label>Get Purchasing View</label>
        <locationX>1172</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSupplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PurchasingOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CompanyCodeTX__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRPurchasingView__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelevantEmailTemplate_Customer</name>
        <label>Get Relevant Email Template</label>
        <locationX>50</locationX>
        <locationY>1764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomerEmailTemplate_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialCustomerGotNonSAPCodeToRelevant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelevantEmailTemplate_Supplier</name>
        <label>Get Relevant Email Template</label>
        <locationX>842</locationX>
        <locationY>1764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSupplierEmailTemplate_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialSupplierGotNonSAPCodeToRelevantCTRInitialSupplierGotNonSAPCodeToRelevant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelevantUsers_Customer</name>
        <label>Get Relevant Users</label>
        <locationX>380</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindRelevantUsers_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformRelated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelevantUsers_Supplier</name>
        <label>Get Relevant Users</label>
        <locationX>1172</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindRelevantUser_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformRelated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSalesArea</name>
        <label>Get Sales Area</label>
        <locationX>380</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrganization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>C360_SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSupplierEmailTemplate_Supplier</name>
        <label>Get Supplier Email Template</label>
        <locationX>842</locationX>
        <locationY>1872</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignEmails_Supplier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialSupplierGotNonSAPCodeToSupplier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCustomer</name>
        <label>Update Customer</label>
        <locationX>380</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>UpdateSalesArea</targetReference>
        </connector>
        <inputReference>AccountRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePurchasingView</name>
        <label>Update Purchasing View</label>
        <locationX>1172</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>GetRelevantUsers_Supplier</targetReference>
        </connector>
        <inputReference>PurchasingViewRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSalesArea</name>
        <label>Update Sales Area</label>
        <locationX>380</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>GetRelevantUsers_Customer</targetReference>
        </connector>
        <inputReference>SalesAreaRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSupplier</name>
        <label>Update Supplier</label>
        <locationX>1172</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>UpdatePurchasingView</targetReference>
        </connector>
        <inputReference>AccountRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>1326</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckEffectiveDate</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 ) AND 8</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9200</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9300</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9400</stringValue>
            </value>
        </filters>
        <filters>
            <field>CompanyCodeTX__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9200</stringValue>
            </value>
        </filters>
        <filters>
            <field>CompanyCodeTX__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9300</stringValue>
            </value>
        </filters>
        <filters>
            <field>CompanyCodeTX__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9400</stringValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schedule</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-24</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>FindCCUsers_Customer</name>
        <label>Find CC Users</label>
        <locationX>182</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>CheckCCUsers_Customer</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetCCUsers_Customer</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FindCCUsers_Supplier</name>
        <label>Find CC Users</label>
        <locationX>974</locationX>
        <locationY>1548</locationY>
        <connector>
            <targetReference>CheckCCUsers_Supplier</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetCCUsers_Supplier</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FindRelevantUser_Supplier</name>
        <label>Find Relevant User</label>
        <locationX>1172</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>CheckRelevantUsers_Supplier</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetRelevantUsers_Supplier</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FindRelevantUsers_Customer</name>
        <label>Find Relevant Users</label>
        <locationX>380</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>CheckRelevantUsers_Customer</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetRelevantUsers_Customer</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PurchasingViewRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRPurchasingView__c</objectType>
    </variables>
    <variables>
        <name>RecipientCCEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesAreaRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C360_SalesArea__c</objectType>
    </variables>
</Flow>
