force-app/main/default/flows/CTRTriggerReqItemCommiteeApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>SendEmail</label>
        <locationX>622</locationX>
        <locationY>3275</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_CustomerChangeCredit_Approved_TOPLABIX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_CustomerChangeCredit_Approved_TX</name>
        <label>SendEmail</label>
        <locationX>182</locationX>
        <locationY>3275</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_CustomerChangeCredit_Approved_TX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>SendEmail</label>
        <locationX>1766</locationX>
        <locationY>3275</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_CustomerChangeCredit_Rejected_TOPLABIX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_CustomerChangeCredit_Rejected_TX</name>
        <label>SendEmail</label>
        <locationX>1326</locationX>
        <locationY>3275</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_CustomerChangeCredit_Rejected_TX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>SendEmail</label>
        <locationX>2910</locationX>
        <locationY>3275</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_SupplierChangeCredit_Approved_TOPLABIX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_SupplierChangeCredit_Approved_TX</name>
        <label>SendEmail</label>
        <locationX>2470</locationX>
        <locationY>3275</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_SupplierChangeCredit_Approved_TX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>SendEmail</label>
        <locationX>4054</locationX>
        <locationY>3275</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_SupplierChangeCredit_Rejected_TOPLABIX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmail_SupplierChangeCredit_Rejected_TX</name>
        <label>SendEmail</label>
        <locationX>3614</locationX>
        <locationY>3275</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTemplate_SupplierChangeCredit_Rejected_TX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendFinanceEmail</name>
        <label>sendFinanceEmail</label>
        <locationX>6848</locationX>
        <locationY>3191</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkFAId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>findUsers_FA.varTargetEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailFinanceSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailFinanceBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendFinanceNotify</name>
        <label>sendFinanceNotify</label>
        <locationX>6518</locationX>
        <locationY>3407</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>CheckApprovalStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>findUsers_FA.varTargetIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyFinanceTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyFinanceBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendFinanceSHEmail</name>
        <label>sendFinanceSHEmail</label>
        <locationX>7013</locationX>
        <locationY>2483</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>checkSHId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailFinanceSHSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailFinanceSHBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendFinanceSHNotify</name>
        <label>sendFinanceSHNotify</label>
        <locationX>7013</locationX>
        <locationY>2891</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>checkFAEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyFinanceSHTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyFinanceSHBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_Block_Approved</name>
        <label>sendNotify</label>
        <locationX>4758</locationX>
        <locationY>3467</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleApproval_Block</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyApproval_Block</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_Block_Rejected</name>
        <label>sendNotify</label>
        <locationX>5066</locationX>
        <locationY>2267</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleRejected_Block</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyRejected_Block</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_CreateShiptoInformMasterDataController</name>
        <label>sendNotify</label>
        <locationX>5594</locationX>
        <locationY>2051</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>MasterDataControllerRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitle_CreateShiptoInformMDC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBody_CreateShiptoInformMDC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>sendNotify</label>
        <locationX>622</locationX>
        <locationY>3167</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleApproval_CustomerChangeCreditCondition_TOPLABIX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyApproval_CustomerChangeCreditCondition_TOPLABIX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_CustomerChangeCredit_Approved_TX</name>
        <label>sendNotify</label>
        <locationX>182</locationX>
        <locationY>3167</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_CustomerChangeCredit_Approved_TX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleApproval_CustomerChangeCreditCondition_TX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyApproval_CustomerChangeCreditCondition_TX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>sendNotify</label>
        <locationX>1766</locationX>
        <locationY>3167</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleApproval_CustomerChangeCreditCondition_TOPLABIX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyApproval_CustomerChangeCreditCondition_TOPLABIX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_CustomerChangeCredit_Rejected_TX</name>
        <label>sendNotify</label>
        <locationX>1326</locationX>
        <locationY>3167</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_CustomerChangeCredit_Rejected_TX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleApproval_CustomerChangeCreditCondition_TX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyApproval_CustomerChangeCreditCondition_TX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>sendNotify</label>
        <locationX>2910</locationX>
        <locationY>3167</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleApproval_SupplierChangeCreditCondition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyApproval_SupplierChangeCreditCondition_TOPLABIX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_SupplierChangeCredit_Approved_TX</name>
        <label>sendNotify</label>
        <locationX>2470</locationX>
        <locationY>3167</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_SupplierChangeCredit_Approved_TX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleApproval_SupplierChangeCreditCondition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyApproval_SupplierChangeCreditCondition_TX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>sendNotify</label>
        <locationX>4054</locationX>
        <locationY>3167</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleApproval_SupplierChangeCreditCondition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyApproval_SupplierChangeCreditCondition_TOPLABIX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotify_SupplierChangeCredit_Rejected_TX</name>
        <label>sendNotify</label>
        <locationX>3614</locationX>
        <locationY>3167</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmail_SupplierChangeCredit_Rejected_TX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>otherRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyTitleApproval_SupplierChangeCreditCondition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyBodyApproval_SupplierChangeCreditCondition_TX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendVPEmail</name>
        <label>sendVPEmail</label>
        <locationX>6386</locationX>
        <locationY>3839</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>VPRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailVPSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailVPBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignEmailSH</name>
        <label>assignEmailSH</label>
        <locationX>7013</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsers.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCR.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendFinanceSHEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFAId_Block_Approved</name>
        <label>assignFAId</label>
        <locationX>4626</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getFinanceUser_Block.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFinanceSHUse_Block_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFAId_Block_Rejected</name>
        <label>assignFAId</label>
        <locationX>5066</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getFinanceUser_Block.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_Block_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFAId_CustomerChangeCredit_Approved_TX</name>
        <label>assignFAId</label>
        <locationX>50</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFASHUser_CustomerChangeCredit_Approved_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFAId_CustomerChangeCredit_Rejected_TX</name>
        <label>assignFAId</label>
        <locationX>1194</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFASHUser_CustomerChangeCredit_Rejected_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFAId_SupplierChangeCredit_Approved_TX</name>
        <label>assignFAId</label>
        <locationX>2338</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFASHUser_SupplierChangeCredit_Approved_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFAId_SupplierChangeCredit_Rejected_TX</name>
        <label>assignFAId</label>
        <locationX>3482</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFASHUser_SupplierChangeCredit_Rejected_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFASHId_Block_Approved</name>
        <label>assignFASHId</label>
        <locationX>4626</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getFinanceSHUse_Block_Approved.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMDCUser_Block_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFASHId_CustomerChangeCredit_Approved_TX</name>
        <label>assignFASHId</label>
        <locationX>50</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_CustomerChangeCredit_Approved_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFASHId_CustomerChangeCredit_Rejected_TX</name>
        <label>assignFASHId</label>
        <locationX>1194</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_CustomerChangeCredit_Rejected_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFASHId_SupplierChangeCredit_Approved_TX</name>
        <label>assignFASHId</label>
        <locationX>2338</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_SupplierChangeCredit_Approved_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFASHId_SupplierChangeCredit_Rejected_TX</name>
        <label>assignFASHId</label>
        <locationX>3482</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_SupplierChangeCredit_Rejected_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignIdSH</name>
        <label>assignIdSH</label>
        <locationX>7013</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsers.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendFinanceSHNotify</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMasterDataControllerRecipientIds</name>
        <label>assignMasterDataControllerRecipientIds</label>
        <locationX>5726</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>MasterDataControllerRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.MDCName__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkMasterDataController</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMDCId_Block_Approved</name>
        <label>assignMDCId</label>
        <locationX>4626</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getMDCUser_Block_Approved.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_Block_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>4546</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTargetRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMetaUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderId_Block_Approved</name>
        <label>assignTraderId</label>
        <locationX>4626</locationX>
        <locationY>3275</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_Block_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderId_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>assignTraderId</label>
        <locationX>490</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderId_CustomerChangeCredit_Approved_TX</name>
        <label>assignTraderId</label>
        <locationX>50</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_CustomerChangeCredit_Approved_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderId_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>assignTraderId</label>
        <locationX>1634</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderId_CustomerChangeCredit_Rejected_TX</name>
        <label>assignTraderId</label>
        <locationX>1194</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_CustomerChangeCredit_Rejected_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderId_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>assignTraderId</label>
        <locationX>2778</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderId_SupplierChangeCredit_Approved_TX</name>
        <label>assignTraderId</label>
        <locationX>2338</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_SupplierChangeCredit_Approved_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderId_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>assignTraderId</label>
        <locationX>3922</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderId_SupplierChangeCredit_Rejected_TX</name>
        <label>assignTraderId</label>
        <locationX>3482</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotify_SupplierChangeCredit_Rejected_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCRId_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>assignTRCRId</label>
        <locationX>490</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTRCRSHUser_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCRId_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>assignTRCRId</label>
        <locationX>1634</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTRCRSHUser_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCRId_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>assignTRCRId</label>
        <locationX>2778</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTRCRSHUser_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCRId_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>assignTRCRId</label>
        <locationX>3922</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CommitteeOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTRCRSHUser_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCRSHId_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>assignTRCRSHId</label>
        <locationX>490</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCRSHId_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>assignTRCRSHId</label>
        <locationX>1634</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCRSHId_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>assignTRCRSHId</label>
        <locationX>2778</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCRSHId_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>assignTRCRSHId</label>
        <locationX>3922</locationX>
        <locationY>2675</locationY>
        <assignmentItems>
            <assignToReference>otherRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVPEmail</name>
        <label>assignVPEmail</label>
        <locationX>6386</locationX>
        <locationY>3731</locationY>
        <assignmentItems>
            <assignToReference>VPRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendVPEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckApprovalStatus</name>
        <label>CheckApprovalStatus</label>
        <locationX>6518</locationX>
        <locationY>3515</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkVPEmail</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalStepStatus_Block</name>
        <label>checkApprovalStepStatus</label>
        <locationX>4978</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>checkFAID_Block_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_BlockRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkFAID_Block_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalStepStatus_CustomerChangeCredit</name>
        <label>checkApprovalStepStatus</label>
        <locationX>1128</locationX>
        <locationY>1835</locationY>
        <defaultConnector>
            <targetReference>checkBU_CustomerChangeCredit_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_CustomerChangeCredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkBU_CustomerChangeCredit_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalStepStatus_SupplierChangeCredit</name>
        <label>checkApprovalStepStatus</label>
        <locationX>3416</locationX>
        <locationY>1835</locationY>
        <defaultConnector>
            <targetReference>checkBU_SupplierChangeCredit_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved_SupplierChangeCredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkBU_SupplierChangeCredit_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBU_CustomerChangeCredit_Approved</name>
        <label>checkBU</label>
        <locationX>556</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>TX_CustomerChangeCredit_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_CustomerChangeCredit_Approved_TX</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOPLABIX_CustomerChangeCredit_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
            </connector>
            <label>TOP/LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBU_CustomerChangeCredit_Rejected</name>
        <label>checkBU</label>
        <locationX>1700</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>TX_CustomerChangeCredit_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_CustomerChangeCredit_Rejected_TX</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOPLABIX_CustomerChangeCredit_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
            </connector>
            <label>TOP/LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBU_SupplierChangeCredit_Approved</name>
        <label>checkBU</label>
        <locationX>2844</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>TX_SupplierChangeCredit_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_SupplierChangeCredit_Approved_TX</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOPLABIX_SupplierChangeCredit_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
            </connector>
            <label>TOP/LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkBU_SupplierChangeCredit_Rejected</name>
        <label>checkBU</label>
        <locationX>3988</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>TX_SupplierChangeCredit_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_SupplierChangeCredit_Rejected_TX</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOPLABIX_SupplierChangeCredit_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTemplate_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
            </connector>
            <label>TOP/LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFA</name>
        <label>checkFA</label>
        <locationX>7965</locationX>
        <locationY>1835</locationY>
        <defaultConnectorLabel>FASH = Null</defaultConnectorLabel>
        <rules>
            <name>notNullFASH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFinanceSHUser</targetReference>
            </connector>
            <label>FASH != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAEmail</name>
        <label>checkFAEmail</label>
        <locationX>7145</locationX>
        <locationY>3083</locationY>
        <defaultConnectorLabel>Email = Null</defaultConnectorLabel>
        <rules>
            <name>notNullEmailFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers_FA.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendFinanceEmail</targetReference>
            </connector>
            <label>Email != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAId</name>
        <label>checkFAId</label>
        <locationX>6848</locationX>
        <locationY>3299</locationY>
        <defaultConnectorLabel>Id = Null</defaultConnectorLabel>
        <rules>
            <name>notNullIdFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers_FA.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendFinanceNotify</targetReference>
            </connector>
            <label>Id != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAID_Block_Approved</name>
        <label>checkFAID</label>
        <locationX>4758</locationX>
        <locationY>2051</locationY>
        <defaultConnector>
            <targetReference>getFinanceSHUse_Block_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingFAID</defaultConnectorLabel>
        <rules>
            <name>FoundFAID_Block_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFAId_Block_Approved</targetReference>
            </connector>
            <label>FoundFAID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAID_Block_Rejected</name>
        <label>checkFAID</label>
        <locationX>5198</locationX>
        <locationY>2051</locationY>
        <defaultConnectorLabel>MissingFAID</defaultConnectorLabel>
        <rules>
            <name>FoundFAID_Block_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFinanceUser_Block.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFAId_Block_Rejected</targetReference>
            </connector>
            <label>FoundFAID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAID_CustomerChangeCredit_Approved_TX</name>
        <label>checkFAID</label>
        <locationX>182</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>getFASHUser_CustomerChangeCredit_Approved_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingFAID</defaultConnectorLabel>
        <rules>
            <name>FoundFAID_CustomerChangeCredit_Approved_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFAId_CustomerChangeCredit_Approved_TX</targetReference>
            </connector>
            <label>FoundFAID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAID_CustomerChangeCredit_Rejected_TX</name>
        <label>checkFAID</label>
        <locationX>1326</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>getFASHUser_CustomerChangeCredit_Rejected_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingFAID</defaultConnectorLabel>
        <rules>
            <name>FoundFAID_CustomerChangeCredit_Rejected_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFAId_CustomerChangeCredit_Rejected_TX</targetReference>
            </connector>
            <label>FoundFAID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAID_SupplierChangeCredit_Approved_TX</name>
        <label>checkFAID</label>
        <locationX>2470</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>getFASHUser_SupplierChangeCredit_Approved_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingFAID</defaultConnectorLabel>
        <rules>
            <name>FoundFAID_SupplierChangeCredit_Approved_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFAId_SupplierChangeCredit_Approved_TX</targetReference>
            </connector>
            <label>FoundFAID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFAID_SupplierChangeCredit_Rejected_TX</name>
        <label>checkFAID</label>
        <locationX>3614</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>getFASHUser_SupplierChangeCredit_Rejected_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingFAID</defaultConnectorLabel>
        <rules>
            <name>FoundFAID_SupplierChangeCredit_Rejected_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFAId_SupplierChangeCredit_Rejected_TX</targetReference>
            </connector>
            <label>FoundFAID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFASectionHead</name>
        <label>checkFASectionHead</label>
        <locationX>7697</locationX>
        <locationY>2051</locationY>
        <defaultConnectorLabel>FA S/H = Null</defaultConnectorLabel>
        <rules>
            <name>notNullFASectionHead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFinanceSHUser.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkMDC</targetReference>
            </connector>
            <label>FA S/H != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFASectionHeadID_Block_Approved</name>
        <label>checkFASectionHeadID</label>
        <locationX>4758</locationX>
        <locationY>2459</locationY>
        <defaultConnector>
            <targetReference>getMDCUser_Block_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing FA S/H ID</defaultConnectorLabel>
        <rules>
            <name>FoundFASHID_Block_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFinanceSHUse_Block_Approved.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFASHId_Block_Approved</targetReference>
            </connector>
            <label>Found FA S/H ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFASectionHeadID_CustomerChangeCredit_Rejected_TX</name>
        <label>checkFASectionHeadID</label>
        <locationX>1326</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_CustomerChangeCredit_Rejected_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing FA S/H ID</defaultConnectorLabel>
        <rules>
            <name>FoundFASHID_CustomerChangeCredit_Rejected_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFASHUser_CustomerChangeCredit_Rejected_TX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFASHId_CustomerChangeCredit_Rejected_TX</targetReference>
            </connector>
            <label>Found FA S/H ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFASectionHeadID_SupplierChangeCredit_Approved_TX</name>
        <label>checkFASectionHeadID</label>
        <locationX>2470</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_SupplierChangeCredit_Approved_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing FA S/H ID</defaultConnectorLabel>
        <rules>
            <name>FoundFASHID_SupplierChangeCredit_Approved_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFASHUser_SupplierChangeCredit_Approved_TX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFASHId_SupplierChangeCredit_Approved_TX</targetReference>
            </connector>
            <label>Found FA S/H ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFASectionHeadID_SupplierChangeCredit_Rejected_TX</name>
        <label>checkFASectionHeadID</label>
        <locationX>3614</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_SupplierChangeCredit_Rejected_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing FA S/H ID</defaultConnectorLabel>
        <rules>
            <name>FoundFASHID_SupplierChangeCredit_Rejected_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFASHUser_SupplierChangeCredit_Rejected_TX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFASHId_SupplierChangeCredit_Rejected_TX</targetReference>
            </connector>
            <label>Found FA S/H ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFASHID_CustomerChangeCredit_Approved_TX</name>
        <label>checkFASHID</label>
        <locationX>182</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_CustomerChangeCredit_Approved_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing FA S/H ID</defaultConnectorLabel>
        <rules>
            <name>FoundFASHID_CustomerChangeCredit_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFASHUser_CustomerChangeCredit_Approved_TX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFASHId_CustomerChangeCredit_Approved_TX</targetReference>
            </connector>
            <label>Found FA S/H ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMasterDataController</name>
        <label>checkMasterDataController</label>
        <locationX>5726</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MasterDataControllerNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MDCName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendNotify_CreateShiptoInformMasterDataController</targetReference>
            </connector>
            <label>Master Data Controller != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMDC</name>
        <label>checkMDC</label>
        <locationX>7425</locationX>
        <locationY>2159</locationY>
        <defaultConnectorLabel>MDCM</defaultConnectorLabel>
        <rules>
            <name>notMDCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MDCMngName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkSHEmail</targetReference>
            </connector>
            <label>Not MDCM</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMDC_Block_Approved</name>
        <label>checkMDC</label>
        <locationX>4758</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_Block_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing MDC</defaultConnectorLabel>
        <rules>
            <name>FoundMDC_BlockRecordType_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMDCUser_Block_Approved.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMDCId_Block_Approved</targetReference>
            </connector>
            <label>Found MDC</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecordType</name>
        <label>checkRecordType</label>
        <locationX>4546</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>checkFA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OtherRecordType</defaultConnectorLabel>
        <rules>
            <name>CustomerChangeCreditCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerChangeCrCond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkApprovalStepStatus_CustomerChangeCredit</targetReference>
            </connector>
            <label>CustomerChangeCreditCondition</label>
        </rules>
        <rules>
            <name>SupplierChangeCreditCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierChangeCrCond</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkApprovalStepStatus_SupplierChangeCredit</targetReference>
            </connector>
            <label>SupplierChangeCreditCondition</label>
        </rules>
        <rules>
            <name>Block</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerBlock</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFinanceUser_Block</targetReference>
            </connector>
            <label>Block</label>
        </rules>
        <rules>
            <name>CreateShipTo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToCreate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMasterDataControllerRecipientIds</targetReference>
            </connector>
            <label>CreateShipTo</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSHEmail</name>
        <label>checkSHEmail</label>
        <locationX>7145</locationX>
        <locationY>2267</locationY>
        <defaultConnector>
            <targetReference>checkSHId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email = Null</defaultConnectorLabel>
        <rules>
            <name>notNullSHEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignEmailSH</targetReference>
            </connector>
            <label>Email != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSHId</name>
        <label>checkSHId</label>
        <locationX>7145</locationX>
        <locationY>2675</locationY>
        <defaultConnector>
            <targetReference>checkFAEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ID = Null</defaultConnectorLabel>
        <rules>
            <name>notNulSHId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findUsers.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignIdSH</targetReference>
            </connector>
            <label>ID != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_Block_Approved</name>
        <label>checkTraderID</label>
        <locationX>4758</locationX>
        <locationY>3167</locationY>
        <defaultConnector>
            <targetReference>sendNotify_Block_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Trader ID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_Block_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTraderId_Block_Approved</targetReference>
            </connector>
            <label>Found Trader ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>checkTraderID</label>
        <locationX>622</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>sendNotify_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Trader ID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_CustomerChangeCredit_Approved_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTraderId_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
            </connector>
            <label>Found Trader ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_CustomerChangeCredit_Approved_TX</name>
        <label>checkTraderID</label>
        <locationX>182</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>sendNotify_CustomerChangeCredit_Approved_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Trader ID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_CustomerChangeCredit_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTraderId_CustomerChangeCredit_Approved_TX</targetReference>
            </connector>
            <label>Found Trader ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>checkTraderID</label>
        <locationX>1766</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>sendNotify_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Trader ID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_CustomerChangeCredit_Rejected_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTraderId_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
            </connector>
            <label>Found Trader ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_CustomerChangeCredit_Rejected_TX</name>
        <label>checkTraderID</label>
        <locationX>1326</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>sendNotify_CustomerChangeCredit_Rejected_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Trader ID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_CustomerChangeCredit_Rejected_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTraderId_CustomerChangeCredit_Rejected_TX</targetReference>
            </connector>
            <label>Found Trader ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>checkTraderID</label>
        <locationX>2910</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>sendNotify_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Trader ID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_SupplierChangeCredit_Approved_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTraderId_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
            </connector>
            <label>Found Trader ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_SupplierChangeCredit_Approved_TX</name>
        <label>checkTraderID</label>
        <locationX>2470</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>sendNotify_SupplierChangeCredit_Approved_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Trader ID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_SupplierChangeCredit_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTraderId_SupplierChangeCredit_Approved_TX</targetReference>
            </connector>
            <label>Found Trader ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>checkTraderID</label>
        <locationX>4054</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>sendNotify_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Trader ID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_SupplierChangeCredit_Rejected_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTraderId_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
            </connector>
            <label>Found Trader ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_SupplierChangeCredit_Rejected_TX</name>
        <label>checkTraderID</label>
        <locationX>3614</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>sendNotify_SupplierChangeCredit_Rejected_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Trader ID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_SupplierChangeCredit_Rejected_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTraderId_SupplierChangeCredit_Rejected_TX</targetReference>
            </connector>
            <label>Found Trader ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTRCRID_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>checkTRCRID</label>
        <locationX>622</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>getTRCRSHUser_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingTRCRID</defaultConnectorLabel>
        <rules>
            <name>FoundTRCRID_CustomerChangeCredit_Approved_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCRId_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
            </connector>
            <label>FoundTRCRID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTRCRID_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>checkTRCRID</label>
        <locationX>1766</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>getTRCRSHUser_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingTRCRID</defaultConnectorLabel>
        <rules>
            <name>FoundTRCRID_CustomerChangeCredit_Rejected_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCRId_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
            </connector>
            <label>FoundTRCRID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTRCRID_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>checkTRCRID</label>
        <locationX>2910</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>getTRCRSHUser_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingTRCRID</defaultConnectorLabel>
        <rules>
            <name>FoundTRCRID_SupplierChangeCredit_Approved_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCRId_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
            </connector>
            <label>FoundTRCRID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTRCRID_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>checkTRCRID</label>
        <locationX>4054</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>getTRCRSHUser_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingTRCRID</defaultConnectorLabel>
        <rules>
            <name>FoundTRCRID_SupplierChangeCredit_Rejected_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CommitteeOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCRId_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
            </connector>
            <label>FoundTRCRID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTRCRSHID_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>checkTRCRSHID</label>
        <locationX>622</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing TRCR S/H ID</defaultConnectorLabel>
        <rules>
            <name>FoundTRCRSHID_CustomerChangeCredit_Approved_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCRSHUser_CustomerChangeCredit_Approved_TOPLABIX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCRSHId_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
            </connector>
            <label>Found TRCR S/H ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTRCRSHID_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>checkTRCRSHID</label>
        <locationX>1766</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing TRCR S/H ID</defaultConnectorLabel>
        <rules>
            <name>FoundTRCRSHID_CustomerChangeCredit_Rejected_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCRSHUser_CustomerChangeCredit_Rejected_TOPLABIX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCRSHId_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
            </connector>
            <label>Found TRCR S/H ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTRCRSHID_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>checkTRCRSHID</label>
        <locationX>2910</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing TRCR S/H ID</defaultConnectorLabel>
        <rules>
            <name>FoundTRCRSHID_SupplierChangeCredit_Approved_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCRSHUser_SupplierChangeCredit_Approved_TOPLABIX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCRSHId_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
            </connector>
            <label>Found TRCR S/H ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTRCRSHID_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>checkTRCRSHID</label>
        <locationX>4054</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing TRCR S/H ID</defaultConnectorLabel>
        <rules>
            <name>FoundTRCRSHID_SupplierChangeCredit_Rejected_TOPLABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCRSHUser_SupplierChangeCredit_Rejected_TOPLABIX.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCRSHId_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
            </connector>
            <label>Found TRCR S/H ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkVPEmail</name>
        <label>checkVPEmail</label>
        <locationX>6518</locationX>
        <locationY>3623</locationY>
        <defaultConnectorLabel>Email = Null</defaultConnectorLabel>
        <rules>
            <name>VPEmailNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersCMVP__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnersCMVP__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignVPEmail</targetReference>
            </connector>
            <label>VPEmail != Null</label>
        </rules>
    </decisions>
    <description>[26-Jun-2024] 
- Edit condition for getting metadata (Element: getMetaUsers).
- Edit condition for getting FA from metadata (Element: getMetaUsers_FA).
- Edit condition for getting MDC from metadata (Element: getMetaUsers_MDC).
- Edit condition for getting TRCR from metadata (Element: getMetaUsersTRCR).
- Edit condition for getting TRCR S/H from metadata (Element: getMetaUsersTRCRSH).

[03-Jul-2024]
- Edit send email to FA body.
- Edit send email to FA subject.</description>
    <environments>Default</environments>
    <formulas>
        <name>emailFinanceSHSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; + {!$Record.SubBU__c} + &quot;]: &quot; + {!$Record.fmlAccountTypeName__c} +&quot; Registration is &quot; + TEXT({!$Record.Approval_Step__c}) + &quot; : &quot; + {!$Record.CompanyNameSubject__c}</expression>
    </formulas>
    <formulas>
        <name>emailFinanceSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI][&quot; + {!$Record.SubBU__c} + &quot;] &quot; + {!$Record.fmlAccountTypeName__c} + &quot; Registration is &quot; + TEXT({!$Record.Approval_Step__c}) + &quot; : &quot; + {!$Record.CompanyNameSubject__c}</expression>
    </formulas>
    <formulas>
        <name>emailVPSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI][&quot; + {!$Record.SubBU__c} + &quot;] &quot; + {!fmlRecordType} + &quot;: &quot; + {!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} + &quot; &quot; + {!fmlProcess} + &quot; is &quot; + TEXT({!$Record.Approval_Step__c})</expression>
    </formulas>
    <formulas>
        <name>fmlProcess</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.RecordTypeName__c}, &quot;ChangeCrCond&quot;), 
&quot;Credit Condition&quot;,
IF(OR(
({!$Record.RecordTypeName__c} = &quot;CustomerInitial&quot;),
({!$Record.RecordTypeName__c} = &quot;CustomerExtend&quot;)),
&quot;Customer Registration&quot;,
&quot;Supplier Registration&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fmlRecLink</name>
        <dataType>String</dataType>
        <expression>{!getOrgWide.SFDomain__c} &amp; {!varTargetRec}</expression>
    </formulas>
    <formulas>
        <name>fmlRecordType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.CTRRequestFormHeader__r.RecordType.DeveloperName},
&quot;NewCounterparty&quot;, &quot;Initial&quot;,
&quot;Extension&quot;, &quot;Extend&quot;,
&quot;ChangeCrCondition&quot;, &quot;Change Credit Condition&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c} = &apos;TH&apos;, &apos;Domestic&apos;, &apos;International&apos;)</expression>
    </formulas>
    <formulas>
        <name>notifyBody_CreateShiptoInformMDC</name>
        <dataType>String</dataType>
        <expression>&quot;Ship-to Information has been approved by Trader Section Head. Please review and submit for approval create ship-to master to SAP.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyBodyApproval_Block</name>
        <dataType>String</dataType>
        <expression>&quot;Customer has been approved by Commitee. Please submit summary report.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyBodyApproval_CustomerChangeCreditCondition_TOPLABIX</name>
        <dataType>String</dataType>
        <expression>&quot;Customer Credit Condition has been &quot;+ Text({!$Record.Status__c})+&quot; &quot;+ &quot;by Committee. Please submit summary report.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyBodyApproval_CustomerChangeCreditCondition_TX</name>
        <dataType>String</dataType>
        <expression>&quot;Customer Credit Condition has been &quot;+ Text({!$Record.Status__c} )+&quot; &quot;+&quot;by Committee. Please submit summary report.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyBodyApproval_SupplierChangeCreditCondition_TOPLABIX</name>
        <dataType>String</dataType>
        <expression>&quot;Supplier Credit Condition has been &quot;+ Text({!$Record.Status__c} )+&quot; &quot;+ &quot;by Committee. Please submit summary report.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyBodyApproval_SupplierChangeCreditCondition_TX</name>
        <dataType>String</dataType>
        <expression>&quot;Supplier Credit Condition has been &quot;+ Text({!$Record.Status__c} )+&quot; &quot;+ &quot;by Committee. Please submit summary report.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyBodyRejected_Block</name>
        <dataType>String</dataType>
        <expression>&quot;Customer has been rejected by Commitee. Please submit summary report.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyFinanceBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.fmlAccountTypeName__c} + &quot; has been &quot; + TEXT({!$Record.Approval_Step__c}) + &quot; by Committee.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyFinanceSHBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.fmlAccountTypeName__c} + &quot; has been &quot; + TEXT({!$Record.Approval_Step__c}) + &quot; by Committee. Please submit summary report.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyFinanceSHTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyNameSubject__c} +&quot; &quot;+ {!$Record.fmlAccountTypeName__c} +&quot; &quot;+ &quot;Registration is&quot; +&quot; &quot;+ Text({!$Record.Approval_Step__c})</expression>
    </formulas>
    <formulas>
        <name>notifyFinanceTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyNameSubject__c} + &quot; &quot; + {!fmlProcess} + &quot; is &quot; + TEXT({!$Record.Approval_Step__c})</expression>
    </formulas>
    <formulas>
        <name>notifyTitle_CreateShiptoInformMDC</name>
        <dataType>String</dataType>
        <expression>{!$Record.ShiptoName__c} &amp; &quot; is ready to review SAP Information&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyTitleApproval_Block</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} &amp; &quot; Customer Registration is Approved.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyTitleApproval_CustomerChangeCreditCondition_TOPLABIX</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} + &quot;Customer credit condition is &quot; + Text({!$Record.Status__c}) +&quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyTitleApproval_CustomerChangeCreditCondition_TX</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} &amp; &quot; Customer credit condition is &quot; + Text({!$Record.Status__c}) +&quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyTitleApproval_SupplierChangeCreditCondition</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} &amp; &quot; Supplier credit condition is &quot; + Text({!$Record.Status__c}) +&quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyTitleRejected_Block</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} &amp; &quot; Customer Registration is Rejected.&quot;</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemCommiteeApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemCommitteeApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomerNotification</name>
        <label>getCustomerNotification</label>
        <locationX>4546</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>getEmailTemplate</label>
        <locationX>622</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTRCRID_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TOPLABIXCustomerChangeCreditInformApprovalStatusV2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_CustomerChangeCredit_Approved_TX</name>
        <label>getEmailTemplate</label>
        <locationX>182</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFAID_CustomerChangeCredit_Approved_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXCustomerChangeCreditInformApprovalStatusV2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>getEmailTemplate</label>
        <locationX>1766</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTRCRID_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TOPLABIXCustomerChangeCreditInformApprovalStatusV2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_CustomerChangeCredit_Rejected_TX</name>
        <label>getEmailTemplate</label>
        <locationX>1326</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFAID_CustomerChangeCredit_Rejected_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXCustomerChangeCreditInformApprovalStatusV2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>getEmailTemplate</label>
        <locationX>2910</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTRCRID_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TOPLABIXSupplierChangeCreditInformApprovalStatusV2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_SupplierChangeCredit_Approved_TX</name>
        <label>getEmailTemplate</label>
        <locationX>2470</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFAID_SupplierChangeCredit_Approved_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXSupplierChangeCreditInformApprovalStatusV2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>getEmailTemplate</label>
        <locationX>4054</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTRCRID_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TOPLABIXSupplierChangeCreditInformApprovalStatusV2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTemplate_SupplierChangeCredit_Rejected_TX</name>
        <label>getEmailTemplate</label>
        <locationX>3614</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFAID_SupplierChangeCredit_Rejected_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXSupplierChangeCreditInformApprovalStatusV2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFASHUser_CustomerChangeCredit_Approved_TX</name>
        <label>getFASHUser</label>
        <locationX>182</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFASHID_CustomerChangeCredit_Approved_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFASHUser_CustomerChangeCredit_Rejected_TX</name>
        <label>getFASHUser</label>
        <locationX>1326</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFASectionHeadID_CustomerChangeCredit_Rejected_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFASHUser_SupplierChangeCredit_Approved_TX</name>
        <label>getFASHUser</label>
        <locationX>2470</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFASectionHeadID_SupplierChangeCredit_Approved_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFASHUser_SupplierChangeCredit_Rejected_TX</name>
        <label>getFASHUser</label>
        <locationX>3614</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFASectionHeadID_SupplierChangeCredit_Rejected_TX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFinanceSHUse_Block_Approved</name>
        <label>getFinanceSHUser</label>
        <locationX>4758</locationX>
        <locationY>2351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFASectionHeadID_Block_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsers.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFinanceSHUser</name>
        <label>getFinanceSHUser</label>
        <locationX>7697</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkFASectionHead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsers.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFinanceUser_Block</name>
        <label>getFinanceUser</label>
        <locationX>4978</locationX>
        <locationY>1835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkApprovalStepStatus_Block</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsers_FA.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMDCUser_Block_Approved</name>
        <label>getMDCUser</label>
        <locationX>4758</locationX>
        <locationY>2759</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkMDC_Block_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsers.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMetaUsers</name>
        <label>getMetaUsers</label>
        <locationX>4546</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CreditHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SummaryReport</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMetaUsers_FA</name>
        <label>getMetaUsersFA</label>
        <locationX>4546</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findUsers_FA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SummaryReport</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMetaUsers_MDC</name>
        <label>getMetaUsersMDC</label>
        <locationX>4546</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findUsers_MDC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>TXMO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SummaryReport</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMetaUsersTRCR</name>
        <label>getMetaUsersTRCR</label>
        <locationX>4546</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findUsersTRCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SummaryReport</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMetaUsersTRCRSH</name>
        <label>getMetaUsersTRCRSH</label>
        <locationX>4546</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findUsersTRCRSH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CreditHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SummaryReport</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>4546</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
        <queriedFields>SFDomain__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRCRSHUser_CustomerChangeCredit_Approved_TOPLABIX</name>
        <label>getTRCRSHUser</label>
        <locationX>622</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTRCRSHID_CustomerChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRCRSHUser_CustomerChangeCredit_Rejected_TOPLABIX</name>
        <label>getTRCRSHUser</label>
        <locationX>1766</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTRCRSHID_CustomerChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRCRSHUser_SupplierChangeCredit_Approved_TOPLABIX</name>
        <label>getTRCRSHUser</label>
        <locationX>2910</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTRCRSHID_SupplierChangeCredit_Approved_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRCRSHUser_SupplierChangeCredit_Rejected_TOPLABIX</name>
        <label>getTRCRSHUser</label>
        <locationX>4054</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkTRCRSHID_SupplierChangeCredit_Rejected_TOPLABIX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsersTRCRSH.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>4420</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCustomerNotification</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerChangeCrCond</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierChangeCrCond</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerBlock</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierBlock</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ShipToCreate</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>findUsers</name>
        <label>findUsers</label>
        <locationX>4546</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>getMetaUsers_FA</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getMetaUsers</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findUsers_FA</name>
        <label>findUsers FA</label>
        <locationX>4546</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>getMetaUsers_MDC</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getMetaUsers_FA</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findUsers_MDC</name>
        <label>findUsers MDC</label>
        <locationX>4546</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>getMetaUsersTRCR</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getMetaUsers_MDC</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findUsersTRCR</name>
        <label>findUsersTRCR</label>
        <locationX>4546</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>getMetaUsersTRCRSH</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getMetaUsersTRCR</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findUsersTRCRSH</name>
        <label>findUsersTRCRSH</label>
        <locationX>4546</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>checkRecordType</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getMetaUsersTRCRSH</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>emailFinanceBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Dear {!$Record.CommitteeOwner__r.FirstName} {!$Record.CommitteeOwner__r.LastName},&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!$Record.CompanyNameSubject__c} is {!$Record.Approval_Step__c} by Committee.&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please see the details via&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Conterparties Registration Automated System&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailFinanceSHBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!getFinanceSHUser.FirstName} {!getFinanceSHUser.LastName},&lt;br&gt;&lt;br&gt;{!$Record.CompanyNameSubject__c} is {!$Record.Approval_Step__c} by Committee. Please proceed via &lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;.&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>emailVPBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;span style=&quot;font-family: sans-serif;&quot;&amp;gt;Dear {!$Record.OwnersCMVP__r.FirstName} {!$Record.&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;OwnersCMVP__r&lt;/span&gt;.LastName},&amp;lt;/span&amp;gt;&amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;span style=&quot;font-family: sans-serif;&quot;&amp;gt;{!$Record.CompanyName__c} is {!$Record.Approval_Step__c} by Committee.&amp;lt;/span&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;span style=&quot;font-family: sans-serif;&quot;&amp;gt;You can view the information via &amp;lt;/span&amp;gt;&amp;lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&amp;gt;this link&amp;lt;/a&amp;gt;&amp;lt;span style=&quot;font-family: sans-serif;&quot;&amp;gt;.&amp;lt;/span&amp;gt;&amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;span style=&quot;font-family: sans-serif;&quot;&amp;gt;Best Regards,&amp;lt;/span&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;span style=&quot;font-family: sans-serif;&quot;&amp;gt;Conterparties Registration Automated System&amp;lt;/span&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;span style=&quot;font-family: sans-serif;&quot;&amp;gt;This is an automatic generated email. Please do not reply to this address.&amp;lt;/span&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>MasterDataControllerRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>otherRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VPRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
