force-app/main/default/flows/CTRTriggerReqItemEDD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EDDWTtoGLGCSendEmail</name>
        <label>EDDWTtoGLGCSendEmail</label>
        <locationX>1414</locationX>
        <locationY>2999</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>recipientCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEDDWTtoGLGCEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EDDWTtoGLGCSendNoti</name>
        <label>EDDWTtoGLGCSendNoti</label>
        <locationX>1414</locationX>
        <locationY>2783</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>getEDDWTtoGLGCEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>GLGCEDDSendNoti</name>
        <label>GLGCEDDSendNoti</label>
        <locationX>3306</locationX>
        <locationY>3335</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>getGLGCRejectedEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>RejectNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RejectNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GLGCRejectedendEmail</name>
        <label>GLGCRejectedendEmail</label>
        <locationX>3306</locationX>
        <locationY>3551</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getGLGCRejectedEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>GLGCtoTRCRSendEmail</name>
        <label>GLGCtoTRCRSendEmail</label>
        <locationX>3042</locationX>
        <locationY>3551</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>TRCRrecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getGLGCtoTRCREmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TOPSupplierSendEmail</name>
        <label>TOPSupplierSendEmail</label>
        <locationX>1986</locationX>
        <locationY>2159</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TopSupplierSendNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TOPSupplierApprovedEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TOPSupplierApprovedEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TopSupplierSendNoti</name>
        <label>TopSupplierSendNoti</label>
        <locationX>1986</locationX>
        <locationY>2267</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TOPSupplierApprovedNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TOPSupplierApprovedNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TraderEDDNotProceedSendEmail</name>
        <label>TraderEDDNotProceedSendEmail</label>
        <locationX>600</locationX>
        <locationY>3059</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getTraderNotProceedEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TraderEDDProceedSendEmail</name>
        <label>TraderEDDProceedSendEmail</label>
        <locationX>336</locationX>
        <locationY>3059</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getTraderProceedEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TraderEDDSendNoti</name>
        <label>TraderEDDSendNoti</label>
        <locationX>336</locationX>
        <locationY>2843</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>getTraderProceedEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>TraderEDDSendNoti_0</name>
        <label>TraderEDDSendNoti</label>
        <locationX>600</locationX>
        <locationY>2843</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>getTraderNotProceedEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotProceedNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RejectNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>TRCRSendNoti_1</name>
        <label>TRCRSendNoti</label>
        <locationX>3042</locationX>
        <locationY>3335</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>getGLGCtoTRCREmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>TRCRrecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TRCRNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TRCRNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addEDDTeam</name>
        <label>addEDDTeam</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findEVPCTeam.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findEVPCTeam.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addEDDTeam_JustReviewEDD</name>
        <label>addEDDTeam</label>
        <locationX>1282</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>recipientCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findEVPCTeam_JustReviewEDD.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EDDWTtoGLGCSendNoti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addFALB</name>
        <label>addFALB</label>
        <locationX>3306</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>TRCRrecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFALB.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TRCRrecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFALB.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addFATX</name>
        <label>addFATX</label>
        <locationX>2250</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>TRCRrecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFATX.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TRCRrecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFATX.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addGLGC</name>
        <label>addGLGC</label>
        <locationX>1414</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findGLGC.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findGLGC.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEVPCTeamMeta_JustReviewEDD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addTRCR</name>
        <label>addTRCR</label>
        <locationX>2778</locationX>
        <locationY>2591</locationY>
        <assignmentItems>
            <assignToReference>TRCRrecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCR.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TRCRrecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCR.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecipients</name>
        <label>AssignRecipients</label>
        <locationX>4362</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findEDDTeamforCC.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findEDDTeamforCC.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSH</name>
        <label>assignSH</label>
        <locationX>578</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>4147</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCPCEMetaforCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader</name>
        <label>assignTrader</label>
        <locationX>1986</locationX>
        <locationY>2051</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TOPSupplierSendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTraderCreditCPCE</name>
        <label>assignTraderCreditCPCE</label>
        <locationX>710</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCreditforCC.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCPCEforCC.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVP</name>
        <label>assignVP</label>
        <locationX>578</locationX>
        <locationY>2459</locationY>
        <assignmentItems>
            <assignToReference>RecipientID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckEDDbyEDDWorkingTeam</name>
        <label>CheckEDDbyEDDWorkingTeam</label>
        <locationX>3229</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EDDWTJustReviewEDD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceBy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceResult__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGLGCMeta</targetReference>
            </connector>
            <label>EDDWTJustReviewEDD</label>
        </rules>
        <rules>
            <name>EDDWTAlreadyReviewEDD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceResult__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ComplianceAdviceResult</targetReference>
            </connector>
            <label>EDDWTAlreadyReviewEDD</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEDDbyTrader</name>
        <label>CheckEDDbyTrader</label>
        <locationX>2877</locationX>
        <locationY>1619</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TraderJustReviewEDD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TraderEnhanceDueDiligenceBy__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TraderEnhanceDueDiligenceBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceProceedByTrader__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TraderEDDPro</targetReference>
            </connector>
            <label>TraderJustReviewEDD</label>
        </rules>
        <rules>
            <name>TraderAlreadyReviewEDD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TraderEnhanceDueDiligenceBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceProceedByTrader__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckEDDbyEDDWorkingTeam</targetReference>
            </connector>
            <label>TraderAlreadyReviewEDD</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEDDWorkingTeam</name>
        <label>CheckEDDWorkingTeam</label>
        <locationX>182</locationX>
        <locationY>2051</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveEDDWorkingTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findEVPCTeam.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findEVPCTeam.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addEDDTeam</targetReference>
            </connector>
            <label>HaveEDDWorkingTeam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckEDDWorkingTeam_JustReviewEDD</name>
        <label>CheckEDDWorkingTeam</label>
        <locationX>1414</locationX>
        <locationY>2483</locationY>
        <defaultConnector>
            <targetReference>EDDWTtoGLGCSendNoti</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveEDDWorkingTeam_JustReviewEDD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findEVPCTeam.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findEVPCTeam.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addEDDTeam_JustReviewEDD</targetReference>
            </connector>
            <label>HaveEDDWorkingTeam</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFALB</name>
        <label>CheckFALB</label>
        <locationX>3438</locationX>
        <locationY>2483</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveFALB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFALB.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFALB.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFALB</targetReference>
            </connector>
            <label>HaveFALB</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFinalRiskLevel</name>
        <label>CheckFinalRiskLevel</label>
        <locationX>4147</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HighRisk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckEDDbyTrader</targetReference>
            </connector>
            <label>HighRisk</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForTypeEdit</name>
        <label>CheckForTypeEdit</label>
        <locationX>3603</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>UpdateCustomNotifyForEdit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckRecordTypeNotEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_BU</targetReference>
            </connector>
            <label>CheckRecordTypeNotEdit</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckGLGC</name>
        <label>CheckGLGC</label>
        <locationX>1568</locationX>
        <locationY>2051</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveGLGC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findGLGC.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findGLGC.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addGLGC</targetReference>
            </connector>
            <label>HaveGLGC</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient</name>
        <label>CheckRecipient</label>
        <locationX>600</locationX>
        <locationY>2735</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipientandProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceProceedByTrader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TraderEDDSendNoti</targetReference>
            </connector>
            <label>HaveRecipientandProceed</label>
        </rules>
        <rules>
            <name>HaveRecipientandNotProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceProceedByTrader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TraderEDDSendNoti_0</targetReference>
            </connector>
            <label>HaveRecipientandNotProceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient_0</name>
        <label>CheckRecipient</label>
        <locationX>3306</locationX>
        <locationY>3227</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipientandYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TRCRrecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TRCRrecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplianceAdviceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TRCRSendNoti_1</targetReference>
            </connector>
            <label>HaveRecipientandYes</label>
        </rules>
        <rules>
            <name>HaveRecipientandNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplianceAdviceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GLGCEDDSendNoti</targetReference>
            </connector>
            <label>HaveRecipientandNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType_TX</name>
        <label>CheckRecordType</label>
        <locationX>2382</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>GLGCUpdateRecordApprovalStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>InitialExtendSupplier_TX</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplierlnitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GLGCUpdateRecordApprovalStep_Supplier</targetReference>
            </connector>
            <label>InitialExtendSupplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSH</name>
        <label>CheckSH</label>
        <locationX>710</locationX>
        <locationY>2051</locationY>
        <defaultConnector>
            <targetReference>CheckVP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersSectionHead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSH</targetReference>
            </connector>
            <label>HaveSH</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTRCR</name>
        <label>CheckTRCR</label>
        <locationX>2910</locationX>
        <locationY>2483</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveTRCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findTRCR.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findTRCR.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addTRCR</targetReference>
            </connector>
            <label>HaveTRCR</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTXFA</name>
        <label>CheckTXFA</label>
        <locationX>2382</locationX>
        <locationY>2675</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveTXFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFATX.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFATX.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFATX</targetReference>
            </connector>
            <label>HaveTXFA</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVP</name>
        <label>CheckVP</label>
        <locationX>710</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>CheckRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveVP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersCMVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignVP</targetReference>
            </connector>
            <label>HaveVP</label>
        </rules>
    </decisions>
    <decisions>
        <name>ComplianceAdviceResult</name>
        <label>ComplianceAdviceResult</label>
        <locationX>3306</locationX>
        <locationY>1835</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesandTOPSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsSupplierTOP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crude</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplianceAdviceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GLGCEDDTOPSupplierUpdateRecord</targetReference>
            </connector>
            <label>YesandTOPSupplier</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ComplianceAdviceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckForTypeEdit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ComplianceAdviceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GLGCNoUpdateRecord</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>TraderEDDPro</name>
        <label>CheckTraderEDDProceed</label>
        <locationX>600</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceProceedByTrader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEVPCTeamMeta</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
        <rules>
            <name>NotProceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EnhanceDueDiligenceProceedByTrader__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTraderNotProceedRecord</targetReference>
            </connector>
            <label>NotProceed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_BU</name>
        <label>Which BU</label>
        <locationX>3108</locationX>
        <locationY>2051</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecordType_TX</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GLGCUpdateRecordApprovalStep_TOP</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GLGCUpdateRecordApprovalStep_LABIX</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <description>[26-Jun-2024] 
- Edit condition for getting CPCE from metadata (Element: getCPCEMetaforCC).
- Edit condition for getting EDD team from metadata (Element: getEDDTeamforCC).
- Edit condition for getting EVPC team from metadata (Element: getEVPCTeamMeta).
- Edit condition for getting GLGC from metadata (Element: getGLGCMeta).
- Edit condition for getting EVPC team from metadata (Element: getEVPCTeamMeta_JustReviewEDD).
- Edit condition for getting FATX from metadata (Element: getFATXMeta).
- Edit condition for getting TRCR from metadata (Element: getTRCRMeta).
- Edit condition for getting FALB from metadata (Element: getFALBMeta).

[04-Jul-2024] 
- After Final Risk Level, For InitialSupplier &amp; ExtendSupplier update approval step to &apos;Select Committee&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>EDDAMMRejectEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Not Endorse by AMM for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot;  &amp;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDCEORejectEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Not Approve by CEO for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot;  &amp;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Compliance Advice for Enhance Due Diligence of Required for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDEVPCRejectEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Not to register New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDEVPCtoTraderEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Propose Counter Party Registration in AMM for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDNotProceedEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Not to Further Proceed Enhance Due Diligence Required for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDTraderEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Enhance Due Diligence Required for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial: &quot;&amp; {!$Record.Customer__r.Name} &amp;&quot; Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlCountry</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fmlTRCRTeam</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.BusinessUnit__c}, &apos;TOP&apos;, &apos;TRCR&apos;, &apos;TX&apos;, &apos;FATX&apos;, &apos;LABIX&apos;, &apos;FALB&apos;, &apos;TRCR&apos;)</expression>
    </formulas>
    <formulas>
        <name>NotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review due diligence result.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Enhanced Due Diligence Required for New &quot; &amp;{!$Record.fmlAccountTypeName__c} &amp; &quot; Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle_Rejected</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&amp;&quot; &quot;&amp;&quot;Enhance Due Diligence Required for New Customer Registration is rejected&quot;</expression>
    </formulas>
    <formulas>
        <name>NotProceedNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Enhance Due Diligence Required for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration is Not Proceed&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <formulas>
        <name>RejectNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please inform your counterparty&quot;</expression>
    </formulas>
    <formulas>
        <name>RejectNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Enhance Due Diligence Required for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration is rejected&quot;</expression>
    </formulas>
    <formulas>
        <name>TOPSupplierApprovedEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA][&apos; &amp; {!$Record.SubBU__c} &amp; &apos;]: Informing for Approval of New &apos; &amp; {!$Record.fmlAccountTypeName__c} &amp; &apos; Registration: &apos; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>TOPSupplierApprovedNotifyBody</name>
        <dataType>String</dataType>
        <expression>&apos;This &apos; &amp; {!$Record.fmlAccountTypeName__c} &amp; &apos; was approved.&apos;</expression>
    </formulas>
    <formulas>
        <name>TOPSupplierApprovedNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &apos; was Approved.&apos;</expression>
    </formulas>
    <formulas>
        <name>TRCREmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Initial: &quot;&amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp;&quot; New Registration Requires Your Review&quot;</expression>
    </formulas>
    <formulas>
        <name>TRCRNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please consider customer&apos;s credit scoring.&quot;</expression>
    </formulas>
    <formulas>
        <name>TRCRNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Needs Credit Rating&quot;</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemEDD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemEDD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCPCEMetaforCC</name>
        <label>getCPCEMetaforCC</label>
        <locationX>4147</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findCPCEforCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPCE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItemRecord.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCreditMetaforCC</name>
        <label>getCreditMetaforCC</label>
        <locationX>4147</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findCreditforCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>4147</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEndorseEDD_VFEmailTemplate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEDDTeamforCC</name>
        <label>getEDDTeamforCC</label>
        <locationX>4147</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findEDDTeamforCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EDDTeam</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEDDWTtoGLGCEmail</name>
        <label>getEDDWTtoGLGCEmail</label>
        <locationX>1414</locationX>
        <locationY>2891</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EDDWTtoGLGCSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTREDDHightoGLGC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEndorseEDD_VFEmailTemplate</name>
        <label>getEndorseEDD_VFEmailTemplate</label>
        <locationX>4147</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EndorsedEnhancedDueDiligence</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEVPCTeamMeta</name>
        <label>getEVPCTeamMeta</label>
        <locationX>182</locationX>
        <locationY>1835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findEVPCTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EVPC</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEVPCTeamMeta_JustReviewEDD</name>
        <label>getEVPCTeamMeta</label>
        <locationX>1414</locationX>
        <locationY>2267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findEVPCTeam_JustReviewEDD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EVPC</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFALBMeta</name>
        <label>getFALBMeta</label>
        <locationX>3438</locationX>
        <locationY>2267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFALB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFATXMeta</name>
        <label>getFATXMeta</label>
        <locationX>2382</locationX>
        <locationY>2459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFATX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGLGCMeta</name>
        <label>getGLGCMeta</label>
        <locationX>1568</locationX>
        <locationY>1835</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findGLGC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GLGC</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGLGCRejectedEmail</name>
        <label>getGLGCRejectedEmail</label>
        <locationX>3306</locationX>
        <locationY>3443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GLGCRejectedendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTREDDHighRiskReject</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGLGCtoTRCREmail</name>
        <label>getGLGCtoTRCREmail</label>
        <locationX>3042</locationX>
        <locationY>3443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GLGCtoTRCRSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTREDDGLGCtoTRCR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>4147</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>4147</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTraderNotProceedEmail</name>
        <label>getTraderNotProceedEmail</label>
        <locationX>600</locationX>
        <locationY>2951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TraderEDDNotProceedSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTREDDHighTraderNotProceed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTraderProceedEmail</name>
        <label>getTraderProceedEmail</label>
        <locationX>336</locationX>
        <locationY>2951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TraderEDDProceedSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTREDDHighTraderProceed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRCRMeta</name>
        <label>getTRCRMeta</label>
        <locationX>2910</locationX>
        <locationY>2267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findTRCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>GLGCEDDTOPSupplierUpdateRecord</name>
        <label>GLGCEDDTOPSupplierUpdateRecord</label>
        <locationX>1986</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>assignTrader</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GLGCNoUpdateRecord</name>
        <label>GLGCNoUpdateRecord</label>
        <locationX>4362</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>AssignRecipients</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GLGCUpdateRecordApprovalStep</name>
        <label>GLGCUpdateRecordApprovalStep</label>
        <locationX>2514</locationX>
        <locationY>2267</locationY>
        <connector>
            <targetReference>getFATXMeta</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Credit Rating</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GLGCUpdateRecordApprovalStep_LABIX</name>
        <label>GLGCUpdateRecordApprovalStep</label>
        <locationX>3438</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>getFALBMeta</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Credit Rating</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GLGCUpdateRecordApprovalStep_Supplier</name>
        <label>GLGCUpdateRecordApprovalStep</label>
        <locationX>2250</locationX>
        <locationY>2267</locationY>
        <connector>
            <targetReference>getFATXMeta</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Select Committee</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>GLGCUpdateRecordApprovalStep_TOP</name>
        <label>GLGCUpdateRecordApprovalStep</label>
        <locationX>2910</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>getTRCRMeta</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Credit Rating</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCustomNotifyForEdit</name>
        <label>UpdateCustomNotifyForEdit</label>
        <locationX>4098</locationX>
        <locationY>2051</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRequestItemRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NotifyCustomAction__c</field>
            <value>
                <stringValue>Submit Edit Request to SH</stringValue>
            </value>
        </inputAssignments>
        <object>CTRRequestFormItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTraderNotProceedRecord</name>
        <label>UpdateTraderNotProceedRecord</label>
        <locationX>710</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>assignTraderCreditCPCE</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>4021</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequestItemRecord</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Due Diligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerEditInfo</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierEditInfo</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>findCPCEforCC</name>
        <label>findCPCEforCC</label>
        <locationX>4147</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>getEDDTeamforCC</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCPCEMetaforCC</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findCreditforCC</name>
        <label>findCreditforCC</label>
        <locationX>4147</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>CheckFinalRiskLevel</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCreditMetaforCC</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findEDDTeamforCC</name>
        <label>findEDDTeamforCC</label>
        <locationX>4147</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>getCreditMetaforCC</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getEDDTeamforCC</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findEVPCTeam</name>
        <label>findEVPCTeam</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>CheckEDDWorkingTeam</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getEVPCTeamMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findEVPCTeam_JustReviewEDD</name>
        <label>findEVPCTeam</label>
        <locationX>1414</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>CheckEDDWorkingTeam_JustReviewEDD</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getEVPCTeamMeta_JustReviewEDD</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findFALB</name>
        <label>findFALB</label>
        <locationX>3438</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>CheckFALB</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFALBMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findFATX</name>
        <label>findFATX</label>
        <locationX>2382</locationX>
        <locationY>2567</locationY>
        <connector>
            <targetReference>CheckTXFA</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFATXMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findGLGC</name>
        <label>findGLGC</label>
        <locationX>1568</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>CheckGLGC</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getGLGCMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findTRCR</name>
        <label>findTRCR</label>
        <locationX>2910</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>CheckTRCR</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getTRCRMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>CEOtoTRCRHHEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear TRCR/FALB/FATX Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Customer__r.CompanyNameENF__c}&lt;/span&gt; completed a trader sheet, conducted a compliance check, uploaded detailed documents, and the credit rating awaits evaluation.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: {!$Record.Customer__r.CompanyNameENF__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be:{!$Record.fmlAccountTypeName__c}: {!$Record.InterestedProductTypeAsCustomerTOP__c}{!$Record.InterestedProductTypeAsCustomerTX__c}{!$Record.InterestedProductTypeAsSupplierTOP__c}{!$Record.InterestedProductTypeAsSupplierTX__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM: {!$Record.EndorseDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Approved Enhanced Due Diligence Result by CEO: {!$Record.ApproveDDbyCEO__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review due diligence result by proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CEOtoTRCRHighEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!fmlTRCRTeam},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} completed a trader sheet, conducted a compliance check, uploaded detailed documents, and the credit rating awaits evaluation.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.Customer__r.Name}{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:&amp;nbsp;{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice to proceed with the CTR: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09:&amp;nbsp;{!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM: {!$Record.EndorseDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Approved Enhanced Due Diligence Result by CEO: {!$Record.ApproveDDbyCEO__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review due diligence result by proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CPCEtoVPEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.fmlPositionNameOfVP__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Record.Customer__r.Name} has got high risk level on Compliance Risk.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE : {!$Record.CPXXReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Please review the due diligence result by proceeding via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHHNotProceedtoTraderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high-high final risk level in Compliance. And not proceed with the counterparty registration please inform your customer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC: {!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM:&amp;nbsp;{!$Record.EndorseDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Approved Enhanced Due Diligence Result by CEO:&amp;nbsp;{!$Record.ApproveDDbyCEO__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review due diligence result by proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHHProceedEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.CTREDDDearHeaderForEmail__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;has high-high final risk level in Compliance.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.EVPCReviewEDDResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.EndorseDueDiligenceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Approved Enhanced Due Diligence Result by CEO:&amp;nbsp;&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.ApproveDDbyCEO__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review due diligence result by proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighAMMRejectEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high &lt;span style=&quot;font-size: 13px;&quot;&gt;risk level in sanction and compliance. AMM is not endorse to register this company. Please inform the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Compliance Advice to proceed with the CTR&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM:&amp;nbsp;{!$Record.EndorseDueDiligenceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find Enhancement Due Diligence result via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighCEORejectEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high risk level in sanction and compliance. &lt;span style=&quot;font-size: 13px;&quot;&gt;CEO is not approve to register this company. Please inform the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Compliance Advice to proceed with the CTR&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM: {!$Record.EndorseDueDiligenceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Approved Enhanced Due Diligence Result by CEO: {!$Record.ApproveDDbyCEO__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find Enhancement Due Diligence result via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighEVPCRejectEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high &lt;span style=&quot;font-size: 13px;&quot;&gt;risk level in sanction and compliance. The result of Enhance Due Diligence is not to register this company. Please inform the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Compliance Advice to proceed with the CTR&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Please find Enhancement Due Diligence result via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighEVPCtoTraderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high risk level in sanction and compliance. &lt;span style=&quot;font-size: 13px;&quot;&gt;The result of Enhance Due Diligence is to further proceed counterparty registration. Please process to propose in AMM for approval.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Compliance Advice&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM: {!$Record.EndorseDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find Enhancement Due Diligence result via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighNotProceedtoTraderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Commercial team has decided to not further proceed Enhance Due Diligent for &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; &lt;span style=&quot;font-size: 13px;&quot;&gt;as has high risk level in sanction and compliance.Please inform the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find due diligence result via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHightoCPCEEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Dear CPCE Team,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; has high risk level in sanction and compliance. GLGC team recommended to not register this company. Please find GLGC&apos;s advice and further proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;EDD Working Team Comment:&amp;nbsp;{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Compliance Advice:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 13px;&quot;&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHightoEVPCEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear EVPC,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high risk level in sanction and compliance. &lt;span style=&quot;font-size: 13px;&quot;&gt;GLGC team recommended to not register this company. Please find GLGC&apos;s advice and further proceed via&lt;/span&gt; &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Compliance Advice to proceed with the CTR&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHightoGLGCEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Dear GLGC Team,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;has high risk level in sanction and compliance. Please review due diligence result via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; and further process compliance advice. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;This is an automatic generated email, please do not reply to this email address&quot;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHightoVPEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Dear {!$Record.OwnersCMVP__r.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.OwnersCMVP__r.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; has high risk level in sanction and compliance. GLGC team recommended to not register this company. Please find GLGC&apos;s advice and further proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Compliance Advice to proceed with the CTR:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 13px;&quot;&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighTraderProceedEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear EDD Working Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;has high risk level in sanction and compliance. Please review due diligence result via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; and further process Enhance Due Diligent. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: docs-Tahoma; font-size: 12px;&quot;&gt;Tr&lt;/span&gt;ader Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GLGCtoTRCREmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!fmlTRCRTeam},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Customer__r.CompanyNameENF__c}&lt;/span&gt; requires your credit evaluation. Please see the EDD Result and proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;span style=&quot;font-size: 13px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: {!$Record.Customer__r.CompanyNameENF__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:&amp;nbsp;{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice to proceed with the CTR: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TOPSupplierApprovedEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We would like to inform that {!$Record.CTRRequestFormHeader__r.Customer__r.Name} was Approved.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please see the details and proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatic generated email. Please do not reply to this email address&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CEORecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientCCEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TraderRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TRCRrecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TRCRrecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
