force-app/main/default/flows/CTRTriggerReqItemChangeOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendCommitteeEmail</name>
        <label>sendCommitteeEmail</label>
        <locationX>1370</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendCommitteeNotify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailReassignCommitteeSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailReassignCommitteeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCommitteeEmail_TX</name>
        <label>sendCommitteeEmail</label>
        <locationX>1106</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendCommitteeNotify_TX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXemailReassignCommitteeSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TXemailReassignCommitteeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCommitteeNotify</name>
        <label>sendCommitteeNotify</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyReassignCommitteeTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyReassignCommitteeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCommitteeNotify_TX</name>
        <label>sendCommitteeNotify</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyReassignCommitteeTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyReassignCommitteeBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCreditEmail</name>
        <label>sendCreditEmail</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendCreditNotify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailReassignCreditSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailReassignCreditBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCreditEmail_TXCreditRating</name>
        <label>sendCreditEmail</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendCreditNotify_TXCreditRating</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailReassignCreditSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TXemailReassignCreditBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCreditNotify</name>
        <label>sendCreditNotify</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyReassignCreditTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyReassignCreditBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCreditNotify_TXCreditRating</name>
        <label>sendCreditNotify</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomerNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyReassignCreditTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyReassignCreditBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignCommitteeRecipients</name>
        <label>assignCommitteeRecipients</label>
        <locationX>1238</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckBU_SelectComittee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCreditRecipients</name>
        <label>assignCreditRecipients</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreditOwner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckBU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>1386</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTargetRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkApprovalStep</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkApprovalStep</name>
        <label>checkApprovalStep</label>
        <locationX>1386</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>CreditRating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Step__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCreditCondition</targetReference>
            </connector>
            <label>Credit Rating</label>
        </rules>
        <rules>
            <name>SelectCommittee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select Committee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkSelectCommitteeCondition</targetReference>
            </connector>
            <label>Select Committee</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU</name>
        <label>CheckBU</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>sendCreditEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other BU</defaultConnectorLabel>
        <rules>
            <name>TX_CreditRating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendCreditEmail_TXCreditRating</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_SelectComittee</name>
        <label>CheckBU</label>
        <locationX>1238</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>sendCommitteeEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other BU</defaultConnectorLabel>
        <rules>
            <name>TX_SelectComittee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendCommitteeEmail_TX</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCreditCondition</name>
        <label>checkCreditCondition</label>
        <locationX>611</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Not Reassign</defaultConnectorLabel>
        <rules>
            <name>creditReassign</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CreditOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CreditOwner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreditOwner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCreditOwner_CreditRating</targetReference>
            </connector>
            <label>Reassign</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCreditOwner_CreditRating</name>
        <label>checkCreditOwner</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>CreditOwner = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCreditOwner_CreditRating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCreditRecipients</targetReference>
            </connector>
            <label>CreditOwner != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCreditOwner_SelectCommittee</name>
        <label>checkCreditOwner</label>
        <locationX>1436</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>CreditOwner = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCreditOwner_SelectCommittee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCommitteeRecipients</targetReference>
            </connector>
            <label>CreditOwner != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSelectCommitteeCondition</name>
        <label>checkSelectCommitteeCondition</label>
        <locationX>1667</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Not Reassign</defaultConnectorLabel>
        <rules>
            <name>committeeReassign</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditOwner__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreditOwner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CreditOwner__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreditOwner__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCreditOwner_SelectCommittee</targetReference>
            </connector>
            <label>Reassign</label>
        </rules>
    </decisions>
    <description>15/03/2024: update reassign committee email typo
18/04/2024 : Add TX decision on Cred</description>
    <environments>Default</environments>
    <formulas>
        <name>emailReassignCommitteeSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; + {!$Record.SubBU__c} + &quot;]: Reassign task to review acceptance of credit evaluation result: &quot; + {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>emailReassignCreditSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; + {!$Record.SubBU__c} + &quot;]: Reassign task to review New Registration: &quot; + {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>fmlAccountType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.fmlAccountTypeName__c} = &quot;Customer&quot;, &quot;customer&quot;,&quot;supplier&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlProcess_EmailBody</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.RecordTypeName__c}, &quot;ChangeCrCond&quot;), 
&quot;credit condition&quot;,
IF(OR(
({!$Record.RecordTypeName__c} = &quot;CustomerInitial&quot;),
({!$Record.RecordTypeName__c} = &quot;CustomerExtend&quot;),
({!$Record.RecordTypeName__c} = &quot;SupplierInitial&quot;),
({!$Record.RecordTypeName__c} = &quot;SupplierExtend&quot;)),
&quot;Counter Party Registration&quot;,
&quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fmlProcess_EmailSubject</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.RecordTypeName__c}, &quot;ChangeCrCond&quot;), &quot;credit condition&quot;,
IF(OR(
({!$Record.RecordTypeName__c} = &quot;CustomerInitial&quot;),
({!$Record.RecordTypeName__c} = &quot;CustomerExtend&quot;),
({!$Record.RecordTypeName__c} = &quot;SupplierInitial&quot;),
({!$Record.RecordTypeName__c} = &quot;SupplierExtend&quot;)),
&quot;Registration&quot;,
&quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fmlProcess_NotifyBody</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.RecordTypeName__c}, &quot;ChangeCrCond&quot;), 
&quot;credit condition&quot;,
IF(OR(
({!$Record.RecordTypeName__c} = &quot;CustomerInitial&quot;),
({!$Record.RecordTypeName__c} = &quot;CustomerExtend&quot;),
({!$Record.RecordTypeName__c} = &quot;SupplierInitial&quot;),
({!$Record.RecordTypeName__c} = &quot;SupplierExtend&quot;)),
&quot;new counterparty&quot;,
&quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fmlRecLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRec}</expression>
    </formulas>
    <formulas>
        <name>fmlRecordType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.CTRRequestFormHeader__r.RecordType.DeveloperName},
&quot;NewCounterparty&quot;, &quot;Initial&quot;,
&quot;Extension&quot;, &quot;Extend&quot;,
&quot;ChangeCrCondition&quot;, &quot;Change Credit Condition&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>notifyReassignCommitteeBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please select Committee to approve &quot; + {!fmlProcess_NotifyBody} + &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyReassignCommitteeTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.CompanyNameENF__c} &amp; &quot; You have been Assigned to The Selecting Committee for Approval&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyReassignCreditBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please consider &quot; &amp; {!fmlAccountType} &amp; &quot;&apos;s credit scoring.&quot;</expression>
    </formulas>
    <formulas>
        <name>notifyReassignCreditTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.CompanyNameENF__c} &amp; &quot; You have been Assigned to Evaluate Credit Rating.&quot;</expression>
    </formulas>
    <formulas>
        <name>TXemailReassignCommitteeSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; + {!$Record.SubBU__c} + &quot;]: Reassign task to select Commitee for Approval New Registration: &quot; + {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemChangeOwner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemChangeOwner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCustomerNotification</name>
        <label>getCustomerNotification</label>
        <locationX>1386</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>1386</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1260</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCustomerNotification</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>CreditOwner__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerChangeCrCond</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierChangeCrCond</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailReassignCommitteeBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.CreditOwner__r.FirstName} {!$Record.CreditOwner__r.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have been assigned to review acceptance of credit evaluation result. &lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please proceed via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: &lt;/span&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Product: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.fmlPositionNameOfFinancial__c} Assigner Name: {!$Record__Prior.CreditOwner__r.FirstName} {!$Record__Prior.CreditOwner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatic generated email. Please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailReassignCreditBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.CreditOwner__r.FirstName} {!$Record.CreditOwner__r.LastName},&lt;br&gt;&lt;br&gt;You have been assigned to evaluate credit for {!$Record.CTRRequestFormHeader__r.Customer__r.Name}. Please proceed via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.fmlPositionNameOfFinancial__c} Assigner Name: {!$Record__Prior.CreditOwner__r.FirstName} {!$Record__Prior.CreditOwner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TXemailReassignCommitteeBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CreditOwner__r.FirstName} {!$Record.CreditOwner__r.LastName}&lt;/span&gt;,&lt;br&gt;&lt;br&gt;&amp;nbsp;You have been assigned to select Committee to approve Counterparty Registration. Please proceed via &lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;br&gt;&lt;br&gt;&amp;nbsp;Company Name: {!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/p&gt;&lt;p&gt;&amp;nbsp;Interested to be: {!$Record.fmlAccountTypeName__c}: {!$Record.ProductName__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;Original FA Name: {!$Record__Prior.CreditOwner__r.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record__Prior.CreditOwner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatic generated email. Please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TXemailReassignCreditBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CreditOwner__r.FirstName} {!$Record.CreditOwner__r.LastName}&lt;/span&gt;,&lt;br&gt;&lt;br&gt;&amp;nbsp;You have been assigned to evaluate credit for {!$Record.CompanyName__c}. Please proceed via &lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;br&gt;&lt;br&gt;&amp;nbsp;Company Name: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;Interested to be: {!$Record.fmlAccountTypeName__c}: {!$Record.ProductName__c}&lt;/p&gt;&lt;p&gt;&amp;nbsp;Original FA Name: {!$Record__Prior.CreditOwner__r.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record__Prior.CreditOwner__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatic generated email. Please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TestSubjectFormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
