force-app/main/default/flows/CTRTriggerLeadUpdateSection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>CheckOwnerChanged</name>
        <label>Check Owner Changed</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>CheckOwnerType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getPISUser</targetReference>
            </connector>
            <label>Owner is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOwnerType</name>
        <label>CheckOwnerType</label>
        <locationX>385</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>getPISUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Owner</defaultConnectorLabel>
        <rules>
            <name>QueueOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Queue Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSection</name>
        <label>checkSection</label>
        <locationX>539</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Section = Null</defaultConnectorLabel>
        <rules>
            <name>Section_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPISUser.SECTIONS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateSection</targetReference>
            </connector>
            <label>Section != Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CTRTriggerLeadUpdateSection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerLeadUpdateSection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPISUser</name>
        <label>getPISUser</label>
        <locationX>539</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkSection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PISUsers__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SECTIONS__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateSection</name>
        <label>updateSection</label>
        <locationX>407</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>SectionofLeadOwner__c</field>
            <value>
                <elementReference>getPISUser.SECTIONS__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckOwnerChanged</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
