force-app/main/default/flows/CTRTriggerReqItemUpdateAfterSubmit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CusSubmitAddInfoSendEmail</name>
        <label>CusSubmitAddInfoSendEmail</label>
        <locationX>2162</locationX>
        <locationY>1703</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CusSubmitAddInfoSendNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SubmitAddInfoRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubmitAddInfoEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CusSubmitAddInfoEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CusSubmitAddInfoSendNoti</name>
        <label>CusSubmitAddInfoSendNoti</label>
        <locationX>2162</locationX>
        <locationY>1811</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SubmitAddInfoRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubmitAddInfoNotiTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SubmitAddInfoNotiBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InitialFinalRiskHHSendEmail</name>
        <label>InitialFinalRiskHHSendEmail</label>
        <locationX>7706</locationX>
        <locationY>1703</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>InitialFinalRiskRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>InitialFinalRiskHHEMailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InitialFinalRiskHHEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InitialFinalRiskHighSendEmail</name>
        <label>InitialFinalRiskHighSendEmail</label>
        <locationX>6122</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>InitialFinalRiskNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>InitialFinalRiskRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>InitialFinalRiskHighEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InitialFinalRiskHighEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InitialFinalRiskLowanMediumSendEmail</name>
        <label>InitialFinalRiskLowanMediumSendEmail</label>
        <locationX>4736</locationX>
        <locationY>3227</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>InitialFinalRiskSendNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>InitialFinalRiskRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>InitialFinalRiskLowandMediumEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InitialFinalRiskLowandMediumEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InitialFinalRiskNoti</name>
        <label>InitialFinalRiskNoti</label>
        <locationX>6122</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>InitialFinalRiskRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>InitialFinalRiskNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>InitialFinalRiskNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InitialFinalRiskSendNoti</name>
        <label>InitialFinalRiskSendNoti</label>
        <locationX>4736</locationX>
        <locationY>3335</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>InitialFinalRiskRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>InitialFinalRiskNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>InitialFinalRiskNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InitialFinalRiskSendNotiFATX</name>
        <label>InitialFinalRiskSendNoti</label>
        <locationX>4538</locationX>
        <locationY>2459</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>InitialFinalRiskRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>InitialFinalRiskNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>InitialFinalRiskNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InitialFinalRiskTOPSupplierSendEmail</name>
        <label>InitialFinalRiskTOPSupplierSendEmail</label>
        <locationX>3218</locationX>
        <locationY>1187</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>InitialFinalRiskTOPSupplierSendNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>InitialFinalRiskRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>InitialFinalRiskTOPSupplierEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>InitialFinalRiskTOPSupplierEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>InitialFinalRiskTOPSupplierSendNoti</name>
        <label>InitialFinalRiskTOPSupplierSendNoti</label>
        <locationX>3218</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>InitialFinalRiskRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TOPSupplierApprovedNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TOPSupplierApprovedNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SubmitFinalRiskSendEmail</name>
        <label>SubmitFinalRiskSendEmail</label>
        <locationX>1370</locationX>
        <locationY>1895</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SubmitFinalRiskSendNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>SubmitFinalRiskRecipientCCEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>SubmitFinalRiskRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailFinalRiskTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SubmitFinalRiskSendEmail_0</name>
        <label>SubmitFinalRiskSendEmail</label>
        <locationX>1634</locationX>
        <locationY>1895</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SubmitFinalRiskSendNotification_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>SubmitFinalRiskRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailFinalRiskTemplate_0.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SubmitFinalRiskSendNotification</name>
        <label>SubmitFinalRiskSendNotification</label>
        <locationX>1370</locationX>
        <locationY>2003</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SubmitFinalRiskRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubmitFinalRiskNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SubmitFinalRiskNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SubmitFinalRiskSendNotification_0</name>
        <label>SubmitFinalRiskSendNotification</label>
        <locationX>1634</locationX>
        <locationY>2003</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SubmitFinalRiskRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubmitFinalRiskNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SubmitFinalRiskNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SubmitVerFALBSendEmail</name>
        <label>SubmitVerFALBSendEmail</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SubmitVerFALBSendNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>SubmitVerRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailFALBTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SubmitVerFALBSendNoti</name>
        <label>SubmitVerFALBSendNoti</label>
        <locationX>50</locationX>
        <locationY>2219</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SubmitVerRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>LABIXSubmitVerNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>LABIXSubmitVerNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SubmitVerTRCRSendEmail</name>
        <label>SubmitVerTRCRSendEmail</label>
        <locationX>578</locationX>
        <locationY>2111</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SubmitVerTRCRSendNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>SubmitVerRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>getEmailTRCRTemplate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SubmitVerTRCRSendNoti</name>
        <label>SubmitVerTRCRSendNoti</label>
        <locationX>578</locationX>
        <locationY>2219</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SubmitVerRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TOPSubmitVerNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TOPSubmitVerNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SupSubmitAddInfoSendEmail</name>
        <label>SupSubmitAddInfoSendEmail</label>
        <locationX>2426</locationX>
        <locationY>1703</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SupSubmitAddInfoSendNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SubmitAddInfoRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubmitAddInfoEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SupSubmitAddInfoEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SupSubmitAddInfoSendNotification</name>
        <label>SupSubmitAddInfoSendNotification</label>
        <locationX>2426</locationX>
        <locationY>1811</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SubmitAddInfoRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubmitAddInfoNotiTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SubmitAddInfoNotiBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TXInitialFinalRiskHHSendEmails</name>
        <label>TXInitialFinalRiskHHSendEmail</label>
        <locationX>6914</locationX>
        <locationY>2327</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>InitialFinalRiskRecipientEmailsCC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>InitialFinalRiskRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>GetTXHHEmail.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TXInitialFinalRiskLowanMediumSendEmail</name>
        <label>TXInitialFinalRiskLowanMediumSendEmail</label>
        <locationX>4538</locationX>
        <locationY>2351</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InitialFinalRiskSendNotiFATX</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mBody</name>
            <value>
                <elementReference>GetInitialFinalRiskEmailTemplateFATX.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>InitialFinalRiskRecipientEmailsCC</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>InitialFinalRiskRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignCPCE</name>
        <label>assignCPCE</label>
        <locationX>512</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>SubmitVerRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCPCESubmitVer.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitVerRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCPCESubmitVer.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichBU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCPCE_0</name>
        <label>assignCPCE</label>
        <locationX>1502</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>SubmitFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCPCEShiptoFinalRisk.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findCPCEShiptoFinalRisk.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignTrader</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFALB</name>
        <label>assignFALB</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>SubmitVerRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFALBSubmitVer.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitVerRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFALBSubmitVer.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFALB_0</name>
        <label>assignFALB</label>
        <locationX>5330</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFALBFinalRisk.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFALBFinalRisk.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFALB_SubmitAdditionalInformation</name>
        <label>assignFALB</label>
        <locationX>2690</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>SubmitAddInfoRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFALBAddInfoCredit.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitAddInfoRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFALBAddInfoCredit.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitAddInfoRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFALBAddInfoCreditHead.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFAMgr</name>
        <label>assignFAMgr</label>
        <locationX>4538</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmailsCC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFAMgrFinalRisk.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipientFATX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFATX</name>
        <label>assignFATX</label>
        <locationX>4670</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFATXFinalRisk.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFATXFinalRisk.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFAMgrFinalRiskMeta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFATX_HighH</name>
        <label>assignFATX</label>
        <locationX>6914</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmailsCC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFATXFinalRisk.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignInitialFinalRiskRecipient_HighHighTX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignInitialFinalRiskRecipient</name>
        <label>assignInitialFinalRiskRecipient</label>
        <locationX>6254</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_SubmitInitialFinalRisk_HighRisk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignInitialFinalRiskRecipient_HighHighTX</name>
        <label>assignInitialFinalRiskRecipient</label>
        <locationX>7046</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmailsCC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmailsCC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVPtIsActive_InitialCustomer_HighHigh_TX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For Testing Send Email and Notification.</description>
        <name>assignRecordOwner</name>
        <label>assignRecordOwner</label>
        <locationX>7838</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVPtIsActive_InitialCustomer_HighHigh_OtherBU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>4703</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader</name>
        <label>assignTrader</label>
        <locationX>1634</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>SubmitFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For Testing Send Email and Notification.</description>
        <name>assignTrader_0</name>
        <label>assignTrader</label>
        <locationX>3218</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InitialFinalRiskTOPSupplierSendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCR</name>
        <label>assignTRCR</label>
        <locationX>578</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>SubmitVerRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCRSubmitVer.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitVerRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCRSubmitVer.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCR_1</name>
        <label>assignTRCR</label>
        <locationX>3746</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCRFinalRisk.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCRFinalRisk.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTRCR_SubmitAdditionalInformation</name>
        <label>assignTRCR</label>
        <locationX>2426</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>SubmitAddInfoRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCRAddInfo.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitAddInfoRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCRAddInfo.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitAddInfoRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCRSHAddInfo.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubmitAddInfoRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findTRCRSHAddInfo.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVP_InitialCustomer_HighHigh_OtherBU</name>
        <label>assignVP</label>
        <locationX>7706</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVP_InitialCustomer_HighHigh_TX</name>
        <label>assignVP</label>
        <locationX>6914</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialFinalRiskRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipient_TX</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>4703</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubmitforVerification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToCheckCountry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCPCESubmitVerMeta</targetReference>
            </connector>
            <label>SubmitforVerification</label>
        </rules>
        <rules>
            <name>SubmitShiptoFinalRisk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ShipToCheckCountry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckFinalRisk</targetReference>
            </connector>
            <label>SubmitShiptoFinalRisk</label>
        </rules>
        <rules>
            <name>SubmitAdditionalInformation</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocumentSubmittedDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DocumentSubmittedDateTime__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBusinessUnit</targetReference>
            </connector>
            <label>SubmitAdditionalInformation</label>
        </rules>
        <rules>
            <name>SubmitInitialFinalRisk</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRiskLevel</targetReference>
            </connector>
            <label>SubmitInitialFinalRisk</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU</name>
        <label>CheckBU</label>
        <locationX>4868</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTRCRFinalRiskMeta</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>TX_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFATXFinalRiskMeta</targetReference>
            </connector>
            <label>TX</label>
        </rules>
        <rules>
            <name>LABIX_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFALBFinalRiskMeta</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_HighHigh</name>
        <label>CheckBU</label>
        <locationX>7640</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>CheckRecipientIsActive_SubmitInitialFinalRisk_HighHighRisk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other BU</defaultConnectorLabel>
        <rules>
            <name>TX_HighHigh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecipientIsActive_TX</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBusinessUnit</name>
        <label>CheckBusinessUnit</label>
        <locationX>2690</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP_SubmitAdditionalInformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTRCRAddInfoMeta</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>LABIX_SubmitAdditionalInformation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFALBAddInfoMetaCredit</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCPCE</name>
        <label>CheckCPCE</label>
        <locationX>644</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>WhichBU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPCE_User_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findCPCESubmitVer.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findCPCESubmitVer.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCPCE</targetReference>
            </connector>
            <label>CPCE User found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCPCE_0</name>
        <label>CheckCPCE</label>
        <locationX>1634</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>assignTrader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPCE_User_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findCPCEShiptoFinalRisk.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findCPCEShiptoFinalRisk.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCPCE_0</targetReference>
            </connector>
            <label>CPCE User found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFALB</name>
        <label>CheckFALB</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>CheckRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FALB_User_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFALBSubmitVer.targetUserRecs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFALB</targetReference>
            </connector>
            <label>FALB User found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFALB_0</name>
        <label>CheckFALB</label>
        <locationX>5462</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FALB_User_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFALBFinalRisk.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFALBFinalRisk.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFALB_0</targetReference>
            </connector>
            <label>FALB User found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFAMgr</name>
        <label>CheckFAMgr</label>
        <locationX>4670</locationX>
        <locationY>1835</locationY>
        <defaultConnector>
            <targetReference>CheckRecipientFATX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FAMgrUserfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFAMgrFinalRisk.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFATXFinalRisk.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFAMgr</targetReference>
            </connector>
            <label>FA User found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFATX</name>
        <label>CheckFATX</label>
        <locationX>4769</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FA_User_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFATXFinalRisk.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFATXFinalRisk.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecordType_TXLowandMediumRisk</targetReference>
            </connector>
            <label>FA User found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFATX_HighHighTX</name>
        <label>CheckFATX</label>
        <locationX>7046</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>assignInitialFinalRiskRecipient_HighHighTX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FAUserfound_HighHighTX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFATXFinalRisk_HIghHighTX.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFATXFinalRisk_HIghHighTX.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFATX_HighH</targetReference>
            </connector>
            <label>FA User found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFinalRisk</name>
        <label>CheckFinalRisk</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>UpdateOtherRiskRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_High_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateHighHighRiskRecord</targetReference>
            </connector>
            <label>High-High Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient</name>
        <label>CheckRecipient</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitVerRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubmitVerRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailFALBTemplate</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient_0</name>
        <label>CheckRecipient</label>
        <locationX>710</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipient_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitVerRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubmitVerRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailTRCRTemplate</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient_1</name>
        <label>CheckRecipient</label>
        <locationX>4868</locationX>
        <locationY>3011</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipient_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInitialFinalRiskEmailTemplate</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient_2</name>
        <label>CheckRecipient</label>
        <locationX>1634</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipientanCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitFinalRiskRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubmitFinalRiskRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubmitFinalRiskRecipientCCEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailFinalRiskTemplate</targetReference>
            </connector>
            <label>HaveRecipientandCC</label>
        </rules>
        <rules>
            <name>HaveRecipient_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitFinalRiskRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubmitFinalRiskRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubmitFinalRiskRecipientCCEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getEmailFinalRiskTemplate_0</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient_3</name>
        <label>CheckRecipient</label>
        <locationX>2690</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipient_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitAddInfoRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SubmitAddInfoRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecordType</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient_4</name>
        <label>CheckRecipient</label>
        <locationX>7838</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipient_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InitialFinalRiskHHSendEmail</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient_SubmitInitialFinalRisk_HighRisk</name>
        <label>CheckRecipient</label>
        <locationX>6254</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipient_SubmitInitialFinalRisk_HighRisk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InitialFinalRiskHighSendEmail</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipient_TX</name>
        <label>CheckRecipient</label>
        <locationX>7046</locationX>
        <locationY>2111</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipient_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTXHHEmail</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipientFATX</name>
        <label>CheckRecipient</label>
        <locationX>4670</locationX>
        <locationY>2135</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveRecipientFATX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InitialFinalRiskRecipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInitialFinalRiskEmailTemplateFATX</targetReference>
            </connector>
            <label>HaveRecipient</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipientIsActive</name>
        <label>CheckRecipientIsActive</label>
        <locationX>3350</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>RecipientNotActive</defaultConnectorLabel>
        <rules>
            <name>HaveRecipientandActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTrader_0</targetReference>
            </connector>
            <label>HaveRecipientandActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipientIsActive_SubmitInitialFinalRisk_HighHighRisk</name>
        <label>CheckRecipientIsActive</label>
        <locationX>8036</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>RecipientNotActive</defaultConnectorLabel>
        <rules>
            <name>RecipientIsActive_SubmitInitialFinalRisk_HighHighRisk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignRecordOwner</targetReference>
            </connector>
            <label>RecipientIsActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipientIsActive_SubmitInitialFinalRisk_HighRisk</name>
        <label>CheckRecipientIsActive</label>
        <locationX>6452</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>RecipientNotActive</defaultConnectorLabel>
        <rules>
            <name>RecipientIsActive_SubmitInitialFinalRisk_HighRisk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignInitialFinalRiskRecipient</targetReference>
            </connector>
            <label>RecipientIsActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipientIsActive_TX</name>
        <label>CheckRecipientIsActive</label>
        <locationX>7244</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>RecipientNotActive</defaultConnectorLabel>
        <rules>
            <name>RecipientIsActive_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFATXFinalRiskMeta_HighHighTX</targetReference>
            </connector>
            <label>RecipientIsActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>2426</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CusSubmitAddInfoSendEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SupSubmitAddInfoSendEmail</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType_TXLowandMediumRisk</name>
        <label>Check Record Type</label>
        <locationX>4472</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>updateApprovalStep_TXLowandMediumRisk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others (Customer)</defaultConnectorLabel>
        <rules>
            <name>Supplier_TXLowandMediumRisk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateApprovalStep_SupTXLowandMediumRisk</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRiskLevel</name>
        <label>CheckRiskLevel</label>
        <locationX>5924</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LowandMediumTOPSupplier</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.fmlAccountTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supplier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsSupplierTOP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Crude</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LowandMedTOPSupplierStatusUpdateRecord</targetReference>
            </connector>
            <label>LowandMediumTOPSupplier</label>
        </rules>
        <rules>
            <name>LowandMedium</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBU</targetReference>
            </connector>
            <label>LowandMedium</label>
        </rules>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Risk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ComplianceAdviceResult__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecipientIsActive_SubmitInitialFinalRisk_HighRisk</targetReference>
            </connector>
            <label>High</label>
        </rules>
        <rules>
            <name>HighHigh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FinalRiskLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Very High Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighHighStatusUpdateRecord</targetReference>
            </connector>
            <label>HighHigh</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTRCR</name>
        <label>CheckTRCR</label>
        <locationX>710</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>CheckRecipient_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRCR_User_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTRCRSubmitVerMeta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCR</targetReference>
            </connector>
            <label>TRCR User found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTRCR_0</name>
        <label>CheckTRCR</label>
        <locationX>3878</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRCR_User_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findTRCRFinalRisk.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findTRCRFinalRisk.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTRCR_1</targetReference>
            </connector>
            <label>TRCR User found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVPtIsActive_InitialCustomer_HighHigh_OtherBU</name>
        <label>CheckVPtIsActive</label>
        <locationX>7838</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>CheckRecipient_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>VPIsActive_InitialCustomer_HighHigh_OtherBU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersCMVP__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignVP_InitialCustomer_HighHigh_OtherBU</targetReference>
            </connector>
            <label>VPIsActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVPtIsActive_InitialCustomer_HighHigh_TX</name>
        <label>CheckVPtIsActive</label>
        <locationX>7046</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>CheckRecipient_TX</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>VPIsActive_InitialCustomer_HighHigh_TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersCMVP__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignVP_InitialCustomer_HighHigh_TX</targetReference>
            </connector>
            <label>VPIsActive</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichBU</name>
        <label>Which BU</label>
        <locationX>644</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LABIX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFALBSubmitVerMeta</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
        <rules>
            <name>TOP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTRCRSubmitVerMeta</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
    </decisions>
    <description>[26-Jun-2024]
- Edit condition for getting CPCE from metadata (Element: getCPCESubmitVerMeta).
- Edit condition for getting FALB from metadata (Element: getFALBSubmitVerMeta).
- Edit condition for getting TRCR from metadata (Element: getTRCRSubmitVerMeta).
- Edit condition for getting CPCE from metadata (Element: getCPCEShiptoFinalRiskMeta).
- Edit condition for getting TRCR from metadata (Element: getTRCRAddInfoMeta).
- Edit condition for getting TRCR S/H from metadata (Element: getTRCRSHAddInfoMeta).
- Edit condition for getting FALB from metadata (Element: getFALBAddInfoMetaCredit).
- Edit condition for getting FALB S/H from metadata (Element: getFALBAddInfoMetaCreditHead).
- Edit condition for getting TRCR from metadata (Element: getTRCRFinalRiskMeta).
- Edit condition for getting FATX from metadata (Element: getFATXFinalRiskMeta).
- Edit condition for getting FATX S/H from metadata (Element: getFAMgrFinalRiskMeta).
- Edit condition for getting FALB from metadata (Element: getFALBFinalRiskMeta).
- Edit condition for getting FATX from metadata (Element: getFATXFinalRiskMeta_HighHighTX).
[28-Jun-2024]
- Check Record Type Customer &amp; Supplier in TXLowandMediumFinalRisk
[29-Jun-2024]
Update Subject in &quot;SubmitAddInfoEmailSubject&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>fmlCountry</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlPositionNameofVP</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;CMVP&quot;, &quot;SA09&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlTRCRTeam</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.BusinessUnit__c}, &apos;TOP&apos;, &apos;TRCR&apos;, &apos;TX&apos;, &apos;FATX&apos;, &apos;LABIX&apos;, &apos;FALB&apos;, {!$Record.TraderSheetCompletedBy__r.FirstName} &amp; {!$Record.TraderSheetCompletedBy__r.LastName})</expression>
    </formulas>
    <formulas>
        <name>InitialFinalRiskHHEMailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Not to Further Proceed for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>InitialFinalRiskHighEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA]: Enhance Due Diligence Required for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>InitialFinalRiskLowandMediumEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;]: New Registration require for credit evaluation: &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>InitialFinalRiskNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please consider &quot; &amp; $Record.fmlAccountTypeName__c &amp; &quot;&apos;s credit scoring.&quot;</expression>
    </formulas>
    <formulas>
        <name>InitialFinalRiskNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Needs Credit Rating.&quot;</expression>
    </formulas>
    <formulas>
        <name>InitialFinalRiskTOPSupplierEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA][&apos; &amp; {!$Record.SubBU__c} &amp; &apos;]: Informing for Approval of New &apos; &amp; {!$Record.fmlAccountTypeName__c} &amp; &apos; Registration: &apos; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>LABIXSubmitVerNotifyBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} + &quot; has a high risk level of Compliance Risk.&quot;</expression>
    </formulas>
    <formulas>
        <name>LABIXSubmitVerNotifyTitle</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial: &quot; &amp;  {!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Required for Check Ship to Country&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <formulas>
        <name>SubmitAddInfoEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; + {!$Record.SubBU__c} + &quot;]: &quot; + {!$Record.CTRRequestFormHeader__r.Customer__r.CompanyNameENF__c} + &quot; has submitted the required documents&quot;</expression>
    </formulas>
    <formulas>
        <name>SubmitAddInfoNotiBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review and consider submitted Additional Information&quot;</expression>
    </formulas>
    <formulas>
        <name>SubmitAddInfoNotiTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.CompanyNameENF__c} &amp; &quot; has submitted Additional Information&quot;</expression>
    </formulas>
    <formulas>
        <name>SubmitFinalRiskNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review and approve/reject&quot;</expression>
    </formulas>
    <formulas>
        <name>SubmitFinalRiskNotifyTitle</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI] Check Ship-to:  &quot; &amp; {!$Record.Customer__c} &amp; &quot; Update&quot;</expression>
    </formulas>
    <formulas>
        <name>TOPSubmitVerNotifyBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} + &quot; has a high risk level of Compliance Risk.&quot;</expression>
    </formulas>
    <formulas>
        <name>TOPSubmitVerNotifyTitle</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial: &quot; &amp; {!$Record.Customer__c} &amp; &quot; Receipt of Your Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>TOPSupplierApprovedNotifyBody</name>
        <dataType>String</dataType>
        <expression>&apos;This &apos; &amp; {!$Record.fmlAccountTypeName__c} &amp; &apos; was approved.&apos;</expression>
    </formulas>
    <formulas>
        <name>TOPSupplierApprovedNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &apos; was Approved.&apos;</expression>
    </formulas>
    <formulas>
        <name>TXInitialFinalRiskHHEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial:&quot;&amp;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp;&quot;Enhance Due Diligence Required for New Customer Registration is not pass&quot;</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemUpdateAfterSubmit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemUpdateAfterSubmit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCPCEShiptoFinalRiskMeta</name>
        <label>getCPCEShiptoFinalRiskMeta</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findCPCEShiptoFinalRisk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPCE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCPCESubmitVerMeta</name>
        <label>getCPCESubmitVerMeta</label>
        <locationX>644</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findCPCESubmitVer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CPCE</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>4703</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailFALBTemplate</name>
        <label>getEmailFALBTemplate</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubmitVerFALBSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRSubmitforVerificationFALB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailFinalRiskTemplate</name>
        <label>getEmailFinalRiskTemplate</label>
        <locationX>1370</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubmitFinalRiskSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRCheckShiptoFinalRiskResult</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailFinalRiskTemplate_0</name>
        <label>getEmailFinalRiskTemplate</label>
        <locationX>1634</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubmitFinalRiskSendEmail_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRCheckShiptoFinalRiskResult</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEmailTRCRTemplate</name>
        <label>getEmailTRCRTemplate</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubmitVerTRCRSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRSubmitforVerificationTRCR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFALBAddInfoMetaCredit</name>
        <label>getFALBAddInfoMetaCredit</label>
        <locationX>2690</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFALBAddInfoMetaCreditHead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFALBAddInfoMetaCreditHead</name>
        <label>getFALBAddInfoMetaCreditHead</label>
        <locationX>2690</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFALBAddInfoCredit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreditHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFALBFinalRiskMeta</name>
        <label>getFALBFinalRiskMeta</label>
        <locationX>5462</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFALBFinalRisk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFALBSubmitVerMeta</name>
        <label>getFALBSubmitVerMeta</label>
        <locationX>182</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFALBSubmitVer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFAMgrFinalRiskMeta</name>
        <label>getFAMgrFinalRiskMeta</label>
        <locationX>4670</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFAMgrFinalRisk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CommitteeSelection</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreditHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFATXFinalRiskMeta</name>
        <label>getFATXFinalRiskMeta</label>
        <locationX>4769</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFATXFinalRisk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFATXFinalRiskMeta_HighHighTX</name>
        <label>getFATXFinalRiskMeta</label>
        <locationX>7046</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFATXFinalRisk_HIghHighTX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInitialFinalRiskEmailTemplate</name>
        <label>GetInitialFinalRiskEmailTemplate</label>
        <locationX>4736</locationX>
        <locationY>3119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InitialFinalRiskLowanMediumSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialCustomerFinalRiskResult</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInitialFinalRiskEmailTemplateFATX</name>
        <label>GetInitialFinalRiskEmailTemplate</label>
        <locationX>4538</locationX>
        <locationY>2243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TXInitialFinalRiskLowanMediumSendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRInitialTXCustomerFinalRiskResult</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>4703</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRCRAddInfoMeta</name>
        <label>getTRCRAddInfoMeta</label>
        <locationX>2426</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTRCRSHAddInfoMeta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRCRFinalRiskMeta</name>
        <label>getTRCRFinalRiskMeta</label>
        <locationX>3878</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findTRCRFinalRisk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRCRSHAddInfoMeta</name>
        <label>getTRCRSHAddInfoMeta</label>
        <locationX>2426</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findTRCRAddInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreditHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTRCRSubmitVerMeta</name>
        <label>getTRCRSubmitVerMeta</label>
        <locationX>710</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findTRCRSubmitVer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CheckDueDiligence</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <queriedFields>ActorTeam__c</queriedFields>
        <queriedFields>ActorPosition__c</queriedFields>
        <queriedFields>Process__c</queriedFields>
        <queriedFields>SalesOrg__c</queriedFields>
        <queriedFields>Step__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTXHHEmail</name>
        <label>GetTXHHEmail</label>
        <locationX>6914</locationX>
        <locationY>2219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TXInitialFinalRiskHHSendEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXInitialCompleteComplianceCheckandRiskLevelHighHighRisk</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>HighHighStatusUpdateRecord</name>
        <label>HighHighStatusUpdateRecord</label>
        <locationX>7640</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CheckBU_HighHigh</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LowandMedTOPSupplierStatusUpdateRecord</name>
        <label>LowandMedTOPSupplierStatusUpdateRecord</label>
        <locationX>3350</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CheckRecipientIsActive</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateApprovalStep_SupTXLowandMediumRisk</name>
        <label>updateApprovalStep</label>
        <locationX>4274</locationX>
        <locationY>1403</locationY>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Select Committee</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateApprovalStep_TXLowandMediumRisk</name>
        <label>updateApprovalStep</label>
        <locationX>4670</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>assignFATX</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Credit Rating</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateHighHighRiskRecord</name>
        <label>UpdateHighHighRiskRecord</label>
        <locationX>1502</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>getCPCEShiptoFinalRiskMeta</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOtherRiskRecord</name>
        <label>UpdateOtherRiskRecord</label>
        <locationX>1766</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>getCPCEShiptoFinalRiskMeta</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>4577</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ShipToCheckCountry</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierExtend</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>findCPCEShiptoFinalRisk</name>
        <label>findCPCEShiptoFinalRisk</label>
        <locationX>1634</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>CheckCPCE_0</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCPCEShiptoFinalRiskMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findCPCESubmitVer</name>
        <label>findCPCESubmitVer</label>
        <locationX>644</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CheckCPCE</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCPCESubmitVerMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findFALBAddInfoCredit</name>
        <label>findFALBAddInfoCredit</label>
        <locationX>2690</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>findFALBAddInfoCreditHead</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFALBAddInfoMetaCredit</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findFALBAddInfoCreditHead</name>
        <label>findFALBAddInfoCreditHead</label>
        <locationX>2690</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>assignFALB_SubmitAdditionalInformation</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFALBAddInfoMetaCreditHead</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findFALBFinalRisk</name>
        <label>findFALBFinalRisk</label>
        <locationX>5462</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CheckFALB_0</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFALBFinalRiskMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findFALBSubmitVer</name>
        <label>findFALBSubmitVer</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>CheckFALB</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFALBSubmitVerMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findFAMgrFinalRisk</name>
        <label>findFAMgrFinalRisk</label>
        <locationX>4670</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>CheckFAMgr</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFAMgrFinalRiskMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findFATXFinalRisk</name>
        <label>findFATXFinalRisk</label>
        <locationX>4769</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CheckFATX</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFATXFinalRiskMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findFATXFinalRisk_HIghHighTX</name>
        <label>findFATXFinalRisk</label>
        <locationX>7046</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>CheckFATX_HighHighTX</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getFATXFinalRiskMeta_HighHighTX</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findTRCRAddInfo</name>
        <label>findTRCRAddInfo</label>
        <locationX>2426</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>findTRCRSHAddInfo</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getTRCRAddInfoMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findTRCRFinalRisk</name>
        <label>findTRCRFinalRisk</label>
        <locationX>3878</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CheckTRCR_0</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getTRCRFinalRiskMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findTRCRSHAddInfo</name>
        <label>findTRCRSHAddInfo</label>
        <locationX>2426</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>assignTRCR_SubmitAdditionalInformation</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getTRCRSHAddInfoMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>findTRCRSubmitVer</name>
        <label>findTRCRSubmitVer</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>CheckTRCR</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getTRCRSubmitVerMeta</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>CusSubmitAddInfoEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.fmlPositionNameOfFinancial__c} Team,&lt;br&gt;&lt;br&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} uploaded documents for your verification. &lt;br&gt;Please see the details and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name:&amp;nbsp;{!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!$Record.Name}&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>InitialFinalRiskHHEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;br&gt;&lt;br&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} has high-high risk level in sanction and compliance, And not proceed with the counterparty registration. Please inform the customer.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Responsible Trader Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Conterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>InitialFinalRiskHighEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.OwnersSectionHead__r.FirstName} {!$Record.OwnersSectionHead__r.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} has high risk level in sanction and compliance.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please review due diligence result by proceed via &lt;/span&gt;&lt;a href=&quot;https://thaioil--devm41.sandbox.lightning.force.com/builder_platform_interaction/%7B!RecordLinkFormula%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;and further process Enhanced Due Diligence.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatically generated email, please do not reply to this email address&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InitialFinalRiskLowandMediumEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.fmlPositionNameOfFinancial__c} Team,&lt;br&gt;&lt;br&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} requires your credit evaluation.&lt;br&gt;Please see the details and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;. &lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Responsible Trader Name:&amp;nbsp;{!$Record.Owner:User.FirstName}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;nbsp;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Responsible Trader Decision:{!$Record.TraderPreScreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Responsible Trader Comment: {!$Record.TraderPreScreenComment__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>InitialFinalRiskTOPSupplierEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;br&gt;&lt;br&gt;We would like to inform that {!$Record.CTRRequestFormHeader__r.Customer__r.Name} was Approved.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;br&gt;Please see the details and proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this email address</text>
    </textTemplates>
    <textTemplates>
        <name>SupSubmitAddInfoEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.fmlPositionNameOfFinancial__c} Team,&lt;br&gt;&lt;br&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} uploaded documents for your verification.&lt;br&gt;Please see the details and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name:&amp;nbsp;{!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!$Record.Name}&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TXInitialFinalRiskHHEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;We regret to inform you that {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has a &lt;strong style=&quot;font-size: 16px; color: rgb(0, 97, 202);&quot;&gt;high-high&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 97, 202);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 97, 202); font-size: 16px;&quot;&gt;risk&lt;/strong&gt; level in Compliance and does not meet the criteria for counterparty registration. Please notify your customer about this situation as soon as possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please see due diligence result by proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatic generated email, please do not reply to this email address&quot;&lt;/p&gt;</text>
    </textTemplates>
    <triggerOrder>1420</triggerOrder>
    <variables>
        <name>InitialFinalRiskRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialFinalRiskRecipientEmailsCC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialFinalRiskRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitAddInfoRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitAddInfoRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitFinalRiskRecipientCCEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitFinalRiskRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitFinalRiskRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitVerRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitVerRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
