force-app/main/default/flows/CTRTriggerReqItemPreScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FATXSendEmail</name>
        <label>FATXSendEmail</label>
        <locationX>5913</locationX>
        <locationY>3899</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>FATXSendNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>FARecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>FATXEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FATXEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FATXSendNoti</name>
        <label>FATXSendNoti</label>
        <locationX>5913</locationX>
        <locationY>4007</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>FARecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>FATXNotiTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>FATXNotiBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToCustomer</name>
        <label>SendEmailToCustomer</label>
        <locationX>4538</locationX>
        <locationY>2135</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>updateRequestForm_InExCustomer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubjectToCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenPassCustoCustomerEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToSupplier</name>
        <label>SendEmailToSupplier</label>
        <locationX>5594</locationX>
        <locationY>2135</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>updateRequestForm_InExSupplier</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubjectToSupplier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenPassSuptoCustomerEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailTXToCustomer</name>
        <label>SendEmailTXToCustomer</label>
        <locationX>4978</locationX>
        <locationY>2135</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getMDC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXVPPreScreenEmailSubjectToExternal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenPassCusTXtoCustomerEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailTXToSupplier</name>
        <label>SendEmailTXToSupplier</label>
        <locationX>6034</locationX>
        <locationY>2135</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>getMDC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Customer__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXVPPreScreenEmailSubjectToExternal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenPassSupTXtoSupplierEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenCusNoti</name>
        <label>SHPreScreenCusNoti</label>
        <locationX>1634</locationX>
        <locationY>1835</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SHPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SHPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenCusNoti_0</name>
        <label>SHPreScreenCusNoti</label>
        <locationX>2690</locationX>
        <locationY>1835</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenCusSendEmail</name>
        <label>SHPreScreenCusSendEmail</label>
        <locationX>1634</locationX>
        <locationY>1619</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreentoTraderSendEmail_CustomerPassed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreenCusEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenSupNoti</name>
        <label>SHPreScreenSupNoti</label>
        <locationX>1898</locationX>
        <locationY>1835</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SHPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SHPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenSupNoti_0</name>
        <label>SHPreScreenSupNoti</label>
        <locationX>2954</locationX>
        <locationY>1835</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreenSupSendEmail</name>
        <label>SHPreScreenSupSendEmail</label>
        <locationX>1898</locationX>
        <locationY>1619</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreentoTraderSendEmail_SupplierPassed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreenSupEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreentoTraderSendEmail_CustomerNotPassed</name>
        <label>SHPreScreentoTraderSendEmail</label>
        <locationX>2690</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreenCusNoti_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailSubject_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailBody_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreentoTraderSendEmail_CustomerPassed</name>
        <label>SHPreScreentoTraderSendEmail</label>
        <locationX>1634</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreenCusNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>TraderRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailSubject_Passed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailBody_Passed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreentoTraderSendEmail_SupplierNotPassed</name>
        <label>SHPreScreentoTraderSendEmail</label>
        <locationX>2954</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreenSupNoti_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailSubject_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailBody_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SHPreScreentoTraderSendEmail_SupplierPassed</name>
        <label>SHPreScreentoTraderSendEmail</label>
        <locationX>1898</locationX>
        <locationY>1727</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SHPreScreenSupNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>TraderRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailSubject_Passed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SHPreScreentoTraderEmailBody_Passed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TraderPreScreenCusNoti</name>
        <label>TraderPreScreenCusNoti</label>
        <locationX>50</locationX>
        <locationY>1619</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SHRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TraderPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TraderPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TraderPreScreenCusNoti_0</name>
        <label>TraderPreScreenCusNoti</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SHRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TraderPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TraderPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TraderPreScreenCusSendEmail</name>
        <label>TraderPreScreenCusSendEmail</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TraderPreScreenCusNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SHRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TraderPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TraderPreScreenCusEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TraderPreScreenSupNoti</name>
        <label>TraderPreScreenSupNoti</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SHRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>TraderPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>TraderPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TraderPreScreenSupSendEmail</name>
        <label>TraderPreScreenSupSendEmail</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TraderPreScreenSupNoti</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SHRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TraderPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TraderPreScreenSupEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TXSHPreScreenSupNoti_0_0</name>
        <label>TXSHPreScreenSupNoti</label>
        <locationX>3482</locationX>
        <locationY>1727</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SHPreScreentoTraderNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TXSHPreScreentoTraderSendEmail_SupplierNotPassed_0</name>
        <label>TXSHPreScreentoTraderSendEmail</label>
        <locationX>3482</locationX>
        <locationY>1619</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TXSHPreScreenSupNoti_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXSHPreScreentoTraderEmailSubject_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TXSHPreScreentoTraderEmailBody_NotPassed</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TXTraderPreScreenCusSendEmail_0</name>
        <label>TXTraderPreScreenCusSendEmail</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TraderPreScreenCusNoti_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>SHRecipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXTraderPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TXTraderPreScreenCusEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>VPPreScreenNotPassCusSendEmail</name>
        <label>VPPreScreenNotPassCusSendEmail</label>
        <locationX>6914</locationX>
        <locationY>1919</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>VPPreScreenNotPassCusSendNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenCusEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>VPPreScreenNotPassCusSendNotification</name>
        <label>VPPreScreenNotPassCusSendNotification</label>
        <locationX>6914</locationX>
        <locationY>2027</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>VPPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VPPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>VPPreScreenNotPassSupSendEmail</name>
        <label>VPPreScreenNotPassSupSendEmail</label>
        <locationX>7178</locationX>
        <locationY>1919</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>VPPreScreenNotPassSupSendNotification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenSupEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Salesforce notification to recipient(s)</description>
        <name>VPPreScreenNotPassSupSendNotification</name>
        <label>VPPreScreenNotPassSupSendNotification</label>
        <locationX>7178</locationX>
        <locationY>2027</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>VPPreScreenNotifyTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VPPreScreenNotifyBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>VPPreScreenPassCusSendEmail</name>
        <label>VPPreScreenPassCusSendEmail</label>
        <locationX>5044</locationX>
        <locationY>1811</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CheckBU</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenCusEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sending email to recipient(s)</description>
        <name>VPPreScreenPassSupSendEmail</name>
        <label>VPPreScreenPassSupSendEmail</label>
        <locationX>6100</locationX>
        <locationY>1811</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CheckBU_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>VPPreScreenEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>VPPreScreenSupEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>addFATX</name>
        <label>addFATX</label>
        <locationX>5913</locationX>
        <locationY>3791</locationY>
        <assignmentItems>
            <assignToReference>FARecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFATX.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FARecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>findFATX.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FATXSendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEmailRecipients</name>
        <label>assignEmailRecipients</label>
        <locationX>6512</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSH_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSectionHead</name>
        <label>assignSectionHead</label>
        <locationX>6380</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckVPPreScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSectionHead_0</name>
        <label>assignSectionHead</label>
        <locationX>710</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>SHRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SHRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_BU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>3217</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignTrader</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader</name>
        <label>assignTrader</label>
        <locationX>3217</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>TraderRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TraderRecipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTraderPreScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader_1</name>
        <label>assignTrader</label>
        <locationX>3350</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_BU_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SHPreScreenAssignment</name>
        <label>SHPreScreenAssignment</label>
        <locationX>1898</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnersCMVP__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecordType_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_BU</name>
        <label>CheckBU</label>
        <locationX>710</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP_LABIX</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecordType</targetReference>
            </connector>
            <label>TOP/LABIX</label>
        </rules>
        <rules>
            <name>TX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TXTraderPreScreenCusSendEmail_0</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BU_0</name>
        <label>CheckBU</label>
        <locationX>3350</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP_LABIX_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecordType_0_0</targetReference>
            </connector>
            <label>TOP/LABIX</label>
        </rules>
        <rules>
            <name>TX_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TXSHPreScreentoTraderSendEmail_SupplierNotPassed_0</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU</name>
        <label>CheckBU</label>
        <locationX>5044</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>getMDC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCustomerEmailContain_CustomerOther</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>TXNotEditCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCustomerEmailContain_CustomerTX</targetReference>
            </connector>
            <label>TXNotEditCustomer</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBU_0</name>
        <label>CheckBU</label>
        <locationX>6100</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>getMDC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsSupplierEmailContain_SupplierOther</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>TXNotEditSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsSupplierEmailContain_SupplierTX</targetReference>
            </connector>
            <label>TXNotEditSupplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCMVP</name>
        <label>CheckCMVP</label>
        <locationX>2162</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveCMVP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersCMVP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreenAssignment</targetReference>
            </connector>
            <label>HaveCMVP</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check only whether current approver is changed.</description>
        <name>CheckCurrentApprover_SHAlreadyPreScreen</name>
        <label>CheckCurrentApprover</label>
        <locationX>7109</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Current Approver != Done</defaultConnectorLabel>
        <rules>
            <name>CurrentApproverIsEqualDone_SHAlreadyPreScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrentApprover__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignEmailRecipients</targetReference>
            </connector>
            <label>Current Approver = Done</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check only whether current approver is changed.</description>
        <name>CheckCurrentApprover_SHJustPreScreen</name>
        <label>CheckCurrentApprover</label>
        <locationX>3680</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Current Approver Not Changed</defaultConnectorLabel>
        <rules>
            <name>CurrentApproverIsChanged_SHJustPreScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrentApprover__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreenResult</targetReference>
            </connector>
            <label>Current Approver Is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEditRecordType</name>
        <label>checkEditRecordType</label>
        <locationX>5847</locationX>
        <locationY>3251</locationY>
        <defaultConnector>
            <targetReference>VPPassUpdateRecord_NonEdit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RecordType != Edit</defaultConnectorLabel>
        <rules>
            <name>RecordTypeEdit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItemRecord.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPPassUpdateRecord_Edit</targetReference>
            </connector>
            <label>RecordType = Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRecipient_1</name>
        <label>checkRecipient</label>
        <locationX>6045</locationX>
        <locationY>3683</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveFATX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>findFATX.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>findFATX.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFATX</targetReference>
            </connector>
            <label>HaveFATX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>CheckRecordType</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TraderPreScreenCusSendEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TraderPreScreenSupSendEmail</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType_0</name>
        <label>CheckRecordType</label>
        <locationX>1898</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreenCusSendEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreenSupSendEmail</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType_0_0</name>
        <label>CheckRecordType</label>
        <locationX>2954</locationX>
        <locationY>1619</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreentoTraderSendEmail_CustomerNotPassed</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SHPreScreentoTraderSendEmail_SupplierNotPassed</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSH</name>
        <label>CheckSH</label>
        <locationX>1040</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersSectionHead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSectionHead_0</targetReference>
            </connector>
            <label>HaveSH</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSH_0</name>
        <label>CheckSH</label>
        <locationX>6512</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>CheckVPPreScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HaveSH_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnersSectionHead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSectionHead</targetReference>
            </connector>
            <label>HaveSH</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSHPreScreen</name>
        <label>CheckSHPreScreen</label>
        <locationX>5394</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>CheckCurrentApprover_SHAlreadyPreScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SHAlreadyPreScreen</defaultConnectorLabel>
        <rules>
            <name>SHJustPreScreen</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrentApprover__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrentApprover__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trader</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CMVPPreScreenBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCurrentApprover_SHJustPreScreen</targetReference>
            </connector>
            <label>SHJustPreScreen</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTraderPreScreen</name>
        <label>CheckTraderPreScreen</label>
        <locationX>3217</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>CheckSHPreScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TraderAlreadyPreScreen</defaultConnectorLabel>
        <rules>
            <name>TraderJustPreScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRequestItemRecord.CurrentApprover__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Head</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SHPreScreenBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTraderRecord</targetReference>
            </connector>
            <label>TraderJustPreScreen</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVPPreScreen</name>
        <label>CheckVPPreScreen</label>
        <locationX>6512</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>VPNotPassUpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VPPreScreenNotPass</defaultConnectorLabel>
        <rules>
            <name>VPPreScreenPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CMVPPreScreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type</targetReference>
            </connector>
            <label>VPPreScreenPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCustomerEmailContain_CustomerOther</name>
        <label>IsCustomerEmailContain</label>
        <locationX>4670</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>updateRequestForm_InExCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CustomerEmailNotContain</defaultConnectorLabel>
        <rules>
            <name>CustomerEmailContain_CustomerOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToCustomer</targetReference>
            </connector>
            <label>CustomerEmailContain</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCustomerEmailContain_CustomerTX</name>
        <label>IsCustomerEmailContain</label>
        <locationX>5110</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>getMDC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CustomerEmailNotContain</defaultConnectorLabel>
        <rules>
            <name>CustomerEmailContain_CustomerTX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailTXToCustomer</targetReference>
            </connector>
            <label>CustomerEmailContain</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSupplierEmailContain_SupplierOther</name>
        <label>IsSupplierEmailContain</label>
        <locationX>5726</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>updateRequestForm_InExSupplier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SupplierEmailNotContain</defaultConnectorLabel>
        <rules>
            <name>SupplierEmailContain_SupplierOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToSupplier</targetReference>
            </connector>
            <label>SupplierEmailContain</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSupplierEmailContain_SupplierTX</name>
        <label>IsSupplierEmailContain</label>
        <locationX>6166</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>getMDC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SupplierEmailNotContain</defaultConnectorLabel>
        <rules>
            <name>SupplierEmailContain_SupplierTX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailTXToSupplier</targetReference>
            </connector>
            <label>SupplierEmailContain</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>5847</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>Customer_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPPreScreenPassCusSendEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPPreScreenPassSupSendEmail</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_0</name>
        <label>Record Type</label>
        <locationX>7178</locationX>
        <locationY>1811</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPPreScreenNotPassCusSendEmail</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Supplier_1_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierEditInfo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VPPreScreenNotPassSupSendEmail</targetReference>
            </connector>
            <label>Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>SHPreScreenResult</name>
        <label>SHPreScreenResult</label>
        <locationX>3086</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrentApprover__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCMVP</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
        <rules>
            <name>NotPass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SHPrescreenDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrentApprover__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trader</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateNotPassRecord</targetReference>
            </connector>
            <label>NotPass</label>
        </rules>
    </decisions>
    <description>[26-Jun-2024]
- Edit condition for getting MDC from metadata (Element: getMDC).
- Edit condition for getting MDC manager from metadata (Element: getMDCMgr).
- Edit condition for getting Credit team from metadata (Element: getCreditTeam).</description>
    <environments>Default</environments>
    <formulas>
        <name>FAEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] :&apos;+&apos; &apos;+ {!$Record.CompanyName__c}+&apos; &apos;+ &apos;Already to Verify Document&apos;</expression>
    </formulas>
    <formulas>
        <name>FANotiBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review pre-screened by CMVP/TXMD. &quot;</expression>
    </formulas>
    <formulas>
        <name>FANotiTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c}+&apos;  Pre-Screen Result from CMVP/TXMD&apos;</expression>
    </formulas>
    <formulas>
        <name>FATXEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Initial: &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Ready to Verify Document&quot;</expression>
    </formulas>
    <formulas>
        <name>FATXNotiBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review pre-screened by &quot; &amp; {!$Record.fmlPositionNameOfVP__c} &amp; &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>FATXNotiTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Pre-Screen Result from &quot; &amp; {!$Record.fmlPositionNameOfVP__c}</expression>
    </formulas>
    <formulas>
        <name>fmlAccountType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.fmlAccountTypeName__c}, &quot;Customer&quot;, &quot;Trader&quot;, &quot;Supplier&quot;, &quot;Requester&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlCMVPEndorseorRejectSentence</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.CMVPPreScreenDecision__c})=&quot;Not Pass&quot;, &quot;Please inform the customer.&quot;, &quot; &quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlCountry</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fmlPositionNameOfVP</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;CMVP&quot;, &quot;SA09&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlVPEndorseorReject</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.CMVPPreScreenDecision__c})=&quot;Pass&quot;, &quot;endorsed&quot;, &quot;rejected&quot;)</expression>
    </formulas>
    <formulas>
        <name>HerokuLinkFormula</name>
        <dataType>String</dataType>
        <expression>{!getRequestItemRecord.CTRRequestFormHeader__r.CTRUser__r.TemporaryLoginURL__c} &amp; &quot;/&quot; &amp; {!getRequestItemRecord.Customer__c}</expression>
    </formulas>
    <formulas>
        <name>HerokuLinkFormular</name>
        <dataType>String</dataType>
        <expression>{!getRequestItemRecord.CTRRequestFormHeader__r.CTRUser__r.TemporaryLoginURL__c} &amp; &quot;/&quot; &amp; {!getRequestItemRecord.Customer__c}</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <formulas>
        <name>SHPreScreenEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: Endorse of &quot; &amp; {!getRequestItemRecord.fmlAccountTypeName__c} &amp; &quot; Registration Pre-Screen for &quot; &amp;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>SHPreScreenNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review and approve/reject&quot;</expression>
    </formulas>
    <formulas>
        <name>SHPreScreenNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Pre-Screen Requires Your Review&quot;</expression>
    </formulas>
    <formulas>
        <name>SHPreScreentoTraderEmailSubject_NotPassed</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: &quot; &amp; {!getRequestItemRecord.fmlAccountTypeName__c} &amp; &quot; Registration Pre-Screen Result for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>SHPreScreentoTraderEmailSubject_Passed</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: &quot; &amp; {!getRequestItemRecord.fmlAccountTypeName__c} &amp; &quot; Registration Pre-Screen Result for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>SHPreScreentoTraderNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review pre-screened by Section Head.&quot;</expression>
    </formulas>
    <formulas>
        <name>SHPreScreentoTraderNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&amp; &quot; Pre-Screen Result from Section Head&quot;</expression>
    </formulas>
    <formulas>
        <name>TraderPreScreenEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; + {!getRequestItemRecord.SubBU__c} + &quot;]: Approval of &quot; &amp; {!getRequestItemRecord.fmlAccountTypeName__c} &amp; &quot; Registration Pre-Screen for &quot; + {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>TraderPreScreenNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review and approve/reject&quot;</expression>
    </formulas>
    <formulas>
        <name>TraderPreScreenNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Pre-Screen Requires Your Review&quot;</expression>
    </formulas>
    <formulas>
        <name>TXSHPreScreentoTraderEmailSubject_NotPassed</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI]&quot; + &quot;[&quot; + {!$Record.SubBU__c} + &quot;]&quot; + &quot;Initial: &quot; + {!$Record.CompanyNameSubject__c} + &quot; Pre-Screen Result from &quot; + {!$Record.OwnersSectionHead__r.FirstName} +&quot; &quot;+{!$Record.OwnersSectionHead__r.LastName}+&quot; is not pass.&quot;</expression>
    </formulas>
    <formulas>
        <name>TXTraderPreScreenEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA]&quot; + &quot;[&quot; + {!$Record.SubBU__c} + &quot;]&quot; + &quot;Initial: &quot;+ {!$Record.Customer__r.Name} + &quot; Pre-Screen Requires Your Review.&quot;</expression>
    </formulas>
    <formulas>
        <name>TXVPPreScreenEmailSubjectToExternal</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI]: Your Registration is in Progress&quot;</expression>
    </formulas>
    <formulas>
        <description>Subject email</description>
        <name>VPPreScreenEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYI][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: &quot; &amp; {!getRequestItemRecord.fmlAccountTypeName__c} &amp; &quot; Registration Pre-Screen Result for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>VPPreScreenEmailSubjectToCustomer</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: &quot; &amp; &quot;Attached documents for &quot; &amp; {!getRequestItemRecord.fmlAccountTypeName__c} &amp; &quot; Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>VPPreScreenEmailSubjectToSupplier</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!getRequestItemRecord.SubBU__c} &amp; &quot;]: &quot; &amp; &quot;Attached documents for &quot; &amp; {!getRequestItemRecord.fmlAccountTypeName__c} &amp; &quot; Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>VPPreScreenNotifyBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review pre-screened by &quot; &amp; {!$Record.fmlPositionNameOfVP__c}</expression>
    </formulas>
    <formulas>
        <name>VPPreScreenNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} &amp; &quot; Pre-Screen Result from &quot; &amp; {!$Record.fmlPositionNameOfVP__c}</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemPreScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemPreScreen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCreditTeam</name>
        <label>getCreditTeam</label>
        <locationX>6045</locationX>
        <locationY>3467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findFATX</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>3217</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMDC</name>
        <label>getMDC</label>
        <locationX>5847</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMDCUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAPInformation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXMO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMDCMgr</name>
        <label>getMDCMgr</label>
        <locationX>5847</locationX>
        <locationY>2927</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMDCMgrUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAPInformation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXMOHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EmployeeId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMDCMgrUser</name>
        <label>getMDCMgrUser</label>
        <locationX>5847</locationX>
        <locationY>3035</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateMDCandMgr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getMDCMgr.EmployeeId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Employee_Id__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMDCUser</name>
        <label>getMDCUser</label>
        <locationX>5847</locationX>
        <locationY>2819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMDCMgr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getMDC.EmployeeId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Employee_Id__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>3217</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>3217</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateMDCandMgr</name>
        <label>updateMDCandMgr</label>
        <locationX>5847</locationX>
        <locationY>3143</locationY>
        <connector>
            <targetReference>checkEditRecordType</targetReference>
        </connector>
        <inputAssignments>
            <field>MDCMngName__c</field>
            <value>
                <elementReference>getMDCMgrUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDCName__c</field>
            <value>
                <elementReference>getMDCUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateNotPassRecord</name>
        <label>UpdateNotPassRecord</label>
        <locationX>3350</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>assignTrader_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SHPreScreenBy__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TraderPreScreenDecision__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRequestForm_InExCustomer</name>
        <label>updateRequestForm</label>
        <locationX>4670</locationX>
        <locationY>2327</locationY>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Verify Documents</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRequestForm_InExSupplier</name>
        <label>updateRequestForm</label>
        <locationX>5726</locationX>
        <locationY>2327</locationY>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Verify Documents</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTraderRecord</name>
        <label>UpdateTraderRecord</label>
        <locationX>1040</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>CheckSH</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Review Pre-Screen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>VPNotPassUpdateRecord</name>
        <label>VPNotPassUpdateRecord</label>
        <locationX>7178</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Record_Type_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Inform Counterparty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>VPPassUpdateRecord_Edit</name>
        <label>VPPassUpdateRecord</label>
        <locationX>5649</locationX>
        <locationY>3359</locationY>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Verify Documents</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>VPPassUpdateRecord_NonEdit</name>
        <label>VPPassUpdateRecord</label>
        <locationX>6045</locationX>
        <locationY>3359</locationY>
        <connector>
            <targetReference>getCreditTeam</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval_Step__c</field>
            <value>
                <stringValue>Verify Documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmittedTRCR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isTRCR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3091</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequestItemRecord</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7 AND 8</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierInitial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierExtend</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerEditInfo</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierEditInfo</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrentApprover__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrentApprover__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>findFATX</name>
        <label>findFATX</label>
        <locationX>6045</locationX>
        <locationY>3575</locationY>
        <connector>
            <targetReference>checkRecipient_1</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getCreditTeam</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>FATXEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear FA Team,&lt;br&gt;&lt;br&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} has done pre-screened by {!$Record.fmlPositionNameOfVP__c}. Please continue to work by proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Requester Name:&amp;nbsp;{!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Section Head Name: {!$Record.OwnersSectionHead__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.OwnersSectionHead__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number:&amp;nbsp;{!$Record.Name}&lt;/p&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>SHPreScreenCusEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.OwnersCMVP__r.FirstName} {!$Record.OwnersCMVP__r.LastName},&lt;br&gt;&lt;br&gt;Customer registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been approved by Section Head.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-family: sans-serif;&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please review and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>SHPreScreenSupEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.OwnersCMVP__r.FirstName} {!$Record.OwnersCMVP__r.LastName},&lt;br&gt;&lt;br&gt;Customer registration pre-screen {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been approved by Section Head.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name:&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-family: sans-serif;&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please review and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>SHPreScreentoTraderEmailBody_NotPassed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.TraderSheetCompletedBy__r.FirstName} {!$Record.TraderSheetCompletedBy__r.LastName}&lt;br&gt;&lt;br&gt;Customer registration pre-screen of &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(2, 2, 2);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;&amp;nbsp;&lt;/span&gt;has been rejected by Section Head.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Responsible Trader Name:&amp;nbsp;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Request Number:&amp;nbsp;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(2, 2, 2);&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Please review and re-submit again&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>SHPreScreentoTraderEmailBody_Passed</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.TraderSheetCompletedBy__r.FirstName} {!$Record.TraderSheetCompletedBy__r.LastName},&lt;br&gt;&lt;br&gt;Customer registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been approved by Section Head.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;Please find details via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email, please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TraderPreScreenCusEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!$Record.OwnersSectionHead__r.FirstName} {!$Record.OwnersSectionHead__r.LastName},&lt;br&gt;&lt;br&gt;Customer registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been done by Trader.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!$Record.Name}&lt;/p&gt;&lt;br&gt;Please review and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TraderPreScreenSupEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.OwnersSectionHead__r.FirstName} {!$Record.OwnersSectionHead__r.LastName},&lt;br&gt;&lt;br&gt;Customer registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been done by Trader.&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Request Number: {!$Record.Name}&lt;/p&gt;&lt;br&gt;Please review and proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TXSHPreScreentoTraderEmailBody_NotPassed</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Dear&lt;/span&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt; &lt;/em&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}, &lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;We regret to inform you that the pre-screen of {!$Record.Customer__r.Name} has been rejected by {!$Record.SHPreScreenBy__r.FirstName} &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.SHPreScreenBy__r.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;. &lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Here are the details of the pre-screen:&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Company Name: {!$Record.Customer__r.Name} &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Responsible {!fmlAccountType} Name: {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Pre-screen Result by TXMD: {!$Record.CMVPPreScreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Please review and Resubmit/reject by proceeding via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;*In case of pre-screen result is not pass, please inform to your customer.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TXTraderPreScreenCusEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Dear {!$Record.OwnersSectionHead__r.FirstName} {!$Record.OwnersSectionHead__r.LastName}, &lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;We are writing to inform you that {!$Record.Customer__r.Name} has been pre-screened by {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}. You are requested to review and approve or reject their application by clicking on &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Company Name: {!$Record.Customer__r.Name}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}: {!$Record.ProductName__c}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Responsible {!fmlAccountType} Name: {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Pre-screen Result: {!$Record.TraderPreScreenDecision__c}&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Thank you for your cooperation and prompt response.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;This is an automatically generated email. Please do not reply to this address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenCusEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName},&lt;br&gt;&lt;br&gt;Customer Registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been {!fmlVPEndorseorReject} by {!$Record.fmlPositionNameOfVP__c}. {!fmlCMVPEndorseorRejectSentence}&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Trader Name:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Request Number:&amp;nbsp;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by {!$Record.fmlPositionNameOfVP__c}: {!$Record.CMVPPreScreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Please find details via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenPassCustoCustomerEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.CTRRequestFormHeader__r.Customer__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We request that you attach the required documents to proceed with your registration via &lt;a href=&quot;{!HerokuLinkFormular}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name:&amp;nbsp;{!$Record.TraderPreScreenBy__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatically generated email. Please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenPassCusTXtoCustomerEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-size: 12px;&quot;&gt;Dear {!$Record.CTRRequestFormHeader__r.Customer__r.Name},&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} is in review process.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Responsible Trader Name: {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Counterparties Registration Automated System.&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenPassSuptoCustomerEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.CTRRequestFormHeader__r.Customer__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We request that you attach the required documents to proceed with your registration via &lt;a href=&quot;{!HerokuLinkFormular}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name:&amp;nbsp;{!$Record.TraderPreScreenBy__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Request Number: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatically generated email. Please do not reply to this address.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenPassSupTXtoSupplierEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-size: 12px;&quot;&gt;Dear {!$Record.CTRRequestFormHeader__r.Customer__r.Name},&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} is in review process.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Responsible Trader Name: {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Counterparties Registration Automated System.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VPPreScreenSupEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Dear {!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName},&lt;br&gt;&lt;br&gt;Customer Registration pre-screen of {!$Record.CTRRequestFormHeader__r.Customer__r.Name} has been {!fmlVPEndorseorReject} by {!$Record.fmlPositionNameOfVP__c}. {!fmlCMVPEndorseorRejectSentence}&lt;br&gt;&lt;br&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Trader Name:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.TraderPreScreenBy__r.FirstName} {!$Record.TraderPreScreenBy__r.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Request Number:&amp;nbsp;{!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by Section Head: {!$Record.SHPrescreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Pre-screen Result by {!$Record.fmlPositionNameOfVP__c}: {!$Record.CMVPPreScreenDecision__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Please find details via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatically generated email. Please do not reply to this address.</text>
    </textTemplates>
    <variables>
        <name>FARecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FARecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SHRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SHRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TraderEmailCol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TraderRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TraderRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
