force-app/main/default/flows/CTRTriggerReqItemBlockCommitteeApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendCustomerApprovalEmail</name>
        <label>sendCustomerApprovalEmail</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendCustomerNotify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailApprovalSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailCustomerResultBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendCustomerNotify</name>
        <label>sendCustomerNotify</label>
        <locationX>50</locationX>
        <locationY>2819</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyApprovalTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyApprovalBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierApprovalEmail</name>
        <label>sendSupplierApprovalEmail</label>
        <locationX>578</locationX>
        <locationY>2711</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>sendSupplierNotify</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipientEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>getOrgWide.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailApprovalSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailSupplierResultBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendSupplierNotify</name>
        <label>sendSupplierNotify</label>
        <locationX>578</locationX>
        <locationY>2819</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifyApprovalTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifyApprovalBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRec</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignApprovalFA</name>
        <label>assignApprovalFA</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkApprovalFAManager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignApprovalFAManager</name>
        <label>assignApprovalFAManager</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getFAManager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getFAManager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkApprovalTrader</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignApprovalMDC</name>
        <label>assignApprovalMDC</label>
        <locationX>314</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getMDC.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getMDC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkApprovalType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignApprovalTrader</name>
        <label>assignApprovalTrader</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CTRRequestFormHeader__r.Customer__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>findMDC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTargetRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMetaUsers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkApprovalFA</name>
        <label>checkApprovalFA</label>
        <locationX>446</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>checkApprovalFAManager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FA = Null</defaultConnectorLabel>
        <rules>
            <name>notNullApprovalFA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApprovalFA</targetReference>
            </connector>
            <label>FA != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalFAManager</name>
        <label>checkApprovalFAManager</label>
        <locationX>446</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>checkApprovalTrader</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FA Manager = Null</defaultConnectorLabel>
        <rules>
            <name>notNullApprovalFAManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFAManager.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getFAManager.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApprovalFAManager</targetReference>
            </connector>
            <label>FA Manager != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalMDC</name>
        <label>checkApprovalMDC</label>
        <locationX>446</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>checkApprovalType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MDC = Null</defaultConnectorLabel>
        <rules>
            <name>notNullMDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMDC.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getMDC.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApprovalMDC</targetReference>
            </connector>
            <label>MDC != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalTrader</name>
        <label>checkApprovalTrader</label>
        <locationX>446</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>findMDC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Trader = Null</defaultConnectorLabel>
        <rules>
            <name>notNullTrader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CTRRequestFormHeader__r.Customer__r.Owner.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CTRRequestFormHeader__r.Customer__r.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignApprovalTrader</targetReference>
            </connector>
            <label>Trader != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkApprovalType</name>
        <label>checkApprovalType</label>
        <locationX>446</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>checkSupplierRecipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supplier</defaultConnectorLabel>
        <rules>
            <name>typeApprovalCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCustomerRecipient</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCustomerRecipient</name>
        <label>checkCustomerRecipient</label>
        <locationX>182</locationX>
        <locationY>2603</locationY>
        <defaultConnectorLabel>Recipient = Null</defaultConnectorLabel>
        <rules>
            <name>notNullCustomerRecipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendCustomerApprovalEmail</targetReference>
            </connector>
            <label>Recipient != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDecision</name>
        <label>checkDecision</label>
        <locationX>776</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>typeApproval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkApprovalFA</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSupplierRecipient</name>
        <label>checkSupplierRecipient</label>
        <locationX>710</locationX>
        <locationY>2603</locationY>
        <defaultConnectorLabel>Recipient = Null</defaultConnectorLabel>
        <rules>
            <name>notNullSupplierRecipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipientIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recipientEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendSupplierApprovalEmail</targetReference>
            </connector>
            <label>Recipient != Null</label>
        </rules>
    </decisions>
    <description>[26-Jun-2024] Edit condition for getting metadata (Element: GetMetaUsers).</description>
    <environments>Default</environments>
    <formulas>
        <name>emailApprovalSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI] &apos; + {!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} + &quot;&apos;s &quot; + {!fmlRecordType} + &quot; &quot; +{!fmlBlockingSubj}</expression>
    </formulas>
    <formulas>
        <name>emailSubmitFAManagerSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA] &apos; + {!fmlRecordType} + &quot;: &quot; + {!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} + &quot; Need Your Review&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlAccountType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.fmlAccountTypeName__c} = &apos;Customer&apos;, &apos;customer&apos;, &apos;supplier&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlBlockingDetail</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Approval_Step__c}) = &apos;Approved&apos;, &apos;has been blocked&apos;, &apos;has not been blocked&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlBlockingResult</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Approval_Step__c}) = &apos;Approved&apos;, &apos;approved&apos;, &apos;rejected&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlBlockingSubj</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Approval_Step__c}) = &apos;Approved&apos;, &apos;Has Been Blocked&apos;, &apos;Has Not Been Blocked&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlRecLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRec}</expression>
    </formulas>
    <formulas>
        <name>fmlRecordType</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.RecordTypeName__c},
&quot;CustomerBlock&quot;, &quot;Block Customer&quot;,
&quot;SupplierBlock&quot;, &quot;Block Supplier&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlSupplierBlock</name>
        <dataType>String</dataType>
        <expression>IF(TRUE, &apos;Yes&apos;, &apos;No&apos;)</expression>
    </formulas>
    <formulas>
        <name>fmlType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c} = &apos;TH&apos;, &apos;Domestic&apos;, &apos;International&apos;)</expression>
    </formulas>
    <formulas>
        <name>notifyApprovalBody</name>
        <dataType>String</dataType>
        <expression>&apos;Committee has been &apos; + {!fmlBlockingResult} + &apos; to block this &apos; + {!fmlAccountType}</expression>
    </formulas>
    <formulas>
        <name>notifyApprovalTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c} + &apos; &apos; + {!fmlBlockingDetail}</expression>
    </formulas>
    <formulas>
        <name>notifyRevertedBody</name>
        <dataType>String</dataType>
        <expression>&apos;The financial manager has returned the blocking request to you. Please revise and re-submit.&apos;</expression>
    </formulas>
    <formulas>
        <name>notifyRevertedTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c} + &quot;&apos;s block request need your revise&quot;</expression>
    </formulas>
    <formulas>
        <name>notifySubmitFAManagerBody</name>
        <dataType>String</dataType>
        <expression>&quot;Please review request for committee approval&quot;</expression>
    </formulas>
    <formulas>
        <name>notifySubmitFAManagerTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CompanyName__c} + &quot;&apos;s block request need your review&quot;</expression>
    </formulas>
    <formulas>
        <name>notifySubmitToCommitteeBody</name>
        <dataType>String</dataType>
        <expression>&apos;Please kindly approve the block &apos; + {!fmlAccountType} + &apos; request.&apos;</expression>
    </formulas>
    <formulas>
        <name>notifySubmitToCommitteeTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Customer__r.Name} + &quot;&apos;s block request need your approval&quot;</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemBlockCommitteeApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemBlockCommitteeApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>findMDC</name>
        <label>findMDC</label>
        <locationX>446</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMDC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAPInformation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TXMO</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFAManager</name>
        <label>getFAManager</label>
        <locationX>776</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>findUsers.varTargetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMDC</name>
        <label>getMDC</label>
        <locationX>446</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkApprovalMDC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employee_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>findMDC.EmployeeId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMetaUsers</name>
        <label>getMetaUsers</label>
        <locationX>776</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>findUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.fmlPositionNameOfFinancial__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SummaryReport</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND (3 OR 4)</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerBlock</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierBlock</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>findUsers</name>
        <label>findUsers</label>
        <locationX>776</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>getFAManager</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>getMetaUsers</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>emailCustomerResultBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear all,&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} &apos;s block request has been {!fmlBlockingResult} by committee and system {!fmlBlockingDetail} this {!$Record.fmlAccountTypeName__c}. You can see detail via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.CompanyNameENF__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Order Block by Selected Sales Area: {!$Record.OrderBlock__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason: {!$Record.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;This is an automatic generated email, please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailCustomerSubmitFAManagerBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!getFAManager.FirstName} !getFAManager.LastName},&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} has been requested for blocking.&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please proceed via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.CompanyNameENF__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Order Block by Selected Sales Area: {!$Record.OrderBlock__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason: {!$Record.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;This is an automatic generated email, please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSupplierResultBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear all,&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} &apos;s block request has been {!fmlBlockingResult} by committee and system {!fmlBlockingDetail} this {!$Record.fmlAccountTypeName__c}. You can see detail via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.CompanyNameENF__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Selected Purchasing Organization: {!fmlSupplierBlock}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason: {!$Record.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;This is an automatic generated email, please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSupplierSubmitFAManagerBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear {!getFAManager.FirstName} {!getFAManager.LastName},&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!$Record.CTRRequestFormHeader__r.CompanyNameENF__c} has been requested for blocking.&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please proceed via &lt;/span&gt;&lt;a href=&quot;{!fmlRecLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.CompanyNameENF__c}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Responsible Financial Name: {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Selected Purchasing Organization: {!fmlSupplierBlock}&lt;/span&gt;&lt;/p&gt;
&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Reason: {!$Record.BlockedReason__c}&lt;/span&gt;&lt;/p&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;
&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;
&lt;em style=&quot;font-family: sans-serif;&quot;&gt;This is an automatic generated email, please do not reply to this address.&lt;/em&gt;</text>
    </textTemplates>
    <variables>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTargetRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
