force-app/main/default/flows/CTRTriggerReqItemNotifyShipto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendNotificationTrader_Rejected_MDCMRejected</name>
        <label>sendNotificationTrader</label>
        <locationX>1282</locationX>
        <locationY>1187</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle_Rejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody_Rejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendNotificationTraderMDCM_MDCMApproved</name>
        <label>sendNotificationTraderMDCM</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>getCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotifyTitle_Approved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotifyBody_Approved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>varTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignMDCM_Approved_MDCMApproved</name>
        <label>assignMDCM</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.MDCName__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.MDCName__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkTraderID_Approved_MDCMApproved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign target record to variable as hyperlink</description>
        <name>assignTargetRec</name>
        <label>assignTargetRec</label>
        <locationX>1271</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRequestStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader_Approved_MDCMApproved</name>
        <label>assignTrader</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotificationTraderMDCM_MDCMApproved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTrader_Rejected_MDCMRejected</name>
        <label>assignTrader</label>
        <locationX>1282</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>recipientEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendNotificationTrader_Rejected_MDCMRejected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckMDCMApprovalStatus_Approved</name>
        <label>CheckMDCMApprovalStatus</label>
        <locationX>468</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>MDCMApproved_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MDCMApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkMDCMID_Approved_MDCMApproved</targetReference>
            </connector>
            <label>MDCMApproved</label>
        </rules>
        <rules>
            <name>MDCMRejected_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MDCMApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RejectedSen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MDCMApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RejectedNon</stringValue>
                </rightValue>
            </conditions>
            <label>MDCMRejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMDCMApprovalStatus_Reject</name>
        <label>checkMDCMApprovalStatus</label>
        <locationX>1414</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>MDCMApproved_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MDCMApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <label>MDCMApproved</label>
        </rules>
        <rules>
            <name>MDCMRejected_Reject</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MDCMApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RejectedSen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MDCMApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RejectedNon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkTraderID_Rejected_MDCMRejected</targetReference>
            </connector>
            <label>MDCMRejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkMDCMID_Approved_MDCMApproved</name>
        <label>checkMDCMID</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>checkTraderID_Approved_MDCMApproved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingMDCM</defaultConnectorLabel>
        <rules>
            <name>FoundMDCMID_Approved_MDCMApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MDCName__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MDCName__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMDCM_Approved_MDCMApproved</targetReference>
            </connector>
            <label>FoundMDCMID</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRequestStatus</name>
        <label>CheckRequestStatus</label>
        <locationX>1271</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Exception</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckMDCMApprovalStatus_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkMDCMApprovalStatus_Reject</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_Approved_MDCMApproved</name>
        <label>checkTraderID</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>sendNotificationTraderMDCM_MDCMApproved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MissingTraderID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_Approved_MDCMApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTrader_Approved_MDCMApproved</targetReference>
            </connector>
            <label>FoundTraderID</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkTraderID_Rejected_MDCMRejected</name>
        <label>checkTraderID</label>
        <locationX>1414</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>MissingTraderID</defaultConnectorLabel>
        <rules>
            <name>FoundTraderID_Rejected_MDCMRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTrader_Rejected_MDCMRejected</targetReference>
            </connector>
            <label>FoundTraderID</label>
        </rules>
    </decisions>
    <description>22/04/2024 Edit entry criteria for using &quot;OR&quot; condition between record type.</description>
    <environments>Default</environments>
    <formulas>
        <name>EDDAMMRejectEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Not Endorse by AMM for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot;  &amp;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDCEORejectEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Not Approve by CEO for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot;  &amp;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Compliance Advice for Enhance Due Diligence of Required for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDEVPCRejectEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Not to register New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDEVPCtoTraderEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Propose Counter Party Registration in AMM for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDNotProceedEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Not to Further Proceed Enhance Due Diligence Required for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>EDDTraderEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Enhance Due Diligence Required for New &quot; &amp; {!$Record.fmlAccountTypeName__c} &amp; &quot; Registration for &quot; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <description>Subject email</description>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA] Initial: &quot;&amp; {!$Record.Customer__r.Name} &amp;&quot; Enhance Due Diligence Required for New Customer Registration&quot;</expression>
    </formulas>
    <formulas>
        <name>fmlCountry</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmlOrg</name>
        <dataType>String</dataType>
        <expression>IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Customer&apos;), TEXT({!getRequestItemRecord.SalesOrganization__c}), IF(contains({!getRequestItemRecord.RecordType.DeveloperName}, &apos;Supplier&apos;),TEXT({!getRequestItemRecord.PurchasingOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fmlTRCRTeam</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.BusinessUnit__c}, &apos;TOP&apos;, &apos;TRCR&apos;, &apos;TX&apos;, &apos;FATX&apos;, &apos;LABIX&apos;, &apos;FALB&apos;, &apos;TRCR&apos;)</expression>
    </formulas>
    <formulas>
        <name>NotifyBody_Approved</name>
        <dataType>String</dataType>
        <expression>&quot;Customer Information has been approved by Master Data Controller Manager. Please send information to SAP.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyBody_Rejected</name>
        <dataType>String</dataType>
        <expression>&quot;Customer Information has been rejected by Master Data Controller Manager. Please revise and proceed next step.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle_Approved</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot;&apos;s&quot; &amp; &quot; Information is Approved.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotifyTitle_Rejected</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot;&apos;s&quot; &amp; &quot; Information is Rejected.&quot;</expression>
    </formulas>
    <formulas>
        <name>NotProceedNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &quot; Enhance Due Diligence Required for New Customer Registration is Not Proceed&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varTargetRecord}</expression>
    </formulas>
    <formulas>
        <name>TOPSupplierApprovedEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA][&apos; &amp; {!$Record.SubBU__c} &amp; &apos;]: Informing for Approval of New &apos; &amp; {!$Record.fmlAccountTypeName__c} &amp; &apos; Registration: &apos; &amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>TOPSupplierApprovedNotifyBody</name>
        <dataType>String</dataType>
        <expression>&apos;This &apos; &amp; {!$Record.fmlAccountTypeName__c} &amp; &apos; was approved.&apos;</expression>
    </formulas>
    <formulas>
        <name>TOPSupplierApprovedNotifyTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp; &apos; was Approved.&apos;</expression>
    </formulas>
    <formulas>
        <name>TRCREmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[FYA][&quot; &amp; {!$Record.SubBU__c} &amp; &quot;] Initial: &quot;&amp; {!$Record.CTRRequestFormHeader__r.Customer__r.Name} &amp;&quot; New Registration Requires Your Review&quot;</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItemNotifyShipto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemNotifyShipto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get custom notification ID (API: CTRNotification)</description>
        <name>getCustomNotification</name>
        <label>getCustomNotification</label>
        <locationX>1271</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignTargetRec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrgWide</name>
        <label>getOrgWide</label>
        <locationX>1271</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRequestItemRecord</name>
        <label>getRequestItemRecord</label>
        <locationX>1271</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrgWide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1145</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRequestItemRecord</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND (5 OR 6) AND (7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ShipToCreate</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ShipToEdit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MDCMApprovalStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>MDCMApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>MDCMApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RejectedSen</stringValue>
            </value>
        </filters>
        <filters>
            <field>MDCMApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RejectedNon</stringValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CEOtoTRCRHHEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear TRCR/FALB/FATX Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Customer__r.CompanyNameENF__c}&lt;/span&gt; completed a trader sheet, conducted a compliance check, uploaded detailed documents, and the credit rating awaits evaluation.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: {!$Record.Customer__r.CompanyNameENF__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be:{!$Record.fmlAccountTypeName__c}: {!$Record.InterestedProductTypeAsCustomerTOP__c}{!$Record.InterestedProductTypeAsCustomerTX__c}{!$Record.InterestedProductTypeAsSupplierTOP__c}{!$Record.InterestedProductTypeAsSupplierTX__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM: {!$Record.EndorseDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Approved Enhanced Due Diligence Result by CEO: {!$Record.ApproveDDbyCEO__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review due diligence result by proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CEOtoTRCRHighEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!fmlTRCRTeam},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} completed a trader sheet, conducted a compliance check, uploaded detailed documents, and the credit rating awaits evaluation.&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.Customer__r.Name}{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:&amp;nbsp;{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice to proceed with the CTR: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09:&amp;nbsp;{!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM: {!$Record.EndorseDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Approved Enhanced Due Diligence Result by CEO: {!$Record.ApproveDDbyCEO__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review due diligence result by proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CPCEtoVPEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.fmlPositionNameOfVP__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!$Record.Customer__r.Name} has got high risk level on Compliance Risk.&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE : {!$Record.CPXXReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Please review the due diligence result by proceeding via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHHNotProceedtoTraderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high-high final risk level in Compliance. And not proceed with the counterparty registration please inform your customer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC: {!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM:&amp;nbsp;{!$Record.EndorseDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Approved Enhanced Due Diligence Result by CEO:&amp;nbsp;{!$Record.ApproveDDbyCEO__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review due diligence result by proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHHProceedEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.CTREDDDearHeaderForEmail__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;has high-high final risk level in Compliance.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.EVPCReviewEDDResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM:&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.EndorseDueDiligenceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Approved Enhanced Due Diligence Result by CEO:&amp;nbsp;&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.ApproveDDbyCEO__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review due diligence result by proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighAMMRejectEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high &lt;span style=&quot;font-size: 13px;&quot;&gt;risk level in sanction and compliance. AMM is not endorse to register this company. Please inform the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Compliance Advice to proceed with the CTR&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM:&amp;nbsp;{!$Record.EndorseDueDiligenceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find Enhancement Due Diligence result via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighCEORejectEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high risk level in sanction and compliance. &lt;span style=&quot;font-size: 13px;&quot;&gt;CEO is not approve to register this company. Please inform the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Compliance Advice to proceed with the CTR&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM: {!$Record.EndorseDueDiligenceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Approved Enhanced Due Diligence Result by CEO: {!$Record.ApproveDDbyCEO__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find Enhancement Due Diligence result via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighEVPCRejectEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high &lt;span style=&quot;font-size: 13px;&quot;&gt;risk level in sanction and compliance. The result of Enhance Due Diligence is not to register this company. Please inform the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Compliance Advice to proceed with the CTR&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Please find Enhancement Due Diligence result via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighEVPCtoTraderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName}&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high risk level in sanction and compliance. &lt;span style=&quot;font-size: 13px;&quot;&gt;The result of Enhance Due Diligence is to further proceed counterparty registration. Please process to propose in AMM for approval.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Compliance Advice&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by EVPC:&amp;nbsp;{!$Record.EVPCReviewEDDResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Endorsed Enhanced Due Diligence Result by AMM: {!$Record.EndorseDueDiligenceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find Enhancement Due Diligence result via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighNotProceedtoTraderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Commercial team has decided to not further proceed Enhance Due Diligent for &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; &lt;span style=&quot;font-size: 13px;&quot;&gt;as has high risk level in sanction and compliance.Please inform the customer.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find due diligence result via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHightoCPCEEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Dear CPCE Team,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; has high risk level in sanction and compliance. GLGC team recommended to not register this company. Please find GLGC&apos;s advice and further proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;EDD Working Team Comment:&amp;nbsp;{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Compliance Advice:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 13px;&quot;&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHightoEVPCEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear EVPC,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt; has high risk level in sanction and compliance. &lt;span style=&quot;font-size: 13px;&quot;&gt;GLGC team recommended to not register this company. Please find GLGC&apos;s advice and further proceed via&lt;/span&gt; &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Compliance Advice to proceed with the CTR&lt;/span&gt;:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Review Due Diligence Result by CMVP/SA09: {!$Record.CMVPReviewDueDiligenceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHightoGLGCEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Dear GLGC Team,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;has high risk level in sanction and compliance. Please review due diligence result via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; and further process compliance advice. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;EDD Working Team Comment: {!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;This is an automatic generated email, please do not reply to this email address&quot;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHightoVPEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Dear {!$Record.OwnersCMVP__r.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.OwnersCMVP__r.LastName}&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; has high risk level in sanction and compliance. GLGC team recommended to not register this company. Please find GLGC&apos;s advice and further proceed via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;EDD Working Team Comment:{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Compliance Advice to proceed with the CTR:&amp;nbsp;{!$Record.ComplianceAdviceResult__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Enhance Due Diligence Comment by CPCE:&amp;nbsp;{!$Record.CPXXReviewDueDiligenceComment__c}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 13px;&quot;&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EDDHighTraderProceedEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear EDD Working Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CTRRequestFormHeader__r.Customer__r.Name} &lt;/span&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;has high risk level in sanction and compliance. Please review due diligence result via &lt;/span&gt;&lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 13px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt; and further process Enhance Due Diligent. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: docs-Tahoma; font-size: 12px;&quot;&gt;Tr&lt;/span&gt;ader Review Result: {!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatic generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GLGCtoTRCREmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!fmlTRCRTeam},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Customer__r.CompanyNameENF__c}&lt;/span&gt; requires your credit evaluation. Please see the EDD Result and proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;span style=&quot;font-size: 13px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: {!$Record.Customer__r.CompanyNameENF__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product: {!$Record.ProductName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Responsible Trader Name: {!$Record.Owner:User.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Owner:User.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Trader Review Result:&amp;nbsp;{!$Record.EnhanceDueDiligenceProceedByTrader__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;EDD Working Team Comment:&amp;nbsp;{!$Record.EnhanceDueDiligenceCommentByEDD__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Compliance Advice to proceed with the CTR: {!$Record.ComplianceAdviceResult__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;&lt;em&gt;This is an automatically generated email, please do not reply to this email address&lt;/em&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TOPSupplierApprovedEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We would like to inform that {!$Record.CTRRequestFormHeader__r.Customer__r.Name} was Approved.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Company Name: {!$Record.CTRRequestFormHeader__r.Customer__r.Name}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Interested to be: {!$Record.fmlAccountTypeName__c}&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;Product Name: {!$Record.ProductName__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please see the details and proceed via &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best Regards,&lt;/p&gt;&lt;p&gt;Counterparties Registration Automated System&lt;/p&gt;&lt;p&gt;This is an automatic generated email. Please do not reply to this email address&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CEORecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recipient emails for sending email</description>
        <name>recipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TraderRecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TRCRrecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TRCRrecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Target record ID using with hyperlink</description>
        <name>varTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
