force-app/main/default/flows/CTRTriggerRequestFormItemAssignQueueOwner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignMember</name>
        <label>Assign Member</label>
        <locationX>468</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>GroupMemberId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQueueMember.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQueueMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCreatedByUser</name>
        <label>Check Created By User</label>
        <locationX>380</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>UpdateRequestForm_AssignQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Created By Not In Queue</defaultConnectorLabel>
        <rules>
            <name>UserIdIsInQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupMemberId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRequestForm_AssignUser</targetReference>
            </connector>
            <label>User Id Is In Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckforGettingCustomMetadata</name>
        <label>Check for Getting Custom Metadata</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateRequestForm_AssignUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOPCustomerProductNotOtherProducts</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1400</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1700</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsCustomerTOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsCustomerTOP__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAssignedQueuefromMetadata_TOPCustomerNotOtherProducts</targetReference>
            </connector>
            <label>TOP Customer Product != Other Products</label>
        </rules>
        <rules>
            <name>TOPCustomerProductIsOtherProducts</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1400</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1700</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsCustomerTOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsCustomerTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Products</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAssignedQueuefromMetadata_TOPCustomerIsOtherProducts</targetReference>
            </connector>
            <label>TOP Customer Product = Other Products</label>
        </rules>
        <rules>
            <name>TOPSupplierProductIsAll</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurchasingOrganizationTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CompanyCodeTOP__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1700</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsSupplierTOP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAssignedQueuefromMetadata_TOPSupplierIsAllProducts</targetReference>
            </connector>
            <label>TOP Supplier Product = All</label>
        </rules>
        <rules>
            <name>TXCustomerSupplierProductIsAll</name>
            <conditionLogic>((1 OR 2) AND (3 OR 4 OR 5 OR 6 OR 7) AND 8) OR ((9 OR 10) AND (11 OR 12 OR 13 OR 14 OR 15) AND 16)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9300</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9400</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsCustomerTX__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierInitial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SupplierExtend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurchasingOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurchasingOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurchasingOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurchasingOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>S100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PurchasingOrganizationTX__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InterestedProductTypeAsSupplierTX__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAssignedQueuefromMetadata_TXCustomerORSupplierIsAllProduct</targetReference>
            </connector>
            <label>TX Customer/Supplier Product = All</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMetadata</name>
        <label>Check Metadata</label>
        <locationX>578</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Metadata = Null</defaultConnectorLabel>
        <rules>
            <name>MetadataNotNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAssignedQueuefromMetadata_TOPCustomerNotOtherProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQueue</targetReference>
            </connector>
            <label>Metadata =! Null</label>
        </rules>
    </decisions>
    <description>14-Jun-2024 Revise flow with conditions that align to metadata.</description>
    <environments>Default</environments>
    <formulas>
        <name>CountryFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <interviewLabel>CTRTriggerReqItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerRequestFormItemAssignQueueOwner</label>
    <loops>
        <name>LoopQueueMember</name>
        <label>Loop Queue Member</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <collectionReference>GetQueueMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckCreatedByUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAssignedQueuefromMetadata_TOPCustomerIsOtherProducts</name>
        <label>Get Assigned Queue from Metadata</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMetadata</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>RequestFormRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InterestedProductTypeAsCustomerTOP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRAssignRequestItemOwner__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QueueDeveloperName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAssignedQueuefromMetadata_TOPCustomerNotOtherProducts</name>
        <label>Get Assigned Queue from Metadata</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMetadata</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>RequestFormRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrganizationTOP__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InterestedProductTypeAsCustomerTOP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRAssignRequestItemOwner__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QueueDeveloperName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAssignedQueuefromMetadata_TOPSupplierIsAllProducts</name>
        <label>Get Assigned Queue from Metadata</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMetadata</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>RequestFormRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PurchasingOrganizationTOP__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CompanyCodeTOP__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InterestedProductTypeAsSupplierTOP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRAssignRequestItemOwner__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QueueDeveloperName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAssignedQueuefromMetadata_TXCustomerORSupplierIsAllProduct</name>
        <label>Get Assigned Queue from Metadata</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckMetadata</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>RequestFormRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrganizationTX__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Organization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PurchasingOrganizationTX__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRAssignRequestItemOwner__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QueueDeveloperName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueue</name>
        <label>Get Queue</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQueueMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAssignedQueuefromMetadata_TOPCustomerNotOtherProducts.QueueDeveloperName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueueMember</name>
        <label>Get Queue Member</label>
        <locationX>380</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQueueMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQueue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestForm_AssignQueue</name>
        <label>Update Request Form</label>
        <locationX>512</locationX>
        <locationY>1319</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRequestForm_AssignUser</name>
        <label>Update Request Form</label>
        <locationX>248</locationX>
        <locationY>1319</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckforGettingCustomMetadata</targetReference>
        </connector>
        <filterFormula>AND(NOT(ISNULL({!$Record.RecordTypeId})),OR({!$Record.RecordType.DeveloperName}=	&quot;CustomerInitial&quot;,{!$Record.RecordType.DeveloperName}=&quot;SupplierInitial&quot;,{!$Record.RecordType.DeveloperName}=&quot;CustomerExtend&quot;,{!$Record.RecordType.DeveloperName}=&quot;SupplierExtend&quot;))</filterFormula>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>GroupMemberId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
