force-app/main/default/flows/CTRTRCRSubmitEditfCounterPartyforApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallEditCounterpartyApprovalProcess</name>
        <label>Call Edit Counterparty Approval Process</label>
        <locationX>1029</locationX>
        <locationY>2090</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>GetProcessInstance</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>RecipientSHId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CTR_TOP_Edit_TRCR_FALB_SH_Approve2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <outputParameters>
            <assignToReference>ProcessInstanceId</assignToReference>
            <name>instanceId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendBellNotificationtoFATXSH</name>
        <label>Send Bell Notification to TXFA S/H</label>
        <locationX>1161</locationX>
        <locationY>2630</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmailtoTXTXFASH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientSHId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>FmlNotifySubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>FmlNotifybody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>VarTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendBellNotificationtoLABIXSH</name>
        <label>Send Bell Notification to LABIX S/H</label>
        <locationX>897</locationX>
        <locationY>2522</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmailtoLABIXFALB</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientSHId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>FmlNotifySubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>FmlNotifybody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>VarTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendBellNotificationtoTOPSH</name>
        <label>Send Bell Notification to TOP S/H</label>
        <locationX>633</locationX>
        <locationY>2522</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>SendEmailtoTOPTRCR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientSHId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>FmlNotifySubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>FmlNotifybody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>VarTargetRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoLABIXFALB</name>
        <label>Send Email to LABIX FALB</label>
        <locationX>897</locationX>
        <locationY>2630</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendEmailtoLABIXFALBSH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>GetOrgwideEmail.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>LABIXEmailTitleSH</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LABIXEmailBodySH</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>VarTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoLABIXFALBSH</name>
        <label>Send Email to LABIX FALB S/H</label>
        <locationX>897</locationX>
        <locationY>2738</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientSHEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>GetOrgwideEmail.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>LABIXEmailTitleSH</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LABIXEmailBodySH</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>VarTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoTOPTRCR</name>
        <label>Send Email to TOP TRCR</label>
        <locationX>633</locationX>
        <locationY>2630</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendEmailtoTOPTRCRSH</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>GetOrgwideEmail.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TOPEmailTitleSH</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TOPEmailBodySH</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>VarTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoTOPTRCRSH</name>
        <label>Send Email to TOP TRCR S/H</label>
        <locationX>633</locationX>
        <locationY>2738</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientSHEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>GetOrgwideEmail.OrgWideEmailAddress__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TOPEmailTitleSH</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TOPEmailBodySH</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>VarTargetRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoTXTXFASH</name>
        <label>Send Email to TX TXFA S/H</label>
        <locationX>1161</locationX>
        <locationY>2738</locationY>
        <actionName>CTRFlowEmailCTR</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>mEmailCCList</name>
            <value>
                <elementReference>RecipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mEmailToList</name>
            <value>
                <elementReference>RecipientSHEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mRecordId</name>
            <value>
                <elementReference>GetRequestItemRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mTemplateId</name>
            <value>
                <elementReference>GetEmailTemplate_TX.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CTRFlowEmailCTR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignFALB</name>
        <label>Assign FALB</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindFALB.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindFALB.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetFALBSHMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFALBSH</name>
        <label>Assign FALB S/H</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>RecipientSHId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindFALBSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientSHEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindFALBSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTargetRecord</name>
        <label>Assign Target Record</label>
        <locationX>1359</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarTargetRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckBusinessUnit_AssignTRCRSH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTrader</name>
        <label>Assign Trader</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTraderSH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTraderSH</name>
        <label>Assign Trader S/H</label>
        <locationX>1634</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.OwnersSectionHead__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRequestItemRecord.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTRCR</name>
        <label>Assign TRCR</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RecipientId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindTRCR.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindTRCR.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTRCRSHMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTRCRSH</name>
        <label>Assign TRCR S/H</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>RecipientSHId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindTRCRSH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientSHEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindTRCRSH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRecipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTXFASH</name>
        <label>Assign TXFA S/H</label>
        <locationX>1766</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>RecipientSHId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindTXFASH.varTargetIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecipientSHEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindTXFASH.varTargetEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckTrader</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckBusinessUnit_AssignTRCRSH</name>
        <label>Check Business Unit</label>
        <locationX>1359</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP_TRCRSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTRCRMetadata</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>LABIX_FALBSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFALBMetadata</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
        <rules>
            <name>TX_FALBSH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTXFASHMetadata</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckBusinessUnit_TRCRSHNoReview</name>
        <label>Check Business Unit</label>
        <locationX>1029</locationX>
        <locationY>2414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TOP_TRCRSHNoReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TOP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendBellNotificationtoTOPSH</targetReference>
            </connector>
            <label>TOP</label>
        </rules>
        <rules>
            <name>LABIX_FALBSHNoReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LABIX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendBellNotificationtoLABIXSH</targetReference>
            </connector>
            <label>LABIX</label>
        </rules>
        <rules>
            <name>TX_TXFASHNoReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.BusinessUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEmailTemplate_TX</targetReference>
            </connector>
            <label>TX</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFALB</name>
        <label>Check FALB</label>
        <locationX>1172</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>FALB = Null</defaultConnectorLabel>
        <rules>
            <name>FALBNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindFALB.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindFALB.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFALB</targetReference>
            </connector>
            <label>FALB != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFALBSH</name>
        <label>Check FALB S/H</label>
        <locationX>974</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FALBSHNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindFALBSH.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindFALBSH.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFALBSH</targetReference>
            </connector>
            <label>FALB S/H != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecipients</name>
        <label>Check Recipients</label>
        <locationX>1359</locationX>
        <locationY>1874</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecipientsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientSHEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecipientSHId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationforSubmitforApproval</targetReference>
            </connector>
            <label>Recipients != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTrader</name>
        <label>Check Trader</label>
        <locationX>1766</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>CheckTraderSH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Trader = Null</defaultConnectorLabel>
        <rules>
            <name>TraderNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.Owner:User.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTrader</targetReference>
            </connector>
            <label>Trader != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTraderSH</name>
        <label>Check Trader S/H</label>
        <locationX>1766</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>CheckRecipients</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Trader S/H = Null</defaultConnectorLabel>
        <rules>
            <name>TraderSHNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRequestItemRecord.OwnersSectionHead__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRequestItemRecord.OwnersSectionHead__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTraderSH</targetReference>
            </connector>
            <label>Trader S/H != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTRCR</name>
        <label>Check TRCR</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>TRCR = Null</defaultConnectorLabel>
        <rules>
            <name>TRCRNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindTRCR.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindTRCR.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTRCR</targetReference>
            </connector>
            <label>TRCR != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTRCRSH</name>
        <label>Check TRCR S/H</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRCRSHNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindTRCRSH.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindTRCRSH.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTRCRSH</targetReference>
            </connector>
            <label>TRCR S/H != Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTXFASH</name>
        <label>Check TXFA S/H</label>
        <locationX>1920</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>TXFA S/H = Null</defaultConnectorLabel>
        <rules>
            <name>TXFASHNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindTXFASH.varTargetIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindTXFASH.varTargetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTXFASH</targetReference>
            </connector>
            <label>TXFA S/H != Null</label>
        </rules>
    </decisions>
    <description>[26-Jun-2024]
- Edit condition for getting TRCR from metadata (Element: GetTRCRMetadata).
- Edit condition for getting TRCR S/H from metadata (Element: GetTRCRSHMetadata).
- Edit condition for getting FALB from metadata (Element: GetFALBMetadata).
- Edit condition for getting FALB S/H from metadata (Element: GetFALBSHMetadata).
- Edit condition for getting TXFA S/H from metadata (Element: GetTXFASHMetadata).</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckRecordType</name>
        <dataType>String</dataType>
        <expression>IF(contains({!GetRequestItemRecord.RecordTypeName__c}, &apos;Customer&apos;), TEXT({!GetRequestItemRecord.SalesOrganization__c}), IF(contains({!GetRequestItemRecord.RecordTypeName__c}, &apos;Supplier&apos;),TEXT({!GetRequestItemRecord.SalesOrganization__c}),&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>fmlCountry</name>
        <dataType>String</dataType>
        <expression>IF({!GetRequestItemRecord.CTRRequestFormHeader__r.Country__r.Code__c}=&quot;TH&quot;, &quot;Domestic&quot;, &quot;International&quot;)</expression>
    </formulas>
    <formulas>
        <name>FmlNotifybody</name>
        <dataType>String</dataType>
        <expression>{!GetRequestItemRecord.Name} +&quot; &quot;+ &quot;is submitted to you. Please provide your approval to proceed further.&quot;</expression>
    </formulas>
    <formulas>
        <name>FmlNotifySubject</name>
        <dataType>String</dataType>
        <expression>&quot;Request Number&quot;+&quot; &quot;+{!GetRequestItemRecord.Name}+&quot; &quot;+&quot; is submitted to you. Please provide your approval to proceed further.&quot;</expression>
    </formulas>
    <formulas>
        <name>LABIXEmailTitle</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI]:&apos;+&apos; &apos;+ {!GetRequestItemRecord.CTRRequestFormHeader__r.Customer__r.Name}+&apos; &apos;+ &apos; FALB request to edit information&apos;</expression>
    </formulas>
    <formulas>
        <name>LABIXEmailTitleSH</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA]&apos;+ &apos;[&apos; + {!GetRequestItemRecord.SubBU__c} + &apos;]:&apos; + &apos; FALB request to edit information: &apos; + {!GetRequestItemRecord.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>ProcessInstanceLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!GetProcessInstanceWorkItem.Id}</expression>
    </formulas>
    <formulas>
        <name>RecordLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!VarTargetRecord}</expression>
    </formulas>
    <formulas>
        <name>TOPEmailTitle</name>
        <dataType>String</dataType>
        <expression>&apos;[FYI]:&apos;+&apos; &apos;+ {!GetRequestItemRecord.CTRRequestFormHeader__r.Customer__r.Name}+&apos; &apos;+ &apos; TRCR request to edit information&apos;</expression>
    </formulas>
    <formulas>
        <name>TOPEmailTitleSH</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA]&apos;+ &apos;[&apos; + {!GetRequestItemRecord.SubBU__c} + &apos;]:&apos; + &apos; TRCR request to edit information: &apos; + {!GetRequestItemRecord.Customer__r.Name}</expression>
    </formulas>
    <formulas>
        <name>TXEmailTitleSH</name>
        <dataType>String</dataType>
        <expression>&apos;[FYA]&apos;+ &apos;[&apos; + {!GetRequestItemRecord.SubBU__c} + &apos;]:&apos; + &apos; TXFA request to edit information: &apos; + {!GetRequestItemRecord.Customer__r.Name}</expression>
    </formulas>
    <interviewLabel>CTRTRCRSubmitEditfCounterPartyforApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTRCRSubmitEditfCounterPartyforApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCustomNotification</name>
        <label>Get Custom Notification</label>
        <locationX>1359</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOrgwideEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmailTemplate_TX</name>
        <label>Get Email Template</label>
        <locationX>1161</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendBellNotificationtoFATXSH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTRTXSubmitFASHEditfCounterPartyforApproval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFALBMetadata</name>
        <label>Get FALB Metadata</label>
        <locationX>1172</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindFALB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFALBSHMetadata</name>
        <label>Get FALB S/H Metadata</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindFALBSH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformChangeInformation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreditHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrgwideEmail</name>
        <label>Get Org-wide Email</label>
        <locationX>1359</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignTargetRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrgWideEmailAddress__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRConfig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrgWideEmailAddress__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProcessInstance</name>
        <label>Get Process Instance</label>
        <locationX>1029</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProcessInstanceWorkItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessInstanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProcessInstanceWorkItem</name>
        <label>Get Process Instance Work Item</label>
        <locationX>1029</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBusinessUnit_TRCRSHNoReview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessInstanceId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActorId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.CreditOwnerSectionHead__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRequestItemRecord</name>
        <label>Get Request Item Record</label>
        <locationX>1359</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRRequestFormItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTRCRMetadata</name>
        <label>Get TRCR Metadata</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindTRCR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VerifyDocuments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTRCRSHMetadata</name>
        <label>Get TRCR S/H Metadata</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindTRCRSH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformChangeInformation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreditHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>InterByTX__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTXFASHMetadata</name>
        <label>Get TXFA S/H Metadata</label>
        <locationX>1920</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindTXFASH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InformChangeInformation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CreditHead</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.SubBU__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.ServiceArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRequestItemRecord.fmlAccountTypeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CTRActorInProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Confirmation to Submit</description>
        <name>ConfirmationforSubmitforApproval</name>
        <label>Confirmation for Submit for Approval</label>
        <locationX>1029</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>CallEditCounterpartyApprovalProcess</targetReference>
        </connector>
        <fields>
            <name>RequestEditInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Request Edit Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1233</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRequestItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FindFALB</name>
        <label>Find FALB</label>
        <locationX>1172</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>CheckFALB</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetFALBMetadata</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FindFALBSH</name>
        <label>Find FALB S/H</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>CheckFALBSH</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetFALBSHMetadata</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FindTRCR</name>
        <label>Find TRCR</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>CheckTRCR</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetTRCRMetadata</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FindTRCRSH</name>
        <label>Find TRCR S/H</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>CheckTRCRSH</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetTRCRSHMetadata</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FindTXFASH</name>
        <label>Find TXFA S/H</label>
        <locationX>1920</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>CheckTXFASH</targetReference>
        </connector>
        <flowName>CTRSubFlowGetPISUsers</flowName>
        <inputAssignments>
            <name>varMetaUsers</name>
            <value>
                <elementReference>GetTXFASHMetadata</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>LABIXEmailbody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear All&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;,&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Kindly inform LABIX has request to edit information of {!GetRequestItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please see the detail and proceed via&lt;/span&gt; &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>LABIXEmailBodySH</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-family: sans-serif; font-size: 12px;&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!GetRequestItemRecord.CreditOwnerSectionHead__r.FirstName} {!GetRequestItemRecord.CreditOwnerSectionHead__r.LastName},&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Please kindly approve to edit information of {!GetRequestItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px;&quot;&gt;Please see the detail and proceed via&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;{!ProcessInstanceLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 12px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/span&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TOPEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Dear All&lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;,&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Kindly inform TRCR has request to edit information of {!GetRequestItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please see the detail and proceed via&lt;/span&gt; &lt;a href=&quot;{!RecordLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;br&gt;&lt;br&gt;Best Regards,&lt;br&gt;Counterparties Registration Automated System&lt;br&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TOPEmailBodySH</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-family: sans-serif; font-size: 12px;&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!GetRequestItemRecord.CreditOwnerSectionHead__r.FirstName} {!GetRequestItemRecord.CreditOwnerSectionHead__r.LastName},&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please kindly approve to edit information of {!GetRequestItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Please see the detail and proceed via&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;{!ProcessInstanceLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;.&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Best Regards,&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This is an automatic generated email. Please do not reply to this address.</text>
    </textTemplates>
    <textTemplates>
        <name>TXEmailBodySH</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;Dear &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!GetRequestItemRecord.CreditOwnerSectionHead__r.FirstName} {!GetRequestItemRecord.CreditOwnerSectionHead__r.LastName},&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Please kindly approve to edit information of {!GetRequestItemRecord.CTRRequestFormHeader__r.Customer__r.Name}&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif;&quot;&gt;Please see the detail and proceed via&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;{!ProcessInstanceLinkFormula}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;this link&lt;/a&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;.&lt;/span&gt;&lt;br&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Best Regards,&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Counterparties Registration Automated System&lt;/span&gt;&lt;br&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;This is an automatic generated email. Please do not reply to this address.&lt;/span&gt;</text>
    </textTemplates>
    <variables>
        <name>CTRCounterpartyApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientSHEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientSHId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTargetRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
