force-app/main/default/flows/CTRTriggerReqItemBlockStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assignCustomerBlock</name>
        <label>assignCustomerBlock</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>recSalesArea.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSalesArea.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSalesArea.BlockStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderBlock__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCustomerBlock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSupplierBlock</name>
        <label>assignSupplierBlock</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>recPurchasing.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPurchasingView.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPurchasing.BlockStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SelectedPurchasingOrg__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSupplierBlock</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkType</name>
        <label>checkType</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>getPurchasingView</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Supplier</defaultConnectorLabel>
        <rules>
            <name>typeCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerBlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSalesArea</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <description>[19 Apr 2024] Update SalesOrg field</description>
    <environments>Default</environments>
    <interviewLabel>CTRTriggerReqItemBlockStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTRTriggerReqItemBlockStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPurchasingView</name>
        <label>getPurchasingView</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignSupplierBlock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PurchasingOrg__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PurchasingOrganizationTX__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTRPurchasingView__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSalesArea</name>
        <label>getSalesArea</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCustomerBlock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesOrganization__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DistributionChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DistributionChannel__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Division__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>C360_SalesArea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCustomerBlock</name>
        <label>updateCustomerBlock</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>recSalesArea</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSupplierBlock</name>
        <label>updateSupplierBlock</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputReference>recPurchasing</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkType</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4 OR 5) AND (6 AND 7)</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerBlock</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupplierBlock</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9200</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9300</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesOrganization__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9400</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CTRRequestFormItem__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recPurchasing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CTRPurchasingView__c</objectType>
    </variables>
    <variables>
        <name>recSalesArea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>C360_SalesArea__c</objectType>
    </variables>
</Flow>
