force-app/main/default/flows/E_MOC_Update_Closed_to_Lesson_Learn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_alert_to_MOC_Lesson_learned</name>
        <label>Email alert to MOC Lesson learned</label>
        <locationX>349</locationX>
        <locationY>958</locationY>
        <actionName>E_MOC_Application__c.Email_alert_to_MOC_Lesson_learned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Timeline</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>E_MOC_Application__c.Email_alert_to_MOC_Lesson_learned</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Day</name>
        <label>Assign Day</label>
        <locationX>349</locationX>
        <locationY>1353</locationY>
        <assignmentItems>
            <assignToReference>Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timeline.Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_task_to_MOC_Focal_Point</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_RAM_total</name>
        <label>Check RAM total</label>
        <locationX>341</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RAM_Total__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lesson_Learn_section</targetReference>
            </connector>
            <label>H</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RAM_total_0</name>
        <label>Check RAM total</label>
        <locationX>702</locationX>
        <locationY>461</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_equal_RAM_H</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RAM_Total__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>H</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lesson_Learn_section_0</targetReference>
            </connector>
            <label>Not equal RAM H</label>
        </rules>
    </decisions>
    <description>Use real trigger days</description>
    <environments>Default</environments>
    <formulas>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <expression>Today()+{!Get_Timeline.Day__c}</expression>
    </formulas>
    <interviewLabel>E-MOC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC - Update Closed to Lesson Learn</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_to_MOC_Focal_Point</name>
        <label>Create task to MOC Focal Point</label>
        <locationX>349</locationX>
        <locationY>1563</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_MOC_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.MOC_Focal_Point_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Fill in lesson learned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Timeline</name>
        <label>Get Timeline</label>
        <locationX>349</locationX>
        <locationY>1176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status_Common_Workflow__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Change_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Change_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RAM_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RAM_Total__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>E_MOC_Timeline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lesson_Learn_section</name>
        <label>Update Lesson Learn section</label>
        <locationX>349</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Email_alert_to_MOC_Lesson_learned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Show_Lesson_Learn_section__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Submit_Button_B__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lesson_Learn_section_0</name>
        <label>Update Lesson Learn section</label>
        <locationX>711</locationX>
        <locationY>705</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Show_Lesson_Learn_section__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Show_Submit_Button_B__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_RAM_total_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_Common_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Show_Lesson_Learn_section__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RAM_Total__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Update_close_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>E_MOC_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X30_days</name>
            <connector>
                <targetReference>Check_RAM_total</targetReference>
            </connector>
            <label>30 days</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Update_close_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_minutes</name>
            <label>3 minutes</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Update_close_date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Day</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
