force-app/main/default/flows/E_MOC_FN_Approval_1_2_ASM_Risk_assessment_06_00.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_1_2_Email</name>
        <label>Approval #1 &amp; #2-Email</label>
        <locationX>862</locationX>
        <locationY>1284</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Add_1_Variable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_Approval_1_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sfdc.r2@roundtwosolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_Approval_1_2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Risk_assessment_Email</name>
        <label>Risk assessment-Email</label>
        <locationX>1478</locationX>
        <locationY>1284</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Group_Member_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_Approval_Risk</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sfdc.r2@roundtwosolutions.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_Risk</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_1_Variable</name>
        <label>Add 1-Variable</label>
        <locationX>862</locationX>
        <locationY>1404</locationY>
        <assignmentItems>
            <assignToReference>Add_1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Reminder_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recipient</name>
        <label>Add Recipient</label>
        <locationX>862</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>Recipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_1_2_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recipient_1</name>
        <label>Add Recipient</label>
        <locationX>1478</locationX>
        <locationY>1164</locationY>
        <assignmentItems>
            <assignToReference>Recipient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_1.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Risk_assessment_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Task_Subject</name>
        <label>Check Task Subject</label>
        <locationX>1214</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>Loop_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_1_ASM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval #1 ASM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name</targetReference>
            </connector>
            <label>Approval #1 ASM</label>
        </rules>
        <rules>
            <name>Approval_2_ASM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval #2 ASM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name</targetReference>
            </connector>
            <label>Approval #2 ASM</label>
        </rules>
        <rules>
            <name>Risk_assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Name_1</targetReference>
            </connector>
            <label>Risk assessment</label>
        </rules>
    </decisions>
    <description>Revise subject email</description>
    <environments>Default</environments>
    <interviewLabel>E-MOC-FN-Approval #1 &amp; #2-ASM-Risk assessment-06:00 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC-FN-Approval #1 &amp; #2-ASM-Risk assessment-06:00</label>
    <loops>
        <name>Loop_Group_Member</name>
        <label>Loop Group Member</label>
        <locationX>774</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Group_Member_1</name>
        <label>Loop Group Member</label>
        <locationX>1390</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_Group_Member_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Task</name>
        <label>Loop Task</label>
        <locationX>598</locationX>
        <locationY>444</locationY>
        <collectionReference>Get_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Task_Subject</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>774</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Member_1</name>
        <label>Get Group Member</label>
        <locationX>1390</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue_Name_1.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Name</name>
        <label>Get Queue Name</label>
        <locationX>774</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Task.Assigned_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Name_1</name>
        <label>Get Queue Name</label>
        <locationX>1390</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Member_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Task.Assigned_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>598</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reminder_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>E_MOC_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Functional Override</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>862</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Group_Member.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_1</name>
        <label>Get User</label>
        <locationX>1478</locationX>
        <locationY>1044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Recipient_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Group_Member_1.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Reminder_Date</name>
        <label>Update New Reminder Date</label>
        <locationX>862</locationX>
        <locationY>1524</locationY>
        <connector>
            <targetReference>Loop_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>E_MOC_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Task.E_MOC_Application__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reminder_Count__c</field>
            <value>
                <elementReference>Add_1</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>472</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-16</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body_Approval_1_2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Functional Location : {!Loop_Task.E_MOC_Application__r.Functional_Location__r.Name}
FL Description : {!Loop_Task.E_MOC_Application__r.Functional_Location_Description__c}
Category Type : {!Loop_Task.E_MOC_Application__r.Functional_Override_Category__c}
Status : {!Loop_Task.E_MOC_Application__r.Status_Functional_Override__c}
Link: https://thaioil.lightning.force.com/lightning/r/E_MOC_Application__c/{!Loop_Task.E_MOC_Application__r.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>Body_Approval_Risk</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Functional Location : {!Loop_Task.E_MOC_Application__r.Functional_Location__r.Name}
FL Description : {!Loop_Task.E_MOC_Application__r.Functional_Location_Description__c}
Category Type : {!Loop_Task.E_MOC_Application__r.Functional_Override_Category__c}
Status : {!Loop_Task.E_MOC_Application__r.Status_Functional_Override__c}
Link: https://thaioil.lightning.force.com/lightning/r/E_MOC_Application__c/{!Loop_Task.E_MOC_Application__r.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_Approval_1_2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[E-MOC Application] Please approve Functional Override/{!Loop_Task.E_MOC_Application__r.Name}/{!Loop_Task.E_MOC_Application__r.Functional_Location__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject_Risk</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[E-MOC Application] Please Execute Risk Assessment Functional Override/{!Loop_Task.E_MOC_Application__r.Name}/{!Loop_Task.E_MOC_Application__r.Functional_Location__r.Name}</text>
    </textTemplates>
    <variables>
        <name>Add_1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FinalReminderDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
