force-app/main/default/flows/E_MOC_Update_Manager_in_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Level_of_User</name>
        <label>Check Level of User</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LEVEL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Junior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LEVEL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LEVEL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Supervisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_Manager</targetReference>
            </connector>
            <label>Check</label>
        </rules>
    </decisions>
    <description>Change Report to &gt; SecHeadupUser</description>
    <environments>Default</environments>
    <interviewLabel>E-MOC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-MOC-Update Manager in User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Field_Manager</name>
        <label>Update Field Manager</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ManagerId</field>
            <value>
                <elementReference>$Record.SectHeadUpUser__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Level_of_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SectHeadUpUser__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SectHeadUpUser__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PISUsers__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
