force-app/main/default/flows/ORTLTriggerRiskAutoChangeRiskStatustoMitigate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>FoundNewActionCreated</name>
        <label>Found New Action Created</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewActionHasCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordAction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeRiskStatusToMitigate</targetReference>
            </connector>
            <label>New Action Has Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ORTL Automate Change Risk Status After Create More Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORTL Automate Change Risk Status After Create More Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordAction</name>
        <label>Get Record Action</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundNewActionCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Risk__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Risk__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ORTLAction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ChangeRiskStatusToMitigate</name>
        <label>Change Risk Status To Mitigate</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Risk__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RiskStatus__c</field>
            <value>
                <stringValue>Mitigation</stringValue>
            </value>
        </inputAssignments>
        <object>ORTLRisk__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>ORTLAction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
