force-app/main/default/flows/ORTLTriggerRiskAutoChangeRiskStatustoAwaiting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>CheckStatusInprogress</name>
        <label>Check Status Inprogress</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>FoundInprogress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoInprogress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActionStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRiskStatus</targetReference>
            </connector>
            <label>No Inprogress</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ORTL Automate Update Risk Status to Awaiting Final Assessment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ORTL Automate Update Risk Status to Awaiting Final Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetActionStatus</name>
        <label>Get Action Status</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckStatusInprogress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Risk__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Risk__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ORTLAction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>FoundInprogress</name>
        <label>Found Inprogress</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Risk__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RiskStatus__c</field>
            <value>
                <stringValue>Mitigation</stringValue>
            </value>
        </inputAssignments>
        <object>ORTLRisk__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRiskStatus</name>
        <label>Update Risk Status</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Risk__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RiskStatus__c</field>
            <value>
                <stringValue>Awaiting Final Assessment</stringValue>
            </value>
        </inputAssignments>
        <object>ORTLRisk__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetActionStatus</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>TaskStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>TaskStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ORTLAction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_CollectStatusNotDone_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ORTLAction__c</objectType>
    </variables>
</Flow>
