force-app/main/default/flows/otherSoftwareVersionUpdateAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>redirectRequest</name>
        <label>redirectRequest</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <actionName>c:OPP_RedirectFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OPP_RedirectFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>requestItems</name>
        <dataType>String</dataType>
        <displayField>Software_Other__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <object>OPP_Case_Line_Items__c</object>
        <outputAssignments>
            <assignToReference>itemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>softwareVersionValue</name>
        <dataType>String</dataType>
        <displayField>CHILDSOFTWAREVERSION__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Software__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopUpdateVersion.OPP_Software_Asset__c</elementReference>
            </value>
        </filters>
        <object>OPP_Software_Asset__c</object>
        <outputAssignments>
            <assignToReference>softwareId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CHILDSOFTWAREVERSION__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>otherSoftwareVersionUpdateAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>standardSoftwareVersionUpdateAction</label>
    <loops>
        <name>loopUpdateVersion</name>
        <label>loopUpdateVersion</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>getItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>itemScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>redirectRequest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getItems</name>
        <label>getItems</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopUpdateVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OPP_Case_Line_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateVersion</name>
        <label>updateVersion</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>loopUpdateVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopUpdateVersion.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Software_Name_ChildVersion__c</field>
            <value>
                <elementReference>softwareId</elementReference>
            </value>
        </inputAssignments>
        <object>OPP_Case_Line_Items__c</object>
    </recordUpdates>
    <screens>
        <name>itemScreen</name>
        <label>Request Item</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateVersion</targetReference>
        </connector>
        <fields>
            <name>itemScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>caseNumber</name>
                    <fieldText>&lt;p&gt;Request Number: &lt;b&gt;{!getCase.CaseNumber}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>targetUser</name>
                    <fieldText>&lt;p&gt;Target User&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdateVersion.Asset_Owner__r.FirstName} {!loopUpdateVersion.Asset_Owner__r.LastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>itemScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>softwareName</name>
                    <fieldText>&lt;p&gt;Software Name&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdateVersion.OPP_Software_Asset__r.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>itemScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>softwareVer</name>
                    <choiceReferences>softwareVersionValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loopUpdateVersion.Software_Name_ChildVersion__c</elementReference>
                    </defaultValue>
                    <fieldText>Software Version (If Any)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>itemScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>hardwareInstall</name>
                    <fieldText>&lt;p&gt;Hardware to Install (Win No.)&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdateVersion.OPP_IT_Asset__r.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>itemScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pricePerUnit</name>
                    <fieldText>&lt;p&gt;Price Per Unit&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdateVersion.standardSoftwarePrice__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>itemIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OPP_Case_Line_Items__c</objectType>
    </variables>
    <variables>
        <name>itemLists</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>softwareId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
