force-app/main/default/flows/stationeryPriceUpdateAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>directRequest</name>
        <label>directRequest</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <actionName>c:OPP_RedirectFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OPP_RedirectFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>requestItems</name>
        <dataType>String</dataType>
        <displayField>Software_Other__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <object>OPP_Case_Line_Items__c</object>
        <outputAssignments>
            <assignToReference>itemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>stationeryPriceUpdateAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>stationeryPriceUpdateAction</label>
    <loops>
        <name>loopUpdatePrice</name>
        <label>loopUpdatePrice</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>getItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>itemScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>directRequest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getItems</name>
        <label>getItems</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopUpdatePrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OPP_Case_Line_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatePrice</name>
        <label>updatePrice</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>loopUpdatePrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopUpdatePrice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price_Per_Unit__c</field>
            <value>
                <elementReference>priceUnit</elementReference>
            </value>
        </inputAssignments>
        <object>OPP_Case_Line_Items__c</object>
    </recordUpdates>
    <screens>
        <name>itemScreen</name>
        <label>Request Item</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updatePrice</targetReference>
        </connector>
        <fields>
            <name>itemScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>caseNumber</name>
                    <fieldText>&lt;p&gt;Request Number: &lt;b&gt;{!getCase.CaseNumber}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>itemScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>stationeryType</name>
                    <fieldText>&lt;p&gt;Stationery Type&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdatePrice.Stationery_Item__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>itemScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>onBehalfUser</name>
                    <fieldText>&lt;p&gt;On Behalf Of&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdatePrice.Case__r.Requester__r.FirstName} &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!loopUpdatePrice.Case__r.Requester__r.LastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>itemScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>stationeryName</name>
                    <fieldText>&lt;p&gt;Stationery Name&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdatePrice.Stationery_Other__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>itemScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>priceUnit</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>loopUpdatePrice.Price_Per_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Price Per Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If you don&apos;t know the price yet, please fill in with &apos;0&apos;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>itemIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OPP_Case_Line_Items__c</objectType>
    </variables>
    <variables>
        <name>itemLists</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
