force-app/main/default/flows/SubFlow_Generate_Picklist_to_JSON.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_comma</name>
        <label>assign comma</label>
        <locationX>605</locationX>
        <locationY>1474</locationY>
        <assignmentItems>
            <assignToReference>varJsonOutPut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Json_obj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Json_obj</name>
        <label>assign Json obj</label>
        <locationX>614</locationX>
        <locationY>1147</locationY>
        <assignmentItems>
            <assignToReference>varJsonOutPut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;label&quot;: &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJsonOutPut</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopPicklist.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJsonOutPut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;, &quot;value&quot;: &quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJsonOutPut</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopPicklist.Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJsonOutPut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPicklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignFirstChars</name>
        <label>assignFirstChars</label>
        <locationX>840</locationX>
        <locationY>957</locationY>
        <assignmentItems>
            <assignToReference>varJsonOutPut</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>[</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPicklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLastChars</name>
        <label>assignLastChars</label>
        <locationX>1027</locationX>
        <locationY>1145</locationY>
        <assignmentItems>
            <assignToReference>varJsonOutPut</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>]</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>counting</name>
        <label>counting</label>
        <locationX>842</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>varCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>count_greater_than1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>count_greater_than1</name>
        <label>count greater than1?</label>
        <locationX>833</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>assign_Json_obj</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_comma</targetReference>
            </connector>
            <label>greater than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_picklist_or_not</name>
        <label>found picklist or not?</label>
        <locationX>833</locationX>
        <locationY>784</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_picklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPicklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFirstChars</targetReference>
            </connector>
            <label>found picklist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CTR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow - Generate Picklist to JSON</label>
    <loops>
        <name>LoopPicklist</name>
        <label>LoopPicklist</label>
        <locationX>840</locationX>
        <locationY>1146</locationY>
        <collectionReference>getPicklist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>counting</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignLastChars</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getEntity</name>
        <label>getEntity</label>
        <locationX>841</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getField</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varObjName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getField</name>
        <label>getField</label>
        <locationX>841</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPicklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFieldName</elementReference>
            </value>
        </filters>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getEntity.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPicklist</name>
        <label>getPicklist</label>
        <locationX>841</locationX>
        <locationY>607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_picklist_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getField.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getEntity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJsonOutPut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varObjName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
