force-app/main/default/flows/updateWinNoAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>redirectRequest</name>
        <label>redirectRequest</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <actionName>c:OPP_RedirectFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OPP_RedirectFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>softwareVersionValue</name>
        <dataType>String</dataType>
        <displayField>CHILDSOFTWAREVERSION__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Software__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopUpdateWinNo.OPP_Software_Asset__c</elementReference>
            </value>
        </filters>
        <object>OPP_Software_Asset__c</object>
        <outputAssignments>
            <assignToReference>softwareId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CHILDSOFTWAREVERSION__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>winNoValue</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPoolUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OPP_IT_Asset__c</object>
        <outputAssignments>
            <assignToReference>itemId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>updateWinNoAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateWinNoAction</label>
    <loops>
        <name>loopUpdateWinNo</name>
        <label>loopUpdateWinNo</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>getItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>itemScreen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>redirectRequest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getItems</name>
        <label>getItems</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopUpdateWinNo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OPP_Case_Line_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateWinNo</name>
        <label>updateWinNo</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>loopUpdateWinNo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopUpdateWinNo.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>New_WinNo__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>itemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>New_WinNo__c</field>
            <value>
                <elementReference>itemId</elementReference>
            </value>
        </inputAssignments>
        <object>OPP_Case_Line_Items__c</object>
    </recordUpdates>
    <screens>
        <name>itemScreen</name>
        <label>Request Item</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateWinNo</targetReference>
        </connector>
        <fields>
            <name>itemScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>caseNumber</name>
                    <fieldText>&lt;p&gt;Request Number: &lt;b&gt;{!getCase.CaseNumber}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>itemScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>targetUser</name>
                    <fieldText>&lt;p&gt;Target User&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdateWinNo.Asset_Owner__r.FirstName} {!loopUpdateWinNo.Asset_Owner__r.LastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>itemScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>requestType</name>
                    <fieldText>&lt;p&gt;Request Type&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!getCase.Request_Type__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>itemScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>softwareName</name>
                    <fieldText>&lt;p&gt;Hardware Item&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdateWinNo.Hardware_Item__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>itemScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>hardwareInstall</name>
                    <fieldText>&lt;p&gt;Hardware to Install (Win No.)&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!loopUpdateWinNo.OPP_IT_Asset__r.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getCase.Request_Type__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Replace</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>itemScreen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>itemScreen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newWinNo</name>
                    <choiceReferences>winNoValue</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>loopUpdateWinNo.New_WinNo__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>New Hardware to Install (Win No.)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Win No. will be synced every 7 AM and 12 PM&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>helpWinNo</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Win No. will be synced every 7 AM and 12 PM&lt;/i&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>itemLists</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>softwareId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
